<div id="chairperson_dashboard" class="dashboard-index" style="padding-top:10px;">
  <div class="container" style="background:#fff; padding-top:30px;">

    <h2 style="font-weight: bold;  text-align: center;">您的活动</h2>

    <div class="campaigns-list">
      <% @parties.each do |party| %>
          <div class="well">
            <div class="row">
              <div class="col-md-3" style="padding-left:3px; padding-right:3px;">
                <a href="javascript:void(0);">
                  <div class="image-container">
                    <% if party.logo%>
                        <%= image_tag party.logo+"?id=#{rand(100)}",:style=>"width:100%;max-height:626px" %>
                    <% else%>
                        <%= image_tag 'crown.png', style: "display:block; margin: 25px auto; width:72px"  %>
                    <% end%>
                  </div>
                </a>
              </div>
              <div class="col-md-4 campaign-manage-box">
                <h4 style="word-wrap:break-word;"><%= party.name %></h4>
                <a href="<%=edit_party_path(party)%>" class="btn btn-info">
                  <span class="glyphicon glyphicon-cog"></span>
                  编辑
                </a>
                <a href="<%= party_orders_path(party) %>" class="btn btn-primary" style="border-radius:4px;">
                  <span class="glyphicon glyphicon-cog"></span>
                  活动信息追踪
                </a>
              </div>
              <div class="col-md-5 campaign-info-box">
                <div style="border:0px solid #999;">
                  <div class="row">
                    <div class="col-md-8 raised-count-box">
                      <div class="raised-count">
                        <% if party.has_fee&&party.has_fee %>
                            <strong></strong><label>￥<%= long_price(party.fee_count.ceil/100.0) %>/人</label>
                        <% else %>
                            <strong></strong><label>免费</label>
                        <% end %>
                      </div>

                      <% if party.max_count.nil? %>
                          <!--<div class="empty-goal-box">&nbsp;</div>-->
                      <% else %>
                          <!--<div class="progress">-->
                            <!--<div class="progress-bar" style="width: %= party.progress_percent > 100 ? 100 : party.progress_percent  %>%;">-->
                            <!--</div>-->
                          <!--</div>-->
                          <p class="goal">
                            <% if party.max_count&&party.max_count>0 %>
                                限<span><%= party.max_count %></span>人报名
                            <% else %>
                                不限名额
                            <% end %>
                          </p>
                      <% end %>
                    </div>

                  </div>
                  <div class="row">
                    <table class="campaign-people-box">
                      <tr>
                        <td class="campaign-people-col first-col">
                          参与者&nbsp;<span class="badge"><%= party.participants_count %></span>
                        </td>
                     
                        <td class="campaign-people-col">
                          <% if  party.end_time>DateTime.now%>
                              活动状态&nbsp;<span class="badge">活动已结束</span>
                          <% elsif  party.begin_time>DateTime.now%>
                              活动状态&nbsp;<span class="badge">活动已开始</span>
                          <% elsif  party.register_end>DateTime.now%>
                              活动状态&nbsp;<span class="badge">活动报名已结束</span>
                          <% elsif  party.participants_count_surplus==0%>
                              活动状态&nbsp;<span class="badge">活动名额已满</span>
                          <% else %>
                              活动状态&nbsp;<span class="badge">正在报名</span>
                          <% end %>

                        </td>
                
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
