<body bgcolor="#dddddd">
<table width="640" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#ffffff">
  <tr>
    <td colspan="6" style="padding:5px 0; background-color:#FFF; color:#004690;font-size:10px;text-align:center;font-family:Arial, Helvetica, sans-serif;">
<a href="https://www.entertainment.com/coupon/affiliate_entry.cmd?linkName=CB14FREMAIL&amp;groupId=<%= @campaign.organization.name %>&amp;sellerId=<%= @seller.id %>" reportname="SIDEBTB" frontuid="764367" urlId="355834">Support <%= @seller.user_profile.fullname %></a> &nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;<a href="_TROUBLEVIEWING__" reportname="TROUBLEVIEWING" frontuid="764368" urlId="355835">View Mobile Version</a>&nbsp;&nbsp; | &nbsp;&nbsp;<a href="_TROUBLEVIEWING__" reportname="TROUBLEVIEWING" frontuid="764369" urlId="355836">View with Images </a></td>
  </tr>
  <tr>
    <td width="20"><img src="http://media.entertainment.com/media/fundraising/2014Emails/triggers/FUNDwelcome_01.jpg" width="20" height="31" border="0" style="display:block;" /></td>
    <td width="29"><img src="http://media.entertainment.com/media/fundraising/2014Emails/triggers/FUNDwelcome_02.jpg" width="29" height="31" border="0" style="display:block;" /></td>
    <td width="271"><a href="http://www.entertainment.com/fundraising"><img src="http://media.entertainment.com/media/fundraising/2014Emails/triggers/FUNDwelcome_03.jpg" width="271" height="31" border="0" style="display:block;" /></a></td>
    <td width="273"><a href="http://www.entertainment.com/fundraising"><img src="http://media.entertainment.com/media/fundraising/2014Emails/triggers/FUNDwelcome_04.jpg" width="272" height="31" border="0" style="display:block;" /></a></td>
    <td width="28"><img src="http://media.entertainment.com/media/fundraising/2014Emails/triggers/FUNDwelcome_05.jpg" width="28" height="31" border="0" style="display:block;" /></td>
    <td width="20"><img src="http://media.entertainment.com/media/fundraising/2014Emails/triggers/FUNDwelcome_06.jpg" width="20" height="31" border="0" style="display:block;" /></td>
  </tr>
 <tr>
    <td><img src="http://media.entertainment.com/media/entertainment/email/images/pixel.gif" width="20" height="31" border="0" style="display:block;" /></td>
    <td colspan="4" rowspan="2" style="border-left:1px solid #6c2c78;border-right:1px solid #6c2c78;border-bottom:1px solid #6c2c78;"><table width="598" border="0" cellspacing="0" cellpadding="0">
    <tr>
    <td colspan="3"><a href="http://www.entertainment.com/fundraising"><img src="http://media.entertainment.com/media/fundraising/2014Emails/triggers/FUNDwelcome_09.jpg" alt="Entertainment(R) Fundraising" border="0" style="display:block;" /></a></td>
    </tr>

  <tr>
    <td colspan="3" style="font-family:Arial, Helvetica, sans-serif; color:#6c2c78;text-transform:uppercase;font-size:24px;text-align:center;">Password Reminder</td>
    </tr>
      <tr>
  <td colspan="3"><img src="http://media.entertainment.com/media/entertainment/email/images/pixel.gif" width="530" height="10" border="0" style="display:block;" /></td>
    </tr>
  <tr>
    <td width="28"><img src="http://media.entertainment.com/media/entertainment/email/images/pixel.gif" width="28" height="31" border="0" style="display:block;" /></td>
    <td width="543" style="font-family:Arial, Helvetica, sans-serif; font-size:14px;color:#3f3f3f;">The password for login <strong><%= @user.email %></strong> is <strong><%= @user.password %></strong>. If you are still having trouble logging into the site, please contact our Customer Service team at 877-248-CARE (2273).<br /><br />Thank you!<br />
The Entertainment Fundraising<sup style="font-size:8px;">&reg;</sup> Team <br /><br />
<span style="font-size:11px;"><strong>Questions or comments?</strong> <br />
Please call 1-877-248-CARE (2273).
You can also <a href="https://sellersection.entertainment.com/sellersectionweb/contact_us.htm" style="color:#14467c;text-decoration:none;font-weight:bold;">submit your question online</a>.</span></td>     <td width="28"><img src="http://media.entertainment.com/media/entertainment/email/images/pixel.gif" width="28" height="31" border="0" style="display:block;" /></td>

  </tr>

  
  <tr>
    <td colspan="3"><img src="http://media.entertainment.com/media/entertainment/email/images/pixel.gif" width="530" height="31" border="0" style="display:block;" /></td>
    </tr>

    <tr>
    <td colspan="3"><img src="http://media.entertainment.com/media/entertainment/email/images/pixel.gif" width="530" height="31" border="0" style="display:block;" /></td>
    </tr>
    </table>
</td>
    <td><img src="http://media.entertainment.com/media/entertainment/email/images/pixel.gif" width="20" height="31" border="0" style="display:block;" /></td>
  </tr>
  <tr>
    <td><img src="http://media.entertainment.com/media/entertainment/email/images/pixel.gif" width="20" height="31" border="0" style="display:block;" /></td>
    <td><img src="http://media.entertainment.com/media/entertainment/email/images/pixel.gif" width="20" height="31" border="0" style="display:block;" /></td>
  </tr>
  <tr>
    <td colspan="6"><img src="http://media.entertainment.com/media/entertainment/email/images/pixel.gif" width="640" height="31" border="0" style="display:block;" /></td>
  </tr>
  <tr>
    <td><img src="http://media.entertainment.com/media/entertainment/email/images/pixel.gif" width="20" height="31" border="0" style="display:block;" /></td>
    <td colspan="4"valign="top" style="font-family:Arial, Helvetica, sans-serif;color:#3f3f3f;font-size:11px;text-align:center;">This email has been sent to <span style="color:#14467c;text-decoration:none;"><%= @user.email %></span> because our records indicate that you<br />have opted in to receive emails from Entertainment&reg;. If you no longer want to receive<br />emails from Entertainment&reg;, please <a href="https://www.entertainment.com/coupon/optout.cmd?email=<%= @user.email %>" target="_blank" style="color:#14467c;text-decoration:none;">click here</a> to update your email preferences.
<br /><br />
The Entertainment&reg; book is part of the Entertainment&reg; membership program.<br />
<br /><img src="http://media.entertainment.com/media/entertainment/email/images/TClineSOLID.png" border="0" /><br />
<br />
Entertainment&reg;, Entertainment.com&reg;, Entertainment Fundraising&reg;, <img src="http://media.entertainment.com/media/entertainment/email/images/ENTcrown2015.png" border="0"   alt="Entertainment Crown Logo" height="12" />, <img src="http://media.entertainment.com/media/entertainment/email/images/ENTscript2015.png" alt="Entertainment Script Logo" border="0" height="12" />, and Raisy&trade;<br />
are trademarks of HSP EPI Acquisition, LLC.
</td>
    <td><img src="http://media.entertainment.com/media/entertainment/email/images/pixel.gif" width="20" height="31" border="0" style="display:block;" /></td>
  </tr>
   <tr>
    <td colspan="6"><img src="http://media.entertainment.com/media/entertainment/email/images/pixel.gif" width="640" height="31" border="0" style="display:block;" /></td>
  </tr>
</table>
</body>

