<body bgcolor="#dddddd">
<table width="640" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#ffffff">
  <tr>
    <td colspan="6" style="padding:5px 0; background-color:#FFF; color:#004690;font-size:10px;text-align:center;font-family:Arial, Helvetica, sans-serif;">
<a href="https://www.entertainment.com/coupon/affiliate_entry.cmd?linkName=CB14FREMAIL&amp;groupId=<%= @campaign.organization.name %>amp;sellerId=<%= @seller.id %>" reportname="SIDEBTB" frontuid="764367" urlId="355834">Support <%= @seller.user_profile.fullname %></a></td>
  </tr>
  <tr>
    <td width="20"><img src="http://media.entertainment.com/media/fundraising/2014Emails/triggers/FUNDwelcome_01.jpg" width="20" height="31" border="0" style="display:block;" /></td>
    <td width="29"><img src="http://media.entertainment.com/media/fundraising/2014Emails/triggers/FUNDwelcome_02.jpg" width="29" height="31" border="0" style="display:block;" /></td>
    <td width="271"><a href="http://www.entertainment.com/fundraising"><img src="http://media.entertainment.com/media/fundraising/2014Emails/triggers/FUNDwelcome_03.jpg" width="271" height="31" border="0" style="display:block;" /></a></td>
    <td width="273"><a href="http://www.entertainment.com/fundraising"><img src="http://media.entertainment.com/media/fundraising/2014Emails/triggers/FUNDwelcome_04.jpg" width="272" height="31" border="0" style="display:block;" /></a></td>
    <td width="28"><img src="http://media.entertainment.com/media/fundraising/2014Emails/triggers/FUNDwelcome_05.jpg" width="28" height="31" border="0" style="display:block;" /></td>
    <td width="20"><img src="http://media.entertainment.com/media/fundraising/2014Emails/triggers/FUNDwelcome_06.jpg" width="20" height="31" border="0" style="display:block;" /></td>
  </tr>
 <tr>
    <td><img src="http://media.entertainment.com/media/entertainment/email/images/pixel.gif" width="20" height="31" border="0" style="display:block;" /></td>
    <td colspan="4" rowspan="2" style="border-left:1px solid #6c2c78;border-right:1px solid #6c2c78;border-bottom:1px solid #6c2c78;"><table width="598" border="0" cellspacing="0" cellpadding="0">
    <tr>
    <td colspan="3"><a href="http://www.entertainment.com/fundraising"><img src="http://media.entertainment.com/media/fundraising/2014Emails/triggers/FUNDwelcome_09.jpg" alt="Entertainment(R) Fundraising" border="0" style="display:block;" /></a></td>
    </tr>

  <tr>
    <td colspan="3"><img src="http://media.entertainment.com/media/entertainment/email/images/pixel.gif" width="530" height="31" border="0" style="display:block;" /></td>
    </tr>
  <tr>
    <td width="28"><img src="http://media.entertainment.com/media/entertainment/email/images/pixel.gif" width="28" height="31" border="0" style="display:block;" /></td>
    <td width="543" style="font-family:Arial, Helvetica, sans-serif; font-size:14px;color:#3f3f3f;">Dear <%= @userprofile.first_name %> <%= @userprofile.last_name %>,
<br />
<br />
We are very pleased to let you know that your child has recently registered to sell Entertainment<sup style="font-size:8px;">&reg;</sup> memberships on <a href="http://fundraising.entertainment.com" target="_blank">Raisy</a>, a fundraising website powered by Entertainment<sup style="font-size:8px;">&reg;</sup> as part of a fundraiser. Your child has indicated that he/she is 13 year old or younger and has provided the following information to us: 
<br /><br />
&bull;&nbsp;First and last name<br />
&bull;&nbsp;School or group name and account number<br />
&bull;&nbsp;Your email address<br />
&bull;&nbsp;Email addresses of friends and family
<br /><br />
An email will be sent to the addresses provided with an invitation to purchase an Entertainment<sup style="font-size:8px;">&reg;</sup>  membership.  If a membership is purchased, your child and his/her group will receive credit for the sale.
<br /><br />
If your child registered without your permission, you may request to have your child's information removed from our database by sending an email with the subject "Privacy" to <a href="mailto:askus@entertainment.com" style="color:#14467c;text-decoration:none;font-weight:bold;">askus@entertainment.com</a>. Please include your name, your child's first and last name, school or group name and account number, city, state and ZIP code in your email message. We will remove your child's information within one month of your request unless prohibited by law. Read our <a href="https://sellersection.entertainment.com/sellersectionweb/privacy_policy.htm" style="color:#14467c;text-decoration:none;font-weight:bold;">Privacy Policy</a>.
<br /><br />
Thank you for your support of this fundraiser.
<br /><br />

Sincerely,<br />
Entertainment Fundraising<sup style="font-size:8px;">&reg;</sup>
<br /><br /><br />
</td>
    <td width="28"><img src="http://media.entertainment.com/media/entertainment/email/images/pixel.gif" width="28" height="8" border="0" style="display:block;" /></td>
  </tr>
  <tr>
  <td colspan="3"><img src="http://media.entertainment.com/media/entertainment/email/images/pixel.gif" width="530" height="31" border="0" style="display:block;" /></td>
    </tr>

 
  <tr>
    <td colspan="3"><img src="http://media.entertainment.com/media/fundraising/2014Emails/triggers/FUNDwelcome_24.jpg" width="599" height="300" border="0" style="display:block;" /></td>
    </tr>
    </table>
</td>
    <td><img src="http://media.entertainment.com/media/entertainment/email/images/pixel.gif" width="20" height="31" border="0" style="display:block;" /></td>
  </tr>
  <tr>
    <td><img src="http://media.entertainment.com/media/entertainment/email/images/pixel.gif" width="20" height="31" border="0" style="display:block;" /></td>
    <td><img src="http://media.entertainment.com/media/entertainment/email/images/pixel.gif" width="20" height="31" border="0" style="display:block;" /></td>
  </tr>
  <tr>
    <td colspan="6"><img src="http://media.entertainment.com/media/entertainment/email/images/pixel.gif" width="640" height="31" border="0" style="display:block;" /></td>
  </tr>
  <tr>
    <td><img src="http://media.entertainment.com/media/entertainment/email/images/pixel.gif" width="20" height="31" border="0" style="display:block;" /></td>
    <td colspan="4"valign="top" style="font-family:Arial, Helvetica, sans-serif;color:#3f3f3f;font-size:11px;text-align:center;">This email has been sent to <span style="color:#14467c;text-decoration:none;"><%= @userprofile.parent_email %></span> because our records indicate that<br />your child has opted to receive emails from Entertainment&reg;. If you no longer want to<br />receive emails from Entertainment&reg;, please <a href="https://www.entertainment.com/coupon/optout.cmd?email=<%= @userprofile.parent_email %>" target="_blank" style="color:#14467c;text-decoration:none;">click here</a> to update your email preferences.
<br /><br />
<img src="http://media.entertainment.com/media/entertainment/email/images/TClineSOLID.png" border="0" />
<br /><br />
Entertainment&reg;, Entertainment.com&reg;, Entertainment Fundraising&reg;, <img src="http://media.entertainment.com/media/entertainment/email/images/ENTcrown2015.png" border="0"   alt="Entertainment Crown Logo" height="12" />, <img src="http://media.entertainment.com/media/entertainment/email/images/ENTscript2015.png" alt="Entertainment Script Logo" border="0" height="12" />, and Raisy&trade;<br />
are trademarks of HSP EPI Acquisition, LLC.
<br /><br />
<a href="http://Entertainment.us3.list-manage.com/track/click?u=ee601451868d9de2ceac09b7e&id=112b776e40&e=7f121cfe63" target="_blank">Need help?</a> | <a href="http://Entertainment.us3.list-manage2.com/track/click?u=ee601451868d9de2ceac09b7e&id=9b7fadab6c&e=7f121cfe63" target="_blank">Privacy</a>
<br /><br />
&copy;2015 HSP EPI Acquisition, LLC dba Entertainment&reg;
<br /><br />
1401 Crooks Road, Suite 150, Troy, MI 48084</td>
    <td><img src="http://media.entertainment.com/media/entertainment/email/images/pixel.gif" width="20" height="31" border="0" style="display:block;" /></td>
  </tr>
   <tr>
    <td colspan="6"><img src="http://media.entertainment.com/media/entertainment/email/images/pixel.gif" width="640" height="31" border="0" style="display:block;" /></td>
  </tr>
</table>
</body>