<div id="dashboard" style="padding: 30px 0">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h3 style="margin-bottom: 40px;">管理工具</h3>
            </div>
        </div>

        <div class="row">

          <div class="col-md-4">
            <div class="well">
              <%= link_to '商品分类', admin_product_categories_path, class: 'btn btn-primary btn-block btn-lg' %>
            </div>
          </div>
            <div class="col-md-4">
                <div class="well">
                    <%= link_to '商品', admin_products_path, class: 'btn btn-primary btn-block btn-lg' %>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <%= link_to '组合', admin_collections_path, class: 'btn btn-primary btn-block btn-lg' %>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <%= link_to '默认设置', admin_settings_path, class: 'btn btn-primary btn-block btn-lg' %>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <%= link_to '公益组织', admin_organizations_path, class: 'btn btn-primary btn-block btn-lg' %>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <%= link_to '用户', admin_users_path, class: 'btn btn-primary btn-block btn-lg' %>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <%= link_to '筹款团队', admin_campaigns_path, class: 'btn btn-primary btn-block btn-lg' %>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <%= link_to '报表',admin_reports_root_path, class: 'btn btn-primary btn-block btn-lg' %>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <%= link_to '供应商', admin_vendors_path, class: 'btn btn-primary btn-block btn-lg' %>
                </div>
            </div>
        </div>

    </div>
</div>
