<table class="table" style="margin:0;">
<% if @supporters %>
<% @supporters.each do |s| %>
	<tr>
		<td width="50px" class="td-avatar" style="border:0px solid white;">
			<div style="text-align:center; width:48px;">
				<% if s.avatar_url && s.avatar_url.to_s.gsub(' ','').length>0 %>
					<img src="<%= s.avatar_url %>" class="img-rounded" style="border-radius:24px; width:48px; height:48px;"/>
        <%else %>
			<%= image_tag 'weixin_default.jpg',:class => "img-rounded",:style => "border-radius:24px; width:48px; height:48px;" %>
				<% end %>
			</div>
		</td>
		<td style="border:0px solid white; vertical-align:middle;">
			<div>
				<%= s.fullname %>
			</div>
		</td>
    <td style="border:0px solid white; vertical-align:middle;text-align: right;padding-right: 10px;color: rgb(177, 168, 163);">
      ￥<%= s.donation_total %>
    </td>
	</tr>
<% end %>
<% end %>
</table>

<% if @show_pager %>
<div style="text-align:center; padding:20px 0px 10px 0px;">
	<a href="<%= @page_url %>" class="a-pager" style="color:#333; font-size:14px; text-decoration:underline;">更多朋友</a>
</div>
<% end %>