<div id="contacts-show">
    <div class="container">
		<%= hidden_field_tag 'hidsellerid', @seller.id, id: "hidsellerid" %>
		
        <div class="campaign-edit-header">
			<h3>加入筹款团队<strong><%= @seller.campaign.title %></strong></h3>
        </div>
		
        <div class="container-box top-section">
			<div class="form-group">
				<div class="step-nav-bar">
					<div id="step_nav_icon_1" class="step-nav-icon"></div>
					<div id="step_nav_icon_2" class="step-nav-icon"></div>
					<div id="step_nav_icon_3" class="step-nav-icon"></div>
					<div id="step_nav_icon_4" class="step-nav-icon"></div>
					<div id="step_nav_icon_5" class="step-nav-icon"></div>
					<div id="step_nav_icon_6" class="step-nav-icon"></div>
					<div id="step_nav_icon_7" class="step-nav-icon step-nav-icon-gray"></div>
					<div id="step_nav_icon_8" class="step-nav-icon"></div>
				</div>
			</div>
			
			<div class="form-group">
				<div class="step-title-container">
					<label>Help Promote the Fundraiser</label>&nbsp;&nbsp;<span class="seller-step-qa-icon" style="margin-bottom:6px;">?</span>
				</div>
			</div>
			
			<div>
				<span>Send emails to your friends and family to tell them about your fundraiser and invite them to shop online at your personalized fundraising page to help reach the fundraising goal.</span>
				<br/><br/>
				<span>Custom Email Text:</span>
			</div>
			
			<div style="border:1px solid #ddd; border-radius:3px; margin:10px 0px; padding:15px;">
				<div>
					<%=raw @default_email_msg %>
				</div>
				
		    	<div style="margin-top: 10px">
					<textarea id="txtEmailBody" name="txtEmailBody" class="tinymce-email" placeholder="You can add personalized text here"><%=raw @email_msg %></textarea>
				</div>
				
				<div style="margin-top: 10px;">
					<%=raw @default_email_msg_two %>
				</div>
			</div>
			
	    	<div style="margin-top: 10px">
				<table>
					<tr><td style="width:100px;">
						<button id="btnPreviewEmail" class="btn btn-primary" type="button">
							<span class="text">Preview Email</span>
							<span class="loader" style="display:none"></span>
						</button></td>
						<td style="width:20px;">&nbsp;</td>
					<td><span>Note: you will be able to review & select which contacts receive this email before it is sent.</span></td></tr>
				</table>
			</div>
			
			<div style="height:20px;">&nbsp;</div>

			<div class="row web-box">
				<div class="col-sm-5 backbutton-box">
					<button class="btn btn-success btn-lg back-btn camp-back-btn-31" type="button" data-currentstep="3.1" onclick="window.location.href='<%= seller_get_contacts_path(@seller) %>';">
						<span class="text">Back</span>
					</button>
				</div>
				<div class="col-sm-3 continuebutton-box">
					<button class="btn btn-success btn-lg skip-btn camp-skip-btn-31" type="button" onclick="window.location.href='<%= signup_seller_share_path(@seller) %>';">
						<span class="text">Skip this step</span>
					</button>
				</div>
				<div class="col-sm-3 continuebutton-box">
					<button class="btn btn-primary btn-lg continue-btn" type="button" data-currentstep="3.1" onclick="ClickSendEmail(this, true);">
						<span class="text">Send Email</span>
						<span class="loader" style="display:none"></span>
					</button>
				</div>
			</div>
			
			<div class="row mobile-box">
				<div class="col-sm-5 backbutton-box">
					<button class="btn btn-primary btn-lg continue-btn" type="button" data-currentstep="3.1" onclick="ClickSendEmail(this, true);">
						<span class="text">Send Email</span>
						<span class="loader" style="display:none"></span>
					</button>
				</div>
				<div class="col-sm-3 continuebutton-box">
					<button class="btn btn-success btn-lg skip-btn camp-skip-btn-31" type="button" onclick="window.location.href='<%= signup_seller_share_path(@seller) %>';">
						<span class="text">Skip this step</span>
					</button>
				</div>
				<div class="col-sm-3 continuebutton-box">
					<button class="btn btn-success btn-lg back-btn camp-back-btn-31" type="button" data-currentstep="3.1" onclick="window.location.href='<%= seller_get_contacts_path(@seller) %>';">
						<span class="text">Back</span>
					</button>
				</div>
			</div>
        </div>
    </div>

	<div id="contacts_modal" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="contacts_modal" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	    </div>
	  </div>
	</div>

	<div id="seller_step_tips_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="seller_step_tips_modal" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">

	        <div class="modal-body">
				<p>Customize the email that will be sent to your contacts.</p>
				<span>Tips:</span>
				<ul>
					<li><span>Make the email more personal by adding another sentence about your fundraiser. Let your contacts know why your cause is important, and they will be more likely to make a purchase.</span></li>
					<li><span>This email will appear in inboxes as from: “Fundraising” with the subject line “Please support our fundraiser!”</span></li>
				</ul>
	        </div> <!-- end of modal body -->

	        <div class="modal-footer">
				<div style="position:relative; text-align:center;">
					<button type="button" class="btn btn-default" data-dismiss="modal"><span>Close</span></button>
					<div class="hide_seller_step_tips_container">
						<a id="hide_seller_step_tips" style="cursor:pointer; text-decoration: none;">
							<span style="font-size:12px; font-weight:600;">Don't show this message anymore</span>
						</a>
					</div>
				</div>
	        </div> <!-- /.modal-footer -->
			
	      </div><!-- /.modal-content -->
	    </div><!-- /.modal-dialog -->
	</div>

	<div id="preview_contact_email_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="preview_contact_email_modal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Preview Email</h4>
				</div>
				<div class="modal-body">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"><span>Close</span></button>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
$(document).ready(function() {
	<% if @step_popup=="yes" %>
		window.setTimeout(function(){
			$("#seller_step_tips_modal").modal("show");
		}, 200);
	<% end %>
	
	$("#btnPreviewEmail").click(function(){
		Raisy.users.previewContactEmail(this);
	});
	
	$('#contacts_modal').on('hide.bs.modal', function (e) {
		email_sent=$(this).data("email-sent") || "";
		
		if (email_sent=="yes") continue_next_step();
	});
});

function continue_next_step(btn) {
	var ed=tinymce.get("txtEmailBody");
	var $container=$(ed.getContainer());

	if (!$container.hasClass("mce-tinymce")) {
		$container=$container.parents(".mce-tinymce").first();
	}
	
	var content=$.trim(ed.getContent({format: "text"}));
	var maxLength=parseInt(ed.getParam("maxlength"));
	var count=maxLength-content.length;
	
	if (count<0) {
		$container.find(".tinymce-charcount span").css("color", "#b94a48").text("Up to "+maxLength+" characters");
		
		window.Raisy.alert("Custom Email Text can only have a maximum of " + maxLength + " characters");
		
		return;
	}
	
	$container.find(".tinymce-charcount span").css("color", "#00aaff").text(count);
	
	content=$.trim(ed.getContent());
	
	var sellerid = $("#hidsellerid").val();
	
	$.ajax('/ajax/emailcontacts', {
		type: 'POST',
		data: { is_send_email: false, seller_id: sellerid, email_text: content },
        beforeSend: function(jqXHR, settings) {
            jqXHR.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
        },
        success: function(data) {
			if (data == "failed") {
				window.Raisy.alert("Hmm, there was a problem while saving changes, please try again.");
			} else {
				window.location.href='<%= signup_seller_share_path(@seller) %>';
			}
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
			window.Raisy.alert("Hmm, there was a problem while saving changes, please try again.");
        },
		complete: function () {
		}
	});
}

function ClickSendEmail(btn, is_send_email){
	var ed=tinymce.get("txtEmailBody");
	var $container=$(ed.getContainer());

	if (!$container.hasClass("mce-tinymce")) {
		$container=$container.parents(".mce-tinymce").first();
	}
	
	var content=$.trim(ed.getContent({format: "text"}));
	var maxLength=parseInt(ed.getParam("maxlength"));
	var count=maxLength-content.length;
	
	if (count<0) {
		$container.find(".tinymce-charcount span").css("color", "#b94a48").text("Up to "+maxLength+" characters");
		
		window.Raisy.alert("Custom Email Text can only have a maximum of " + maxLength + " characters");
		
		return;
	}
	
	var $button = $(btn);
	var sellerid = $("#hidsellerid").val();
	
	$container.find(".tinymce-charcount span").css("color", "#00aaff").text(count);
	
	content=$.trim(ed.getContent());
	
	if (is_send_email) {
        $button.prop('disabled', true).find('span.text').siblings('span.loader').show(200, function() {
            $.ajax('<%= seller_email_contacts_path(@seller.id) %>', {
                type: 'GET',
                beforeSend: function(jqXHR, settings) {
                    jqXHR.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
                },
                success: function(data) {
					$("#contacts_modal .modal-content").html(data);
					$("#contacts_modal").modal("show");
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
					window.Raisy.alert("Hmm, there was a problem while sending email, please try again.");
                },
				complete: function () {
					$button.prop('disabled', false).find('span.text').siblings('span.loader').hide();
				}
            });
        });
	}
	else {
        $button.prop('disabled', true).find('span.text').text("Saving Changes").siblings('span.loader').show(200, function() {
            $.ajax('/ajax/emailcontacts', {
                type: 'POST',
				data: { is_send_email: is_send_email, seller_id: sellerid, email_text: content },
                beforeSend: function(jqXHR, settings) {
                    jqXHR.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
                },
                success: function(data) {
					if (data == "failed") {
						window.Raisy.alert("Hmm, there was a problem while saving changes, please try again.");
					} else {
						ed.setContent(data, {format : 'raw'});
						
						window.Raisy.alert("Changes have been successfully saved");
					}
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
					window.Raisy.alert("Hmm, there was a problem while saving changes, please try again.");
                },
				complete: function () {
					$button.prop('disabled', false).find('span.text').text("Save Changes").siblings('span.loader').hide();
				}
            });
        });
	}
}
</script>