<div id="signup" class="signup" style="background: whitesmoke; padding-bottom:60px;">
	<div class="container container-background">
		<div style="margin-bottom: 30px;"></div>
		<div><h3>Join the fundraising team for <strong><%= @campaign.title %></strong></h3>
		</div>
		<div id="seller_photo" class="container-box">
			<div class="form-group">
				<div class="step-nav-bar">
					<div id="step_nav_icon_1" class="step-nav-icon"></div>
					<div id="step_nav_icon_2" class="step-nav-icon"></div>
					<div id="step_nav_icon_3" class="step-nav-icon"></div>
					<div id="step_nav_icon_4" class="step-nav-icon"></div>
					<div id="step_nav_icon_5" class="step-nav-icon step-nav-icon-gray"></div>
					<div id="step_nav_icon_6" class="step-nav-icon"></div>
					<div id="step_nav_icon_7" class="step-nav-icon"></div>
					<div id="step_nav_icon_8" class="step-nav-icon"></div>
				</div>
			</div>
			
			<div class="form-group">
				<div class="step-title-container">
					<label>Personalize Your Profile</label>&nbsp;&nbsp;<span class="seller-step-qa-icon" style="margin-bottom:6px;">?</span>
				</div>
			</div>
			
			<div style="height:5px;"></div>
			
			<%= form_for(@seller.user_profile.user.profile, url: update_seller_photo_path(@seller), method: :post, html: { id: "seller_photo_form", class: "form-horizontal" }) do |f| %>
				<div class="form-group">
					<div class="row">
						<div class="col-sm-3 col-sm-offset-2 control-div" style="padding-right:0px; padding-top:0px;">
							<label class="control-label" style="padding-top:0px;">Upload Your Selfie</label>
							<br/>
							<span class="upload-tooltip">
								(Best size: 200px * 200px)
							</span>
						</div>
						<div class="col-sm-4" style="padding:0px 3px;">
		                    <div class="image-uploader">
		                        <div class="preview" style="width: 102px; height: 102px; text-align:center; border:1px solid #ccc;">
		                            <% if f.object.picture.present? %>
		                                <%= cl_image_tag f.object.picture, width: 100, height: 100, crop: :limit, class: 'img-responsive', style: "margin:0 auto;" %>
		                            <% else %>
		                                <%= image_tag 'crown.png', width: 72, style: "display:inline-block; margin-top:30px;" %>
		                            <% end %>
		                        </div>
	                            <div style="display:none;">
									<%= hidden_field_tag :use_photo, "" %>
									<%= cl_image_upload_tag(:user_picture, tags: Rails.env, html: { id:'upload_seller_photo', accept:"image/*" }) %>
	                            	<a href="#" class="remove-image" style="display: none">Remove picture</a>
								</div>
			                    <div class="progress progress-striped active" style="display: none; width:102px;">
			                        <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%; text-align: right; padding-right: 5px;">
			                            <span>0%</span>
			                        </div>
			                    </div>
			                    <div style="text-align:center; width:100px;"><span class="status"></span></div>
		                    </div>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<div class="row">
						<div class="col-sm-6">
							<div class="upload-button" onclick="$('#upload_seller_photo').click();">
								<span style="color:#428bca;font-size:1.1em;display:block;">
									Upload</span>
								<span style="font-size:0.9em;display:block;font-style:italic;">your own photo</span>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="use-button" onclick="$('#default_photos_modal').modal('show');">
								<span style="color:#428bca;font-size:1.1em;display:block;">
									Use</span>
								<span style="font-size:0.9em;display:block;font-style:italic;">one of ours</span>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">&nbsp;</div>
				<div class="web-box row">
					<div class="col-sm-6">
						<div class="backbutton-box">
					    <button class="btn btn-success btn-lg skip-btn" type="button" onclick="window.location.href='<%= seller_get_contacts_path(@seller) %>';">
									<span class="text">Skip this step</span><span class="loader" style="display:none"></span>
					    </button>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="continuebutton-box">
					    <button class="btn btn-primary btn-lg continue-btn" type="submit">
									<span class="text">Continue</span><span class="loader" style="display:none"></span>
					    </button>
						</div>
					</div>	
				</div>
				<div class="mobile-box row">
					<div class="col-sm-6">
						<div class="backbutton-box">
						    <button class="btn btn-primary btn-lg continue-btn" type="submit">
								<span class="text">Continue</span><span class="loader" style="display:none"></span>
						    </button>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="continuebutton-box">
						    <button class="btn btn-success btn-lg skip-btn" type="button" onclick="window.location.href='<%= seller_get_contacts_path(@seller) %>';">
								<span class="text">Skip this step</span><span class="loader" style="display:none"></span>
						    </button>
						</div>
					</div>
				</div>
						
			<% end %>
		</div>
	</div>
	
	<div id="default_photos_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="default_photos_modal" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">

	        <div class="modal-header">
	            <button id="close_use_ours" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	            <h4 class="modal-title">Choose one of our photos</h4>
	        </div> <!-- /.modal-header -->
 
	            <div class="modal-body">
			 		<div style="padding:10px; position:relative;">
						<% 45.times do |i| %>
							<div data-photo='<%=image_url("avatars/Avatar_#{(i+1).to_s}.jpg")%>' class="default-photo-div" style="float:left; margin-bottom:5px; text-align:center; width:20%;"><%= image_tag "avatars/Avatar_#{(i+1).to_s}.jpg", class: "img-responsive", style: "max-width:50px; margin:0 auto; border:1px solid white; border-radius:3px; cursor:pointer;" %></div>
						<% end %>
						<div class="clearfix"></div>
					</div>
	            </div> <!-- end of modal body -->
				
	      </div><!-- /.modal-content -->
	    </div><!-- /.modal-dialog -->
	</div>
	
	<div id="seller_step_tips_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="seller_step_tips_modal" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">

	        <div class="modal-body">
				<p>Personalize your profile by adding a picture of yourself! Note: your picture will appear on your fundraising site that supporters will view.</p>
	        </div> <!-- end of modal body -->

	        <div class="modal-footer">
				<div style="position:relative; text-align:center;">
					<button type="button" class="btn btn-default" data-dismiss="modal"><span>Close</span></button>
					<div class="hide_seller_step_tips_container">
						<a id="hide_seller_step_tips" style="cursor:pointer; text-decoration: none;">
							<span style="font-size:12px; font-weight:600;">Don't show this message anymore</span>
						</a>
					</div>
				</div>
	        </div> <!-- /.modal-footer -->
			
	      </div><!-- /.modal-content -->
	    </div><!-- /.modal-dialog -->
	</div>
</div>

<script>
$(document).ready(function() {
	<% if @step_popup=="yes" %>
		window.setTimeout(function(){
			$("#seller_step_tips_modal").modal("show");
		}, 200);
	<% end %>
	
	$("#default_photos_modal .default-photo-div img").mouseenter(function(){
		$(this).css("border", "1px solid #ccc");
	}).mouseleave(function(){
		$(this).css("border", "1px solid white")
	}).click(function(){
		$(".preview img").attr("src", $(this).attr("src")).addClass("img-responsive").removeAttr("width").removeAttr("height").css({"margin":"0 auto","max-height":"100px","display":"block"});
		$("input[name=user_picture]").val("");
		$("input[name=use_photo]").val($(this).closest("div").data("photo"));
		$("#default_photos_modal").modal("hide");
	});
	
	$(".upload-button").mouseenter(function(){
		$(this).css("background-color", "#eee");
	}).mouseleave(function(){
		$(this).css("background-color", "white");
	});
	
	$(".use-button").mouseenter(function(){
		$(this).css("background-color", "#eee");
	}).mouseleave(function(){
		$(this).css("background-color", "white");
	});
});
</script>