<div id="signup" class="signup" style="background: whitesmoke; margin-top: 10px">
	<div class="container container-background">
		<div style="margin-bottom: 30px;"></div>
		<div>
			<h3 style="text-align: center">
				加入筹款团队<strong><%= @campaign.title %></strong>
			</h3>
		</div>
		<div class="container-box">
			<% if @campaign.expired? || !@campaign.active %>
				<div class="form-group">
					<div class="row">
						<div class="col-sm-8 col-sm-offset-2" style="text-align:center;">
							<label>抱歉，这个筹款团队已经结束。</label>
						</div>
					</div>
				</div>
			
				<div class="form-group">
					<div class="row">
						<div class="col-sm-4 col-sm-offset-4" style="text-align:center;">
							<% if current_user && current_user.profile.seller(@campaign) %>
					      <div><%= link_to "跳转到我的仪表", seller_dashboard_referral_code_path(current_user.profile.seller(@campaign).referral_code), class: "btn btn-primary btn-block" %>
					      </div>
							<% else %>
								<% if current_user && current_user.any_seller? %>
						      <div><%= link_to "跳转到我的仪表", seller_dashboard_path, class: "btn btn-primary btn-block" %>
						      </div>
								<% else %>
						      <div><%= link_to "浏览筹款页面", short_campaign_path(@campaign), class: "btn btn-primary btn-block" %>
						      </div>
								<% end %>
							<% end %>
						</div>
					</div>
				</div>
			<% else %>	<!-- Campaign not expired -->
				<% if current_user && !current_user.account_type.nil? %>
				
					<% if current_user.account_type==1 || current_user.account_type==2 %>
						<!-- Logged in as 14 or 18+ -->
					
						<div class="no-well">
							<% if current_user.profile.seller(@campaign) %>	<!-- Check if user is a seller of the campaign -->
								<div class="form-group">
									<div class="row">
										<div class="col-sm-8 col-sm-offset-2" style="text-align:center;">
											<label>您已经加入了这个筹款团队！</label>
										</div>
									</div>
								</div>
								
								<div class="form-group">
									<div class="row">
										<div class="col-sm-4 col-sm-offset-4" style="text-align:center;">
								      <div><%= link_to "跳转到我的仪表", seller_dashboard_referral_code_path(current_user.profile.seller(@campaign).referral_code), class: "btn btn-primary btn-block" %>
								      </div>
										</div>
									</div>
								</div>
							<% else %>	<!-- Not a seller of the campaign -->
								<div class="form-group">
									<div class="row">
										<div class="col-sm-6 col-sm-offset-3">
											<label>以<%=current_user.profile.fullname%>登录。</label>
										</div>
									</div>
								</div>
			
								<%= form_tag(signup_seller_add_path, method: :post, id: "signup_form" ) %>
									<% if current_user.account_type==2 %>	<!-- Logged in as 14 -->
										<div class="form-group">
											<div class="row">
												<div class="col-sm-8 col-sm-offset-3">
		                      <div class="form-group">
		                          为了加入这个筹款团队，请提供您的年级和组织领队。
		                      </div>
												</div>
											</div>
										</div>
									
										<div class="form-group">
											<div class="row">
												<div class="col-sm-3 col-sm-offset-1 control-div">
													<label class="control-label">年级</label>
												</div>
												<div class="col-sm-5">
													<input type="text" name="seller[grade]" class="form-control" placeholder="年级">
												</div>
											</div>
										</div>
								
										<div class="form-group">
											<div class="row">
												<div class="col-sm-3 col-sm-offset-1 control-div">
													<label class="control-label">组织领队</label>
												</div>
												<div class="col-sm-5">
													<input type="text" name="seller[homeroom]" class="form-control" placeholder="班主任，教练，领队等等">
												</div>
											</div>
										</div>
									<% else %>
										<input type="hidden" name="seller[grade]">
										<input type="hidden" name="seller[homeroom]">
									<% end %>
								
									<div class="form-group">
										<div class="row">
											<div class="col-sm-5 col-sm-offset-4">
										      <button type="submit" class="btn btn-primary btn-block">
										          <span class="text">加入这个筹款团队</span><span class="loader" style="display:none"></span>
										      </button>
											</div>
										</div>
									</div>
								</form>
				
								<div class="form-group">
									<div class="row">&nbsp;</div>
									<div class="row">
										<div class="col-sm-6 col-sm-offset-3">
								      	  <div>不是<%=current_user.profile.fullname%>？<%= link_to "退出", destroy_user_session_path, method: :delete%>
										  </div>
								  		</div>
									</div>
								</div>
							<% end%>	<!-- Check if user is a seller of the campaign -->
						</div>
					
					<% end %>	<!-- Logged in as 14 or 18+ -->
				
					<% if current_user.account_type==3%>	<!-- Logged in as 13-->
						
						<div class="no-well">
							<div class="form-group">
								<div class="row">
									<div class="col-sm-6 col-sm-offset-2">
										<label>以<%=current_user.profile.fullname%>登录</label>
									</div>
								</div>
							</div>
							
							<div class="form-group">
								<div class="row">
									<div class="col-sm-7 col-sm-offset-2"> 
	                      为了加入这个筹款团队，请从您的帐户选择已存在的成员，或者创建一个新的。
									</div>
								</div>
							</div>
							
							<%= form_tag(signup_seller_add_path, method: :post, id: "signup_form" ) %>
							 
								<div class="row">
									<div class="col-sm-6 col-sm-offset-2">
										<label><input type="radio" name="post_seller_type" onclick="Raisy.users.showExistingSeller('1');" checked="checked" value="1" />&nbsp;&nbsp;通过已存在的成员加入</label>
									</div>
								</div>
								
								<div id="seller_signup_parent1">
							 	 	<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-2">
												<div><%= select("existing_seller_profile", "id", @existing_seller_profiles.collect{|t| [t.fullname, t.id]}, { :include_blank => false },{:class => "form-control" }) %></div>
											</div>
										</div>
									</div>
									
									<div class="form-group">
	                  <div class="row">
	                  	<div class="col-sm-8 col-sm-offset-2">
												请提供这个成员的年级和组织领队：
											</div>
	                  </div>
									</div>
									
									<div class="row">
										<div class="col-sm-4 col-sm-offset-2">
											<div class="form-group">
											 <label class="control-label">年级</label>
											 <input type="text" name="sellerexist[grade]" class="form-control" placeholder="年级">
										 	</div>
										</div>
										<div class="col-sm-4">
											<div class="form-group">
											 <label class="control-label">组织领队</label>
											 <input type="text" name="sellerexist[homeroom]" class="form-control" placeholder="班主任，教练，领队等等">
											</div>
										</div>
									</div>
								</div>
								
								<div class="form-group">
									<div class="row">&nbsp;</div>
									<div class="row">
										<div class="col-sm-6 col-sm-offset-2">
											<label><input type="radio" name="post_seller_type"  onclick="Raisy.users.showExistingSeller('2');" value="2" />&nbsp;&nbsp;以新成员加入</label>
										</div>
									</div>
								</div>
								
								<div id="seller_signup_parent2" style="display: none;">
									<div class="row">
										<div class="col-sm-4 col-sm-offset-2">
											<div class="form-group">
											 <label class="control-label">学生的姓</label>
											 <input type="text" name="seller[first_name]" class="form-control" placeholder="姓">
										 	</div>
										</div>
										<div class="col-sm-4">
											<div class="form-group">
											 <label class="control-label">学生的名</label>
											 <input type="text" name="seller[last_name]" class="form-control" placeholder="名">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-4 col-sm-offset-2">
											<div class="form-group">
											 <label class="control-label">年级</label>
											 <input type="text" name="seller[grade]" class="form-control" placeholder="年级">
										 	</div>
										</div>
										<div class="col-sm-4">
											<div class="form-group">
											 <label class="control-label">Group Leader</label>
											 <input type="text" name="seller[homeroom]" class="form-control" placeholder="班主任，教练，领队等等">
											</div>
										</div>
									</div>
								</div>
								
								<div class="form-group">
									<div class="row">&nbsp;</div>
									<div class="row">
										<div class="col-sm-4 col-sm-offset-4">
								      <button type="submit" class="btn btn-primary btn-block">
								          <span class="text">加入这个筹款团队</span><span class="loader" style="display:none"></span>
								      </button>
										</div>
									</div>
								</div>
								
							</form>
						</div>
						
					<% end %>	<!-- Logged in as 13-->
					
				<% else %>	<!-- Not logged in or account_type is null -->
					
					<%= form_tag(signup_seller_create_path, method: :post, id: "signup_form" ) %>
					
					<%= hidden_field_tag :auth_provider, "raisy" %>
					<%= hidden_field_tag :auth_uid, "" %>
					<%= hidden_field_tag :auth_uimage, "" %>
						
					<div id="seller_signup_selector" class="seller_signup_section" style="display:block;">
						<div class="form-group">
							<div class="step-nav-bar">
								<div id="step_nav_icon_1" class="step-nav-icon step-nav-icon-gray"></div>
								<div id="step_nav_icon_2" class="step-nav-icon"></div>
								<div id="step_nav_icon_3" class="step-nav-icon"></div>
								<div id="step_nav_icon_4" class="step-nav-icon"></div>
								<div id="step_nav_icon_5" class="step-nav-icon"></div>
								<!-- <div id="step_nav_icon_6" class="step-nav-icon"></div>
								<div id="step_nav_icon_7" class="step-nav-icon"></div> -->
								<div id="step_nav_icon_8" class="step-nav-icon"></div>
							</div>
						</div>
						
						<div class="form-group">
							<div class="step-title-container">
								<label>开始吧！</label>&nbsp;&nbsp;<span class="seller-step-qa-icon" style="margin-bottom:6px;">?</span>
							</div>
						</div>
				
						<div class="form-group">
							<div class="row">
								<div class="col-sm-8 col-sm-offset-2"> 
										<div style="font-size:18px;">
											<label>我是…</label>
											<input type="hidden" id="user_account_type" name="user[account_type]">
										</div> 
								</div>
							</div>
							<div class="row">
								<div class="col-sm-8 col-sm-offset-2">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<button id="seller_signup_button13" type="button" class="btn btn-default btn-block btn-seller-selector" onclick="Raisy.users.sellerTypeSelectorClick(this, 3);">
													<span class="text">13岁以下成员的家长</span>
												</button>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<button id="seller_signup_button14" type="button" class="btn btn-default btn-block btn-seller-selector" onclick="Raisy.users.sellerTypeSelectorClick(this, 2);">
													<span class="text">14到17岁成员</span>
												</button>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<button id="seller_signup_button18" type="button" class="btn btn-default btn-block btn-seller-selector" onclick="Raisy.users.sellerTypeSelectorClick(this, 1);">
													<span class="text">18岁以上成员</span>
												</button>
											</div>
										</div>
										<% if !current_user %>
										<div class="col-md-6">
											<div class="form-group">
												<button id="seller_signup_has_account" type="button" class="btn btn-default btn-block btn-seller-selector" onclick="Raisy.users.sellerTypeSelectorClick(this, 4);">
													<span class="text">已经有帐户了？</span>
												</button>
											</div>
										</div>
										<% end %>
									</div>
								</div>
							</div>
						</div>
				
						<div class="form-group">
							<div class="row">&nbsp;</div>
							<div class="row">
								<div class="col-sm-4 col-sm-offset-4">
									<div class="form-group">
									    <button id="seller_signup_selector_continue" class="btn btn-primary btn-lg" type="button" style="height:60px; width:100%;">
									        <span class="text">继续</span>
									    </button>
									</div>
								</div>
							</div>
						</div>
					</div>	<!-- seller_signup_selector -->
			
					<div id="seller_child_section" class="seller_signup_section" style="display:none;">
						<div class="form-group">
							<div class="step-nav-bar">
								<div id="step_nav_icon_1" class="step-nav-icon"></div>
								<div id="step_nav_icon_2" class="step-nav-icon"></div>
								<div id="step_nav_icon_3" class="step-nav-icon step-nav-icon-gray"></div>
								<div id="step_nav_icon_4" class="step-nav-icon"></div>
								<div id="step_nav_icon_5" class="step-nav-icon"></div>
								<!-- <div id="step_nav_icon_6" class="step-nav-icon"></div>
								<div id="step_nav_icon_7" class="step-nav-icon"></div> -->
								<div id="step_nav_icon_8" class="step-nav-icon"></div>
							</div>
						</div>
						
						<div class="form-group">
							<div class="step-title-container">
								<label>开始吧！</label>&nbsp;&nbsp;<span class="seller-step-qa-icon" style="margin-bottom:6px;">?</span>
							</div>
						</div>
						
						<div style="height:5px;"></div>
						
						<div class="form-group">
							<div class="row">
								<div class="col-sm-3 col-sm-offset-2 control-div">
									<label class="control-label">学生的姓</label>
								</div>
								<div class="col-sm-4">
									<input type="text" name="seller1314[first_name]" class="form-control" placeholder="姓">
								</div>
							</div>
						</div>
			
						<div class="form-group">
							<div class="row">
								<div class="col-sm-3 col-sm-offset-2 control-div">
									<label class="control-label">学生的名</label>
								</div>
								<div class="col-sm-4">
									<input type="text" name="seller1314[last_name]" class="form-control" placeholder="名">
								</div>
							</div>
						</div>
				
						<div class="form-group">
							<div class="row">
								<div class="col-sm-3 col-sm-offset-2 control-div">
									<label class="control-label">年级</label>
								</div>
								<div class="col-sm-4">
									<input type="text" name="seller1314[grade]" class="form-control" placeholder="年级">
								</div>
							</div>
						</div>
				
						<div class="form-group">
							<div class="row">
								<div class="col-sm-3 col-sm-offset-2 control-div">
									<label class="control-label">组织领队</label>
								</div>
								<div class="col-sm-4">
									<input type="text" name="seller1314[homeroom]" class="form-control" placeholder="班主任，教练，领队等等">
								</div>
							</div>
						</div>
				
						<div class="form-group">
							<div class="row">&nbsp;</div>
							<div class="web-box row">
								<div class="col-sm-6">
									<div class="backbutton-box">
									    <button class="btn btn-success btn-lg seller-back-btn" type="button" data-currentstep="3-13-14">
									        <span class="text">后退</span>
									    </button>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="continuebutton-box">
									    <button class="btn btn-primary btn-lg seller-continue-btn" type="button" data-currentstep="3-13-14">
									        <span class="text">继续</span>
									    </button>
									</div>
								</div>
							</div>
							<div class="mobile-box row">
								<div class="col-sm-6">
									<div class="backbutton-box">
									    <button class="btn btn-primary btn-lg seller-continue-btn" type="button" data-currentstep="3-13-14">
									        <span class="text">后退</span>
									    </button>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="continuebutton-box">
									    <button class="btn btn-success btn-lg seller-back-btn" type="button" data-currentstep="3-13-14">
									        <span class="text">继续</span>
									    </button>
									</div>
								</div>
							</div>
						</div>
					</div>	<!-- seller_child_section -->
			
					<div id="seller_parent_info_section" class="seller_signup_section" style="display:none;">
						<div class="form-group">
							<div class="step-nav-bar">
								<div id="step_nav_icon_1" class="step-nav-icon"></div>
								<div id="step_nav_icon_2" class="step-nav-icon step-nav-icon-gray"></div>
								<div id="step_nav_icon_3" class="step-nav-icon"></div>
								<div id="step_nav_icon_4" class="step-nav-icon"></div>
								<div id="step_nav_icon_5" class="step-nav-icon"></div>
								<!-- <div id="step_nav_icon_6" class="step-nav-icon"></div>
								<div id="step_nav_icon_7" class="step-nav-icon"></div> -->
								<div id="step_nav_icon_8" class="step-nav-icon"></div>
							</div>
						</div>
						
						<div class="form-group">
							<div class="step-title-container">
								<label>开始吧！</label>&nbsp;&nbsp;<span class="seller-step-qa-icon" style="margin-bottom:6px;">?</span>
							</div>
						</div>
						
						<div style="height:5px;"></div>
						
						<div class="form-group">
							<div class="row">
								<div class="col-sm-3 col-sm-offset-2 control-div">
									<label class="control-label">家长的姓</label>
								</div>
								<div class="col-sm-4">
									<input type="text" name="parent[first_name]" class="form-control" placeholder="姓">
								</div>
							</div>
						</div>
				
						<div class="form-group">
							<div class="row">
								<div class="col-sm-3 col-sm-offset-2 control-div">
									<label class="control-label">家长的名</label>
								</div>
								<div class="col-sm-4">
									<input type="text" name="parent[last_name]" class="form-control" placeholder="名">
								</div>
							</div>
						</div>
				
						<div class="form-group parent-info-13">
							<div class="row">
								<div class="col-sm-7 col-sm-offset-3">
									<div class="form-group">
										<label class="checkbox-inline"><input type="checkbox" name="guardian_agree"/>我是注册小孩的父母或监护人，我同意站点收集我的信息。我已经阅读并同意筹款<%= link_to "服务协议", "/reg_tos" %>.</label>
									</div>
								</div>
							</div>
						</div>
				
						<div class="form-group parent-info-14">
							<div class="row">
								<div class="col-sm-3 col-sm-offset-2 control-div"> 
									<label class="control-label">家长的邮箱</label>
								</div>
								<div class="col-sm-4"> 
									<input type="text" name="parent[email]" class="form-control" placeholder="邮箱"> 
								</div>
							</div>
							<div style="height:15px;"></div>
						</div>
				
						<div class="form-group">
							<div class="web-box row">
								<div class="col-sm-6">
									<div class="backbutton-box">
									    <button class="btn btn-success btn-lg seller-back-btn" type="button" data-currentstep="2-13-14">
									        <span class="text">后退</span>
									    </button>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="continuebutton-box">
									    <button class="btn btn-primary btn-lg seller-continue-btn" type="button" data-currentstep="2-13-14">
									        <span class="text">继续</span>
									    </button>
									</div>
								</div>
							</div>
							<div class="mobile-box row">
								<div class="col-sm-6">
									<div class="backbutton-box">
									    <button class="btn btn-primary btn-lg seller-continue-btn" type="button" data-currentstep="2-13-14">
									        <span class="text">继续</span>
									    </button>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="continuebutton-box">
									    <button class="btn btn-success btn-lg seller-back-btn" type="button" data-currentstep="2-13-14">
									        <span class="text">后退</span>
									    </button>
									</div>
								</div>
							</div>
						</div>
					</div>	<!-- seller_parent_info_section -->
			
					<div id="seller_account_section" class="seller_signup_section" style="display:none;">
						<div class="form-group">
							<div class="step-nav-bar">
								<div id="step_nav_icon_1" class="step-nav-icon"></div>
								<div id="step_nav_icon_2" class="step-nav-icon"></div>
								<div id="step_nav_icon_3" class="step-nav-icon"></div>
								<div id="step_nav_icon_4" class="step-nav-icon step-nav-icon-gray"></div>
								<div id="step_nav_icon_5" class="step-nav-icon"></div>
								<!-- <div id="step_nav_icon_6" class="step-nav-icon"></div>
								<div id="step_nav_icon_7" class="step-nav-icon"></div> -->
								<div id="step_nav_icon_8" class="step-nav-icon"></div>
							</div>
						</div>
						
						<div class="form-group">
							<div class="step-title-container">
								<label>设置您的销售个人信息</label>
							</div>
						</div>
						
						<div style="height:5px;"></div>
				
						<% if current_user %>
							<!-- Logged in with an account -->
							
							<div class="form-group"> 
								<div style="text-align:center;">
									<label style="font-size:16px;">您已经以 <%=current_user.profile.fullname%>登录。</label>
								</div>
							</div>
							
							<div class="form-group">
								<div class="row">&nbsp;</div>
								<div class="web-box row">
									<div class="col-sm-6">
										<div class="backbutton-box">
										    <button class="btn btn-success seller-back-btn btn-lg" type="button" data-currentstep="4" style="height:60px; width:200px;">
										        <span class="text">后退</span>
										    </button>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="continuebutton-box">
										    <button id="seller_signup_submit" class="btn btn-primary btn-lg" type="submit" data-currentstep="4" style="height:60px; width:200px;">
														<span class="text">加入这个筹款团队</span><span class="loader" style="display:none"></span>
										    </button>
										</div>
									</div>
								</div>
								<div class="mobile-box row" style="margin-bottom:33px;">
									<div class="col-sm-6">
										<div class="backbutton-box">
										    <button id="seller_signup_submit" class="btn btn-primary btn-lg" type="submit" data-currentstep="4" style="height:60px; width:200px;">
														<span class="text">加入这个筹款团队</span><span class="loader" style="display:none"></span>
										    </button>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="continuebutton-box">
										    <button class="btn btn-success btn-lg seller-back-btn" type="button" data-currentstep="4" style="height:60px; width:200px;">
										        <span class="text">后退</span>
										    </button>
										</div>
									</div>
								</div>
							</div>
							
						<% else %>	<!-- Not logged in -->
						
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<div class="row">
										<div class="col-sm-5 control-div">
											<label class="control-label">邮箱</label>
										</div>
										<div class="col-sm-7">
											<input id="user_email" type="text" name="user[email]" class="form-control" placeholder="邮箱">
										</div>
									</div>
								</div>
			
								<div class="form-group">
									<div class="row">
										<div class="col-sm-5 control-div">
											<label class="control-label">密码</label>
										</div>
										<div class="col-sm-7">
											<input id="user_password" type="password" name="user[password]" class="form-control" placeholder="密码">
										</div>
									</div>
								</div>
								
								<div class="form-group">
									<div class="row">
										<div class="col-sm-5 control-div">
											<label class="control-label">确认密码</label>
										</div>
										<div class="col-sm-7">
											<input id="user_confirm_password" type="password" name="user[confirm_password]" class="form-control" placeholder="确认密码">
										</div>
									</div>
								</div>
								
								<div class="form-group">
									<div class="row">
										<div class="col-sm-5 control-div">
										</div>
										<div class="col-sm-7">
											<input id="seller_terms_conditions" type="checkbox" name="user[terms_conditions]" />
											<label for="seller_terms_conditions" style="font-weight:normal; display:inline;">阅读并同意11号公益圈<%= link_to "服务协议", "/reg_tos" %></label>
										</div>
									</div>
								</div>
								
								<div class="form-group">
									<div class="row">&nbsp;</div>
									<div class="web-box row">
										<div class="col-sm-7">
											<div class="backbutton-box">
											    <button class="btn btn-success seller-back-btn" type="button" data-currentstep="4" style="height:50px; width:160px;">
											        <span class="text">后退</span>
											    </button>
											</div>
										</div>
										<div class="col-sm-5">
											<div class="continuebutton-box">
											    <button id="seller_signup_submit" class="btn btn-primary" type="submit" data-currentstep="4" style="height:50px; width:160px;">
															<span class="text">创建我的帐户</span><span class="loader" style="display:none"></span>
											    </button>
											</div>
										</div>
									</div>
									<div class="mobile-box row" style="margin-bottom:33px;">
										<div class="col-sm-6">
											<div class="backbutton-box">
											    <button id="seller_signup_submit" class="btn btn-primary btn-lg" type="submit" data-currentstep="4" style="height:60px; width:200px;">
															<span class="text">创建我的帐户</span><span class="loader" style="display:none"></span>
											    </button>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="continuebutton-box">
											    <button class="btn btn-success btn-lg seller-back-btn" type="button" data-currentstep="4" style="height:60px; width:200px;">
											        <span class="text">后退</span>
											    </button>
											</div>
										</div>
									</div>
								</div>
								
								<div class="has-account-div">
									<span>如果您已经有一个我们的帐户, 请点击 <a href="javascript:void(0);" onclick="Raisy.users.sellerTypeSelectorClick(this, 4);">这里</a> 登录。</span>
								</div>
							</div>	<!-- Create my account -->
							
							<div class="col-sm-5">
								<div class="form-group">
									<div class="row">
							            <div class="col-sm-10">
											<a class="btn btn-block btn-social btn-facebook" onclick="Raisy.fb_seller_login(true);">
												<i class="fa fa-facebook"></i>
											 	<span>Connect with Facebook</span>
											</a>
							            </div>
									</div>
								</div>
								
								<div class="form-group">
									<div class="row">
							            <div class="col-sm-10">
	   										<a class="btn btn-block btn-social btn-twitter" onclick="Raisy.tw_seller_login(true);">
	   											<i class="fa fa-twitter"></i>
	   										 	<span>Connect with Twitter</span>
	   										</a>
							            </div>
									</div>
								</div>
								
								<div id="seller-social-error" class="form-group" style="display:none;">
									<div class="row">
										<div class="col-sm-11">
											<div class="form-group">
										        <div class="alert alert-warning">
										            <div id="seller-social-message" style="text-align: center;"> 
										            </div>
										        </div>
											</div>
										</div>
									</div>
								</div>
							</div>	<!-- Connect with fb or tw -->
						</div>
						
						<% end %>	<!-- Not logged in, create new account -->
						
					</div>	<!-- seller_account_section -->
			
					<div id="seller_name_section" class="seller_signup_section" style="display:none;">
						<div class="form-group">
							<div class="step-nav-bar">
								<div id="step_nav_icon_1" class="step-nav-icon"></div>
								<div id="step_nav_icon_2" class="step-nav-icon step-nav-icon-gray"></div>
								<div id="step_nav_icon_3" class="step-nav-icon"></div>
								<div id="step_nav_icon_4" class="step-nav-icon"></div>
								<div id="step_nav_icon_5" class="step-nav-icon"></div>
								<!-- <div id="step_nav_icon_6" class="step-nav-icon"></div>
								<div id="step_nav_icon_7" class="step-nav-icon"></div> -->
								<div id="step_nav_icon_8" class="step-nav-icon"></div>
							</div>
						</div>
						
						<div class="form-group">
							<div class="step-title-container">
								<label>开始吧！</label>&nbsp;&nbsp;<span class="seller-step-qa-icon" style="margin-bottom:6px;">?</span>
							</div>
						</div>
						
						<div style="height:5px;"></div>
						
						<div class="form-group">
							<div class="row">
								<div class="col-sm-2 col-sm-offset-2 control-div">
									<label class="control-label">姓</label>
								</div>
								<div class="col-sm-5">
									<input type="text" name="seller18[first_name]" class="form-control" placeholder="姓">
								</div>
							</div>
						</div>
			
						<div class="form-group">
							<div class="row">
								<div class="col-sm-2 col-sm-offset-2 control-div">
									<label class="control-label">名</label>
								</div>
								<div class="col-sm-5">
									<input type="text" name="seller18[last_name]" class="form-control" placeholder="名">
								</div>
							</div>
						</div>
				
						<div class="form-group">
							<div class="row">&nbsp;</div>
							
							<div class="row web-box">
								<div class="col-sm-6">
									<div class="backbutton-box">
									    <button class="btn btn-success btn-lg seller-back-btn" type="button" data-currentstep="2-18">
									        <span class="text">后退</span>
									    </button>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="continuebutton-box">
									    <button class="btn btn-primary btn-lg seller-continue-btn" type="button" data-currentstep="2-18">
									        <span class="text">继续</span>
									    </button>
									</div>
								</div>
							</div>
							
							<div class="row mobile-box">
								<div class="col-sm-6">
									<div class="backbutton-box">
									    <button class="btn btn-primary btn-lg seller-continue-btn" type="button" data-currentstep="2-18">
									        <span class="text">继续</span>
									    </button>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="continuebutton-box">
									    <button class="btn btn-success btn-lg seller-back-btn" type="button" data-currentstep="2-18">
									        <span class="text">后退</span>
									    </button>
									</div>
								</div>
							</div>
							
						</div>
					</div>	<!-- seller_account_section -->			
					</form>
					
				<% end %>	<!-- Seller creation, logged in or not -->
			<% end %>	<!-- Check campaign expiration -->
		</div>
	</div>
	
	<div id="seller_step_tips_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="seller_step_tips_modal" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">

	        <div class="modal-body">
				<p>欢迎！只需一会儿您就能帮助支持<%= @campaign.title %>！加入非常快捷简单。当你完成的时候，你将立刻会有一个能分享给支持者们以筹措款项的个人筹款页面！</p>
				<p>因法律原因，请让我们知道您的年龄。</p>
	        </div> <!-- end of modal body -->

	        <div class="modal-footer">
				<div style="position:relative; text-align:center;">
					<button type="button" class="btn btn-default" data-dismiss="modal"><span>关闭</span></button>
					<div class="hide_seller_step_tips_container">
						<a id="hide_seller_step_tips" style="cursor:pointer; text-decoration: none;">
							<span style="font-size:12px; font-weight:600;">不再显示这信息</span>
						</a>
					</div>
				</div>
	        </div> <!-- /.modal-footer -->
			
	      </div><!-- /.modal-content -->
	    </div><!-- /.modal-dialog -->
	</div>	<!-- seller_step_tips_modal -->
	
	<div id="seller_welcome_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="seller_welcome_modal" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">

	        <div class="modal-body">
				<p>欢迎！只需一会儿您就能帮助支持<%= @campaign.title %>！加入非常快捷简单。当你完成的时候，你将立刻会有一个能分享给支持者们以筹措款项的个人筹款页面！</p>
	        </div> <!-- end of modal body -->

	        <div class="modal-footer">
				<div style="position:relative; text-align:center;">
					<button type="button" class="btn btn-default" data-dismiss="modal"><span>关闭</span></button>
				</div>
	        </div> <!-- /.modal-footer -->
			
	      </div><!-- /.modal-content -->
	    </div><!-- /.modal-dialog -->
	</div>	<!-- seller_step_tips_modal -->
	
	<div id="seller_step_tips_selector" style="display:none;">
		<p>欢迎！只需一会儿您就能帮助支持<%= @campaign.title %>！加入非常快捷简单。当你完成的时候，你将立刻会有一个能分享给支持者们以筹措款项的个人筹款页面！</p>
		<p>因法律原因，请让我们知道您的年龄。</p>
	</div>
	
	<div id="seller_step_tips_13_1" style="display:none;">
		<p>请提供您的姓名和您注册小孩的权利。</p>
	</div>
	
	<div id="seller_step_tips_14_1" style="display:none;">
		<p>由于您是18岁以下，请提供您父母的信息。我们会发一封邮件给他们来提醒他们您已经注册了这个站点。</p>
	</div>
	
	<div id="seller_step_tips_18_1" style="display:none;">
		<p>让我们知道您是谁！您的姓氏会显示在您的个人筹款页上。</p>
	</div>
	
	<div id="seller_step_tips_13_2" style="display:none;">
		<p>让我们知道这位销售是谁！只有他们的姓氏会显示在他们自己的筹款页上，他们的年级和组织领队的信息会帮助您的筹款组织时刻通晓他们的线上销售情况。</p>
	</div>
	
	<div id="seller_step_tips_14_2" style="display:none;">
		<p>让我们知道您是谁！您的姓氏会显示在您自己的筹款页上。您的年级和组织领队的信息会帮助您的筹款组织时刻通晓他们的线上销售情况。</p>
	</div>
	
</div>

<script>
$(document).ready(function(){
	
	$(".navbar-brand").addClass("navbar-brand-main");
	$(".user-modal-launch").hide();
	
	<% if !current_user || current_user.account_type.nil? %>
		<% if !@campaign.expired? && @campaign.active %>
			window.setTimeout(function(){
				<% if @step_popup=="yes" %>
					window.setTimeout(function(){
						$("#seller_step_tips_modal").modal("show");
					}, 200);
				<% else %>
					Raisy.users.show_seller_step_tips = false;
				<% end %>
			}, 200);
		<% else %>
			Raisy.users.show_seller_step_tips = false;
		<% end %>
	<% end %>
});

if ($(".join-fundraising-link").length>0) {
	$(".join-fundraising-link").hide();
	$(".join-other-fundraising-link").show();
}
</script>
	
