<div id="signup" class="signup" style="background: whitesmoke;">
	<div class="container container-background">
		<%= hidden_field_tag 'hidsellerid', @seller.id, id: "hidsellerid" %>
			
		<div><h3>加入筹款团队<strong><%= @campaign.title %></strong></h3>
		</div>
		
		<div class="container-box">
			<div class="form-group">
				<div class="step-nav-bar">
					<div id="step_nav_icon_1" class="step-nav-icon"></div>
					<div id="step_nav_icon_2" class="step-nav-icon"></div>
					<div id="step_nav_icon_3" class="step-nav-icon"></div>
					<div id="step_nav_icon_4" class="step-nav-icon"></div>
					<div id="step_nav_icon_5" class="step-nav-icon"></div>
					<div id="step_nav_icon_6" class="step-nav-icon"></div>
					<div id="step_nav_icon_7" class="step-nav-icon"></div>
					<div id="step_nav_icon_8" class="step-nav-icon step-nav-icon-gray"></div>
				</div>
			</div>
			
			<div class="form-group">
				<div class="step-title-container">
					<label>Help Promote the Fundraiser</label>
				</div>
			</div>
			
			<div style="height:5px;"></div>
			
			<div class="seller-share-links">
			    <div class="row">
			        <div class="col-sm-8 col-sm-offset-2">
								<div class="form-group">
			            <p>Share this link with to your friends and family to tell them about your fundraiser and invite them to shop online at your personalized fundraising page to help reach the fundraising goal.</p>
			            <input class="form-control" value="<%= short_campaign_url(@seller.campaign, seller: @seller.referral_code) %>" readonly>
			            <div class="share-links" style="margin-top: 20px;">
			                <a href="#" class="btn btn-info fb-share" data-link="<%= short_campaign_url(@seller.campaign, seller: @seller.referral_code) %>"><%= image_tag 'fb.png' %> Share</a>
			                <!-- <a href="https://twitter.com/share?url=<%= url_encode(short_campaign_url(@seller.campaign, seller: @seller.referral_code)) %>&text=<%= url_encode("Help #{@seller.user_profile.first_name} fundraise for #{@seller.campaign.title}") %>" target="_blank" class="btn btn-info"><%= image_tag 'twitter.png' %> Tweet</a> -->
							<a href="https://twitter.com/intent/tweet?url=<%= url_encode(short_campaign_url(@seller.campaign, seller: @seller.referral_code)) %>&text=<%= url_encode("Help #{@seller.user_profile.first_name} fundraise for #{@seller.campaign.title}") %>" target="_blank" class="btn btn-info"><%= image_tag 'twitter.png' %> Tweet</a>
			            </div>
								</div>
			        </div>
			    </div>
			</div>
				
			<%= form_for(@seller, url: signup_seller_finish_path(@seller), method: :post, html: { id: "seller_finish_form" }) do |f| %>
				<div class="form-group">
					<div class="row">&nbsp;</div>
					
					<div class="row web-box">
						<div class="col-sm-6">
							<div class="backbutton-box">
						    <button class="btn btn-success btn-lg back-btn" type="button" onclick="window.location.href='<%= seller_sendemails_path(@seller) %>';">
										<span class="text">Back</span><span class="loader" style="display:none"></span>
						    </button>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="continuebutton-box">
						    <button class="btn btn-primary btn-lg continue-btn" type="submit">
										<span class="text">Finish</span><span class="loader" style="display:none"></span>
						    </button>
							</div>
						</div>
					</div>
					
					<div class="row mobile-box">
						<div class="col-sm-6">
							<div class="backbutton-box">
						    <button class="btn btn-primary btn-lg continue-btn" type="submit">
										<span class="text">Finish</span><span class="loader" style="display:none"></span>
						    </button>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="continuebutton-box">
						    <button class="btn btn-success btn-lg back-btn" type="button" onclick="window.location.href='<%= seller_sendemails_path(@seller) %>';">
										<span class="text">Back</span><span class="loader" style="display:none"></span>
						    </button>
							</div>
						</div>
					</div>
					
				</div>
			<% end %>
			
		</div>
	</div>
</div>