<div id="signup" class="signup" style="background: whitesmoke; padding-bottom:60px; padding-top:30px;">
	<div class="container container-background">
		<div style="margin-bottom: 30px;"></div>
		<div>
			<h3 style="text-align: center">
				加入筹款团队 <strong><%= @campaign.title %></strong>
			</h3>
		</div>
		<div id="seller_photo" class="container-box">
			
			<!-- <div class="form-group">
				<div class="step-nav-bar-seller">
					<div id="step_nav_icon_1" class="step-nav-icon"></div>
					<div id="step_nav_icon_2" class="step-nav-icon step-nav-icon-gray"></div>
				</div>
			</div>

			<div class="form-group">
				<div class="step-title-container">
					<label>个性化您的个人信息</label>
				</div>
			</div> -->
			
			<div style="height:5px;"></div>
			
			<%= form_for(@seller, :url => {:action => "signup_seller_weixin_update"}, html: {id: "signup_seller_weixin_form", class: 'form-horizontal'}) do |f| %>
				
				<%= hidden_field_tag :seller_referral_code, @seller.referral_code %>
				<%= hidden_field_tag :is_skip, "0" %>
				
				<fieldset>
					
		            <div class="form-group descrption-box">
						<label class="control-label">想跟您的朋友说些什么？</label>
		              <div>
		                <%= f.text_area :description, class: "tinymce-no-tool", style: 'width: 200px; height:200px' %>
		              </div>
		            </div>
					
				</fieldset>
	            
				<div class="form-group">
                    <div style="margin:0px auto;">
			            <div>
							<label class="control-label">您可以在这里上传您的视频</label>
			            </div>
                    	<div class="preview">
							<%= cl_video_tag(@video_name, :width => "100%", :height => 240, :background => "black", :preload => "none", :controls => true, :preload => true, :autobuffer => "autobuffer", :fallback_content => "Your browser does not support HTML5 video tags" ) %>
						</div>
						<div style="width:0px; height:0px;">
							<%= hidden_field_tag :seller_video_file %>
							<%= cl_upload_tag(:video_file, tags: Rails.env, html: { id:'upload_seller_photo', style: "width:0px; height:0px; visibility:hidden;", accept: "video/*", class: "upload_video" }) %>
						</div>
	                    <div class="progress progress-striped active" style="display: none">
	                        <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%; text-align: right; padding-right: 5px;">
	                            <span>0%</span>
	                        </div>
	                    </div>
                    </div>
					
					<div style="text-align:center;">
						<span class="status" style="font-size:14px;">
						</span>
					</div>
					
	  				<div class="form-group">
	  					<div class="row">
	  						<div class="col-sm-12">
	  							<label for="upload_seller_photo" class="upload-button" style="border:1px solid #ccc; text-align:center;padding:8px 0px; display:block; font-weight:normal; float:none; margin:0 auto;">
									<span style="color:#428bca;font-size:1.1em;display:block;">
										上传
									</span>
									<span style="font-size:0.9em;display:block;font-style:italic;">
										你自己的视频
									</span>
									<a href="#" class="remove-image" style="display: none">
										删除视频
									</a>
								</label>
							</div>
	  					</div>
	  				</div>
				</div>
				
				<div class="row">
		            <div class="col-xs-12" style="text-align: center">
		              <button id="skip-btn" class="btn btn-success btn-lg" type="button" style="width:110px;">
		                <span class="text">跳过</span> <span class="loader" style="display:none">
		              </button>
		              <button id="continue-btn" class="btn btn-primary btn-lg" type="button" style="width:110px;">
		                <span class="text">继续</span> <span class="loader" style="display:none">
		              </button>
		            </div>
				</div>
						
			<% end %>
		</div>
	</div>
	
</div>

<script>
$(document).ready(function() {
	
	$("nav").remove();
	$(".navbar-header").remove();
	$("header").css("min-height", "0px");
	$(".navbar-brand").addClass("navbar-brand-main");
	
	$(".back-btn").click(function(){
		window.location.href = "/seller/signup_weixin/" + "<%= @campaign.slug %>";
	});
	
	$("#skip-btn").click(function(){
		
		$("#is_skip").val("1");
		var $button=$(this);
		
		$button.prop('disabled', true).find('span.text').siblings('span.loader').show(200, function() {
			$button.closest("form").submit();
		});
	});
	
	$("#continue-btn").click(function(){
		$("#is_skip").val("0");
		var $button=$(this);
		
		$button.prop('disabled', true).find('span.text').siblings('span.loader').show(200, function() {
			$button.closest("form").submit();
		});
	});
	
});
</script>