<div class="campaign-nav clearfix">
    <div class="pull-left">
        <ul>
            <li><%= link_to "首页", short_campaign_path(@campaign) %></li>

			<% if @campaign.collection_id != 0 %>
            	<li class="hidden-xs"><%= link_to "爱心商品", shop_path(@campaign) %></li>
			<% end %>

            <li>
                <a href="<%= supporters_path(@campaign) %>">支持者</a>
                <span class="badge">
					
					<% if @seller && @campaign.display_seller_goal %>
						<%= @seller.supporters %>
					<% else %>
						<%= @campaign.supporters %>
					<% end %>
					
				</span>
            </li>
        </ul>
    </div>
	
	<% if @campaign.collection_id != 0 %>
	    <div class="pull-right">
	        <a href="#checkout-modal" data-toggle="modal" style="margin: 0; display: none">
	            <span class="glyphicon glyphicon-shopping-cart"></span> <span id="cart-count" class="cart-count"><%= @order.num_items %></span><span> 件商品</span>
	        </a>
	    </div>
	<% end %>
</div>
