<% if @order.items&&@order.items.length>0%>
    <div class="weui_panel weui_panel_access">
      <div class="weui_panel_hd"><span>购物车</span>
        <span  id="js-btn-edit" style="float: right;color: #1ab7ea;">全部清除</span></div>
      <% @order.items.order(:id).each do |item| %>
          <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg ">
            <i class="weui_icon_cancel js-edit delete-item" style="margin-right: 5px;"></i>

            <div class="weui_media_hd">
              <p>

                <% photos=item.product.all_photo.all %>
                <% if (photos&&photos.length>0) %>
                    <%= cl_image_tag photos.first.public_id, width: 50, height: 50, crop: :fill, :class => "weui_media_appmsg_thumb" %>
                <% end %>

              </p>
            </div>
            <div class="weui_media_bd">
              <h4 class="weui_media_title"><%= item.product.name %></h4>
              <% item.options.each do |option| %>
                  <% if option.value.present? %>
                      <p class="weui_media_desc"><%= "#{option.option_group.name}: #{option.value}" %></p>
                  <% end %>
              <% end %>
            </div>
            <div class="weui_media_lf" style="text-align: right;">
              <h4 class="weui_media_title" style="color:rgb(255, 102, 0);">￥<span><%= long_price(item.total_price/100.0) %></span>
              </h4>

              <p class="weui_media_desc js-view">×<%= item.quantity %></p>

              <div class="orders-count js-edit">
                <span style="float: right;">
               <button id="" class="minus btn-count-minus" type="button" ><span>-</span></button>
              <input id=" " class="txt btn-count-value" data-itemid="<%= item.id %>" data-orderid="<%= item.order_id %>" data-campaignid="<%=item.order.campaign.id %>" type="text"   value="<%= item.quantity %>">
              <button id="" class="plus btn-count-plus" type="button"><span>+</span></button>
            </span>
              </div>
            </div>
          </a>
      <% end %>
      <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg ">
        <div class="weui_media_bd">
          <p class="weui_media_desc">运费：</p>
        </div>
        <div class="weui_media_lf">
          <p class="weui_media_desc"><span>￥0.00</span></p>
        </div>
      </a>
      <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg ">
        <div class="weui_media_bd">
          <p class="weui_media_desc" style="text-align: center;">您的本次订单将为“<%=@campaign.organization.name%>”捐赠：<span>￥<%= long_price(@order_donation)%></p>
        </div>

      </a>
    </div>
    <div class="weui_panel" style="margin-top: -1px;">

      <div class="weui_media_box">
        <div class="weui_media_bd" style="text-align: center;">
          <p class="weui_media_desc">您可以额外的为“<%=@campaign.organization.name%>”捐赠
          </p>
          <strong style="color:rgb(255, 102, 0);">
            <a href="javascript:;" class="weui_btn weui_btn_plain_primary js-showActionDonation" style="margin-top:10px;width: 80%;">额外捐赠</a>
          </strong>
        </div>
      </div>
    </div>
    <div class="weui_panel" style="margin-top: -1px;">

      <div class="weui_media_box">
        <div class="weui_media_bd" style="text-align: center;">
          <p class="weui_media_desc">
            ￥<%= long_price((@order.grandtotal-@order.direct_donation)/100.0) %> + ￥<%= long_price(@order.direct_donation/100.0) %>额外捐赠
          </p>
          <strong style="color:rgb(255, 102, 0);  font-size: 17px;font-weight: normal;">
            需付：￥<%= long_price(@order.grandtotal/100.0) %>
          </strong>
        </div>
      </div>
    </div>
    <div class="weui_panel bottom_count">

      <p>

        <a href="/checkout/checkout_weixin?id=<%= @order.campaign.slug %>&showwxpaytitle=1&agent_type=weixin" id="wechat" class="weui_btn weui_btn_primary">结算</a>
      </p>
    </div>
<% else %>


    <div class="page">
      <div class="weui_msg">
        <div class="weui_icon_area"><i class="weui_icon_msg weui_icon_warn"></i></div>
        <div class="weui_text_area">
          <h2 class="weui_msg_title">对不起！</h2>
          <p class="weui_msg_desc">您的购物车里什么都没有！</p>
        </div>
        <div class="weui_opr_area">
          <p class="weui_btn_area">
            <a href="/checkout/procamp_<%= @campaign.slug%>_<%=Rails.env.test?||Rails.env.development? ? 3 : 118%>" class="weui_btn weui_btn_primary">去逛逛</a>
          </p>
        </div>
        <div class="weui_extra_area">
          <!--<a href="">查看详情</a>-->
        </div>
      </div>
    </div>
<% end %>

