<table style="width: 100%;">
<% unless @order.donation_only? %>
    <tr class="summary-header">
      <th style="min-width:32px;">
        <p>数量</p>
      </th>
      <th>
        <p>商品</p>
      </th>
      <th>
        <p>配送</p>
      </th>
      <th>
        &nbsp;
      </th>
    </tr>
    <% @order.items.order(:id).each do |item| %>
        <tr class="item-dm-<%=item.delivery_method%>" style="vertical-align: top;">
          <td>
            <p style="margin: 10px 0 0 0;"><%= item.quantity %></p>
          </td>
          <td>
            <p style="margin: 10px 0 0 0;"><%= item.product.name %></p>
            <% item.options.each do |option| %>
			<% if option.value.present? %>
                <p style="margin:0;"><i><%= "#{option.option_group.name}: #{option.value}" %></i></p>
			<% end %>
            <% end %>
          </td>
          <td>
			  <% delivery_method_text='<div style="text-align:left">' + item.delivery_method_text + '</div>'
			  if item.delivery_method==1
				  delivery_method_text+='<div style="text-align:left">Access code to be emailed.</div>'
			  end
			  if item.delivery_method==2
				  delivery_method_text+='<div style="text-align:left">To be shipped directly to your address.</div>'
			  end
			  if item.delivery_method==3
				  delivery_method_text+='<div style="text-align:left">To be delivered by seller.</div>'
			  end
			   %>
			  <%= image_tag item.delivery_method_icon, width:24, class:"show_tooltip_html", title: delivery_method_text, style:"display:inline-block; margin-top:10px;" %>
          </td>
          <td style="text-align: right">
            <p style="margin: 10px 0 0 0;">￥<%= long_price(item.total_price/100.0) %></p>
          </td>
        </tr>
    <% end %>
    <tr class="summary-spacer">
      <td colspan="4">
        <p>&nbsp;</p>
      </td>
    </tr>
    <tr class="summary-row summary-shipping" <%= raw('style="display: none"') unless @order.delivery_method == 2 %>>
      <td colspan="3">
        <p>运费</p>
      </td>
      <td style="text-align: right">
        <p id="shipping_fee">
          ￥<%= long_price(@order.shipping_fee/100.0) %>
        </p>
      </td>
    </tr>
<% end %>

<% if @order.donation_only? %>
    <tr class="summary-spacer">
      <td colspan="4">
        <p>&nbsp;</p>
      </td>
    </tr>
    <tr class="summary-row summary-donation">
      <td colspan="3">
        <p>捐赠</p>
      </td>
      <td style="text-align: right">
        <p id="shipping_fee">
          ￥<%= long_price(@order.direct_donation/100.0) %>
        </p>
      </td>
    </tr>
<% end %>

<tr class="summary-row summary-processing" <%= raw('style="display: none"') unless @campaign.charge_processing_to_supporter %>>
  <td colspan="3">
    <p>Processing Fee</p>
  </td>
  <td style="text-align: right">
    <p id="processing_fee">
      ￥<%= long_price(@order.processing_fee_supporter/100.0) %>
    </p>
  </td>
</tr>

<tr class="summary-row summary-total">
  <td colspan="3">
    <p><strong>总计</strong></p>
  </td>
  <td style="text-align: right">
    <p id="grand_total" style="font-weight: bold">
      ￥<%= long_price(@order.grandtotal.to_f/100.0) %>
    </p>
  </td>
</tr>
</table>