<div class="product_weixin_header">
  <p>
    <% if @campaign.minilogo %>
        <%= image_tag @campaign.minilogo%>
    <% else %>
        <%= image_tag "minilogo .png"%>
    <% end %>

    <span class="org_name"><%= @campaign.organization.name.length>14?@campaign.organization.name[0,13]+"..." :@campaign.organization.name%></span>  <span style="padding-left: 10px; ">购买即捐赠</span>
  </p>

</div>
<div class="container product_cart" style="padding-bottom: 50px">
  <div class="bd js-panel" style="min-height: 420px">
        <%= render "cart_modal_weixin" %>
  </div>
  <%= render "goods_footer"%>
  <!--<a href="javascript:;" id="btn_test" class="weui_btn weui_btn_primary">按钮</a>-->
  <div id="actionSheet_wrap">
    <div class="weui_mask_transition" id="mask_input" style="display: none;"></div>
    <div class="weui_actionsheet" id="weui_actionsheet_input">
      <div style="background-color: white;">
        <div class="title"  style="height: 40px;">
          <div class="weui_cell_bd weui_cell_primary" style="
          margin-top: 6px;
          ">
            <p style="
            font-size: 16px;
            ">捐款金额</p>
          </div>

          <div class="orders_des">
            <p class="" style="    padding-left: 5px;"></p>

          </div>
          <div class="cancel-img" id="actionsheet_cancel_input"></div>

        </div>
        <hr style="    margin: 0;
            border: 0px none;
            border-top: 1px solid #eee;">
        <div id="personal_modalbody">
          <table style="width:100%;margin-top: 15px;margin-bottom: 10px;">
            <tr>
              <td style="padding:0px 5px; text-align:center; width:33%;  ">
                <a href="javascript:void(0);" data-value="5" style="   border-color: #999;" class="weui_btn weui_btn_plain_primary">5<span>元</span></a>
              </td>
              <td style="padding:0px 5px; text-align:center; width:33%; ">
                <a href="javascript:void(0);" data-value="10" style="   border-color: #999;" class="weui_btn weui_btn_plain_primary">10<span>元</span></a>
              </td>
              <td style="padding:0px 5px; text-align:center; width:34%; ">
                <a href="javascript:void(0);" data-value="20" style="   border-color: #999;" class="weui_btn weui_btn_plain_primary">20<span>元</span></a>
              </td>
            </tr>
          </table>
          <div class="weui_cell" style="padding-top: 0px;
              padding-bottom: 0px;

              margin-top: 5px;">
            <div class="weui_cell_hd" style="padding-right: 5px;"><label class="weui_label">金额</label></div>
            <div class="weui_cell_bd weui_cell_primary">
              <input class="weui_input" id="direct_donation_input" type="input"  placeholder="输入捐款金额">
              <form class="js-form-direct_donation_add">
              <%= hidden_field_tag :donation_add, "" %>
                <%= hidden_field_tag :order_id,@order.id,:class=>"js-order-id"%>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="weui_actionsheet_action" style="    padding:5px 10px;">
        <a href="javascript:void(0);" id="btn_submit1" style="background-color: rgb(241, 90, 12); color:white;" class="weui_btn weui_btn_warn">确 定</a>
      </div>
    </div>
  </div>
</div>

<!--BEGIN dialog1-->
<div class="weui_dialog_confirm" id="dialog1" style="display: none;">
  <div class="weui_mask"></div>
  <div class="weui_dialog">
    <div class="weui_dialog_hd"><strong class="weui_dialog_title">提示</strong></div>
    <div class="weui_dialog_bd">您确定要清空购物车么？</div>
    <div class="weui_dialog_ft">
      <a href="javascript:;" class="weui_btn_dialog default">取消</a>
      <a href="javascript:;"  class="weui_btn_dialog primary js-btn-ok">确定</a>
    </div>
  </div>
</div>
<!--END dialog1-->
<script>
  $(function(){
    window.shopmall.loadCart();
    window.shopmall.updateQuantity();
    window.shopmall.orderItemDelete();
    window.shopmall.cart_modal_weixin_refresh(<%=@order.id%>,$("#js-panel"));
    window.shopmall.donation_input_show();
    window.shopmall.orderUpdateAddDonation();
  });
//    $(function(){
//      var time_out_test;
//      $("#btn_test").click(function(){
//          console.log("111");
//          window.clearTimeout(time_out_test);
//          time_out_test= window.setTimeout(function(){
//            console.log(9999);
//          },1000);
//      });
//    });
</script>
