<div id="campaign-show">
  <div id="campaign_slug" data-slug="<%= @campaign.slug %>"></div>

  <div class="container container-background">
    <div class="row">
      <div class="col-md-12">

        <div class="container-box checkout">

          <%= render 'shop/campaign_header' %>

          <div class="checkout-container">
            <div class="clearfix">
            </div>
            <div class="row">
              <div class="col-sm-5 col-sm-push-7">
                <div class="well well-default sidebar" style="position: relative">
                  <div class="clearfix">
                    <h3 class="order-summary pull-left">
                      订单明细
                      <span class="loader alt-loader" style="display: none"></span>
                    </h3>

                    <div class="pull-right">
                      <% unless @order.donation_only? %>
                          <a href="#checkout-modal" data-toggle="modal" style="margin: 0">编辑</a>
                      <% end %>
                    </div>
                  </div>
				  <div id="order_summary_container">
                  	<%= render 'shop/order_summary' %>
				  </div>
                </div>

                <!-- <div>
                  <div class="stripe-box">
                    <%= image_tag 'stripe.png', class: 'img-thumbnail-no', style: 'display: inline-block; margin-right:10px; width: 110px' %>

                    <span id="siteseal"><script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=B0wXAOOppIfnjjzTsRjHZkIdFlwjDTQTpXg1Gy0QAK7CHobsPE1fNHDEaH0Q"></script></span>
                  </div>
                </div> -->

              </div>

              <div class="col-sm-7 col-sm-pull-5">

                <div class="main">
                  <%= form_tag(checkout_confirmation_path(@campaign), method: "post", id: "the_payment_form") %>
                  <div id="stripe" style="display:none;">
                    <%= hidden_field_tag :stripe_token, "0" %>
                  </div>

                  <input type="hidden" id="order_id" name="order_id" value="<%= @order.id %>"/>

                  <h3>
                    支持者信息
                  </h3>

                  <fieldset>

                    <div class="form-group">
                      <label for="fullname">昵称</label>
                      <input id="fullname" name="order[fullname]" type="text" class="form-control" maxlength="50">
                    </div>

                    <div class="form-group" style="display:none;">
                      <label for="email">Email Address (for receipt &amp; updates)</label>
                      <input id="email" name="order[email]" type="text" class="form-control" maxlength="200">
                    </div>

                    <% @campaign.checkout_option_groups.everybody.each do |cog| %>
                        <%= render 'shop/checkout_option', cog: cog %>
                    <% end %>

                    <div class="form-group" style="margin-top: 15px;">
                      <div class="checkbox">
                        <label for="order_make_anonymous">
                          <input type="checkbox" name="order[make_anonymous]" id="order_make_anonymous">
                          匿名
                        </label>
                      </div>
                    </div>

                  </fieldset>

                  <% @has_seller=false %>
                  <% @campaign.sellers.each do |s| %>
                      <% if s.id == session[:seller_id]
                           @has_seller=true %>
                          <h3>成员信息
                          </h3>

                          <div class="form-group">
											<span style="display:inline-block; margin-left:20px;">
												感谢您支持<%= "#{s.user_profile.fullname} (#{s.referral_code})" %></span>
                          </div>

                          <input type="hidden" id="order_seller_id" name="order[seller_id]" value="<%= s.id %>"/>
                      <% end %>
                  <% end %>

                  <% if !@has_seller && @campaign.sellers.count > 0 %>
                      <h3>
                        成员信息
                      </h3>

                      <fieldset>
                        <div class="form-group">
                          <label for="order_seller_id">请选择您要支持的团队成员</label>
                          <select id="order_seller_id" name="order[seller_id]" class="form-control">
                            <option value="">-- 请选择 --</option>
                            <% @campaign.sellers.each do |s| %>
                                <option value="<%= s.id %>" <%= raw 'selected' if s.id == session[:seller_id] %>>
                                  <%= "#{s.user_profile.fullname} (#{s.referral_code})" %>
                                </option>
                            <% end %>
                          </select>
                        </div>
                      </fieldset>
                  <% end %>

				  <div style="display:none;">
                  	<% unless @order.donation_only? %>
									
	                  <h3>
	                    Delivery Method
	                  </h3>
										
										<p class="dm-instruction-2" style="display: <%= @order.needs_shipping ? 'block' : 'none' %>">Book orders will be shipped to the address you provide in 14-20 days, excluding weekends and holidays.</p>
										
										<p class="dm-instruction-3" style="display: <%= @order.needs_bulkshipping ? 'block' : 'none' %>">Cookie Dough orders will be delivered by the seller 4-6 weeks after the sale end date. As these are not shipping via mail please check with your seller prior to placing your order that they are able to deliver to you. Also contact your seller regarding the exact delivery date.</p>
										
										<p class="dm-instruction-1" style="display: <%= @order.needs_email ? 'block' : 'none' %>">Digital Memberships will be delivered via email. You will recieve an email containing your access code within 24 hours after your purchase.</p>
										
                    <div class="shipping-inputs dm-instruction-2" style="margin-top:20px; display: <%= @order.needs_shipping ? 'block' : 'none' %>">
                      <div class="form-group">
                        <label for="order_address_fullname">Recipient's Full Name</label>
                        <input id="order_address_fullname" name="order[address_fullname]" type="text" class="form-control" maxlength="50">
                      </div>
                      <div class="form-group">
                        <label for="order_address_line_one">Address Line 1</label>
                        <input id="order_address_line_one" name="order[address_line_one]" type="text" class="form-control" maxlength="50">
                      </div>
                      <div class="form-group">
                        <label for="order_address_line_two">Address Line 2 (optional)</label>
                        <input id="order_address_line_two" name="order[address_line_two]" type="text" class="form-control" maxlength="50">
                      </div>
                      <div class="form-group">
                        <label for="order_phone_number">Phone Number</label>
                        <input id="order_phone_number" name="order[phone_number]" type="text" class="form-control" maxlength="15">
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="order_address_city">City</label>
                            <input id="order_address_city" name="order[address_city]" type="text" class="form-control" maxlength="35">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="order_address_state">State/Province</label>
                            <input id="order_address_state" name="order[address_state]" type="text" class="form-control" maxlength="2">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="order_address_postal_code">Zip/Postal Code</label>
                            <input id="order_address_postal_code" name="order[address_postal_code]" type="text" class="form-control" maxlength="25">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="order_address_country">Country</label>
                            <select id="order_address_country" name="order[address_country]" class="form-control" maxlength="25">
                              <option value="" selected>-- Please Select --</option>
                              <option value="US">United States</option>
                              <option value="CA">Canada</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <% @campaign.checkout_option_groups.shipping.each do |cog| %>
                          <%= render 'shop/checkout_option', cog: cog %>
                      <% end %>
                    </div>
										
                  <% end %>
			  	</div>

                  <!-- end of donation_only -->
				  
                  <h3 class="payment-header">
					  收货地址
                  </h3>

                  <div class="row">
                    <div class="col-md-8">
                      <div class="payment-submit">
						  <%= link_to '获取微信地址', "javascript:void(0)", :id => 'lnkAddShippingAddress', :class => 'btn btn-lightgreen btn-lg btn-block'  %>
                      </div>
                      <p style="margin-top: 10px;">
                        收货地址：
						<br />
                        <p id="lblDefaultShippingAddress"></p>
                      </p>
                    </div>
                  </div>
				  
                  <h3 class="payment-header">
                    支付方式
                    <span class="glyphicon glyphicon-lock show_tooltip" data-placement="top" data-title="微信安全支付"></span>
                  </h3>

                  <div class="row">
                    <div class="col-md-8">
                      <div class="payment-submit">
						<%= link_to @order.donation_only? ? "微信捐赠" : "微信支付", "javascript:void(0)", :id => 'wechat', :class => 'btn btn-primary btn-lg btn-block'  %>
                      </div>
                      <p style="margin-top: 10px;">
                        需要支付
                        <span id="button_total">￥<%= long_price(@order.grandtotal/100.0) %></span>
                      </p>
                    </div>
                  </div>

                  </form>
                  <div id="errors" style="display: none;"></div>

                </div>
                <!-- /.main -->
              </div>
              <!-- /.col-sm-7 -->

            </div>
            <!-- /.row -->
          </div>
          <!-- /.checkout-container -->

        </div>
      </div>
    </div>
  </div>
</div>

<div id="checkout-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="checkout-modal" aria-hidden="true">
  <%= render 'shop/cart_modal', parent_page: :checkout %>
</div><!-- /.modal -->


<script Language="javascript">
	
$(document).ready(function() {
	

	
	$("#fullname").val("<%= @nickname %>");
	
	// $("#lnkAddShippingAddress").click(function (event) {
	//
	// 	var redirect_uri = encodeURIComponent("http://www.11haoonline.com/weixin_custom/address");
	//
	// 	window.location.href = "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxc2251da36f59ced4&redirect_uri="
	//                         + redirect_uri
	//                         + "&response_type=code&scope=snsapi_userinfo&state=1#wechat_redirect";
	// });
	
	// $('#wechat').click(function(){
	//
	// 	$('#wechat').prop('disabled', true)
	//
	// 	window.Raisy.SetCurrentShippingAddress("闻人扬", "虹桥路12345号", "上海市", "上海市", "长宁区", "123456789", "200051");
	//
	// 	ComfirmOrder();
	//
	// });

	var currentShippingAddress = window.Raisy.GetCurrentShippingAddress();
	
	if (currentShippingAddress != null) {
		
		$("#ulDefaultShippingAddress").show();
		
		var address = window.Raisy.formatAddress(currentShippingAddress.ProvinceName, currentShippingAddress.CityName, currentShippingAddress.CityAreaName, currentShippingAddress.AddressLine, currentShippingAddress.ReceiveName, currentShippingAddress.PhoneNumber);
		
		$("#lblDefaultShippingAddress").text(address);
	
	} else {
		
		$("#ulDefaultShippingAddress").hide();
	
	}
									
});
	
	
	if (document.addEventListener) {
		document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
	} else if (document.attachEvent) {
		document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
		document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
	}
			
function onBridgeReady(){
	
	$("#lnkAddShippingAddress").click(function (event) {
		
        WeixinJSBridge.invoke('editAddress', {
            "appId": "<%= @app_id %>",
            "scope": "jsapi_address",
            "signType": "sha1",
            "addrSign": "<%= @addrSign %>",
            "timeStamp": "<%= @timestamp %>",
            "nonceStr": "<%= @nonceStr %>"
			
        }, function (res) {
			
			if (res && res.userName) {
				SaveAddress(res);
				// alert("success");
			
			}
			
			else {
				
				if (res.err_msg != "edit_address:fail") {
					alert("系统忙，请稍候再试。" + res.err_msg);
				}
			
			}
									

        });
		
	});
	
	$('#wechat').click(function(){

		if ("<%= @weixin_init_success %>" == "true") {
			
			if (!Validate()) return;
			
			$('#wechat').prop('disabled', true)
			
		    WeixinJSBridge.invoke('getBrandWCPayRequest', {
				"appId" : "<%= @js_app_id %>",     //公众号名称，由商户传入
				"timeStamp": "<%= @js_timestamp %>",         //时间戳，自1970年以来的秒数
				"nonceStr" : "<%= @js_noncestr %>", //随机串
				"package" : "<%= @package %>",
				"signType" : "MD5",         //微信签名方式:
				"paySign" : "<%= @js_pay_sign %>" //微信签名
			}, function(res){    
				
				if(res.err_msg == "get_brand_wcpay_request:ok" ) {   
					
					ComfirmOrder();
					
		        } else {
					
					$('#wechat').prop('disabled', false);
					
		        }
				
		    }); 
			
		} else {
			
			alert("系统忙，请刷新页面再试。");
			
		}
		
	});	
   
}

function SaveAddress(res) {
	
	window.Raisy.SetCurrentShippingAddress(res.userName, res.addressDetailInfo, res.proviceFirstStageName, res.addressCitySecondStageName, res.addressCountiesThirdStageName, res.telNumber, res.addressPostalCode);
	
	var currentShippingAddress = window.Raisy.GetCurrentShippingAddress();
	
	var address = window.Raisy.formatAddress(currentShippingAddress.ProvinceName, currentShippingAddress.CityName, currentShippingAddress.CityAreaName, currentShippingAddress.AddressLine, currentShippingAddress.ReceiveName, currentShippingAddress.PhoneNumber);
	
	$("#ulDefaultShippingAddress").show();
	$("#lblDefaultShippingAddress").text(address);
	
}

function ComfirmOrder() {
	
	var currentShippingAddress = window.Raisy.GetCurrentShippingAddress();
	
	var order_make_anonymous = $("#order_make_anonymous").prop("checked");
	var fullName = "";
	
	if (order_make_anonymous) {
		fullName = "匿名";
	} else {
		fullName = $("#fullname").val();
	}
	
	if (!Validate()) return;
	
    $.ajax('/ajax/update-order', {
        type: 'POST',
        data: {
			order_id: <%= @order.id %>,
			order_make_anonymous: order_make_anonymous,
			fullName: fullName,
			provinceName: currentShippingAddress.ProvinceName,
			cityName: currentShippingAddress.CityName,
			cityAreaName: currentShippingAddress.CityAreaName,
			addressLine: currentShippingAddress.AddressLine,
			receiveName: currentShippingAddress.ReceiveName,
			phoneNumber: currentShippingAddress.PhoneNumber,
			zipCode: currentShippingAddress.ZipCode
		},
        beforeSend: function (jqXHR, settings) {
            jqXHR.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
        },
        success: function (data) {
			window.location.href = "/" + "<%= @campaign.slug %>" + "/confirmation";
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
			alert("抱歉，更新订单时出了问题，请联系我们帮您解决。");
        }
    });
	
}

function Validate() {
	
	var error = "";
	
	var order_make_anonymous = $("#order_make_anonymous").prop("checked");
	
	if (!order_make_anonymous && $("#fullname").val().length == 0) {
		error += "\n";
		error += "请输入昵称或者选择匿名。";
	}
	
	var currentShippingAddress = window.Raisy.GetCurrentShippingAddress();
	
	if (currentShippingAddress == null) {
		error += "\n";
		error += "请从微信选择收货地址。";
	}
	
	if (error) {
		alert(error);
		return false;
	} else {
		return true;
	}
}
		
</script>