<div id="campaign-show">
    <div id="campaign_slug" data-slug="<%= @campaign.slug %>"></div>

    <div class="container container-background">
        <div class="row">
            <div class="col-md-12">

                <div class="container-box checkout">

                    <%= render 'shop/campaign_header' %>

                    <div class="checkout-confirmation-container">

                        <div class="row checkout-confirmation-box">
                            <div class="col-sm-7">
                                <h2>支付确认</h2>
                                <p>感谢您支持筹款团队: <%= @campaign.title %></p>
                                <p>如果您有任何疑问, 请联系筹款团队组织者 <a href="mailto:<%= @campaign.organizer.email %>"><%= @campaign.organizer.profile.display_name || @campaign.organizer.profile.fullname %></a>.
                                </p>
                                <p style="margin-top:30px;">
                                    <%= link_to "返回筹款团队首页", short_campaign_path(@campaign), class: 'btn btn-primary' %>
                                </p>
                            </div>

                            <div class="col-sm-5">
                                <div class="well well-default confirmation_sidebar">

                                    <h3 style="margin-top: 0px">订单明细</h3>
                                    <% unless @order.donation_only? %>
                                    <table style="width: 100%">
                                        <tbody style="vertical-align: top">
											<tr class="summary-header">
	                                            <th style="min-width:32px;">
	                                              <p>数量</p>
	                                            </th>
	                                            <th>
	                                              <p>商品</p>
	                                            </th>
	  										  <th>
	  											  <p>配送</p>
	  										  </th>
											</tr>
											
                                            <% @order.items.each do |item| %>
										        <tr style="vertical-align: top;">
										          <td>
										            <p style="margin: 10px 0 0 0;"><%= item.quantity %></p>
										          </td>
										          <td>
										            <p style="margin: 10px 0 0 0;"><%= item.product.name %></p>
										            <% item.options.each do |option| %>
													<% if option.value.present? %>
										                <p style="margin:0;"><i><%= "#{option.option_group.name}: #{option.value}" %></i></p>
													<% end %>
										            <% end %>
										          </td>
										          <td>
													<% delivery_method_text='<div style="text-align:left">' + item.delivery_method_text + '</div>' %>
													<%= image_tag item.delivery_method_icon, width:24, class:"show_tooltip_html", title: delivery_method_text, style:"display:inline-block; margin-top:10px;" %>
										          </td>
										        </tr>
                                            <% end %>
                                        </tbody>
                                    </table>
                                    <br/>
                                    <% end %>

									<p>
										<strong>支付金额:</strong><br/>
										￥<%= long_price(@order.grandtotal/100.0) %><br/><br/>
										<% if @order.seller %>
										<strong>支持的团队成员:</strong><br/>
										<%= @order.seller.user_profile.fullname %><br/><br/>
										<% end %>
										<strong>订单编号:</strong><br/> <%= @order.id.to_s.rjust(8,'0') %>
									</p>
                                </div>
                            </div>
                        </div>

                    </div><!-- /.checkout-confirmation-container -->

                </div>
            </div>
        </div>
    </div>
</div>
