<style>
  .weui_icon_success_circle:before {
    font-size: 16px;
    vertical-align: top;
  }
</style>
<input type="hidden" id="campaign_slug" value="<%= @campaign.slug %>"/>
<div class="shop_mall">
  <div id="playBox" class="playbox">
    <div class="pre"></div>
    <div class="next"></div>
    <ul class="oUlplay">
      <% photos=@product.all_photo.all %>
      <% if (photos&&photos.length>0)
           photos.each do |photo| %>
              <li>
                <a href="javascript:void(0);" target="_blank">  <%= cl_image_tag photo.public_id, width: 400, height: 280, crop: :fill %></a>
              </li>
          <% end
             else %>
          <li><a href="#" target="_blank"><img src="/images/test/sp01.jpg"/></a></li>
      <% end %>
    </ul>
    <div class="smalltitle">
      <ul>
        <% photos=@product.all_photo.all %>
        <% if (photos&&photos.length>0)
             photos.each do |photo| %>
                <li></li>
            <% end
               end %>
        <!--<li class="thistitle"></li>-->

      </ul>
    </div>
  </div>

  <div class="goods-header">
    <h2 class="title"><%= @product.name %></h2>

    <div class="goods-price ">
      <div class="current-price">
        <span>￥&nbsp;</span><i class="js-goods-price price">
        <span id="product_price_span" data-price="<%= @min_price==@max_price ? long_price(@max_price) : long_price(@min_price) + ' - ' + long_price(@max_price) %>" data-origin-price="<%= @min_origin_price==@max_origin_price ? long_price(@max_origin_price) : long_price(@min_origin_price) + ' - ' + long_price(@max_origin_price) %>">
          <%= @min_price==@max_price ? long_price(@max_price) : long_price(@min_price) + " - " + long_price(@max_price) %>
        </span>
      </i>
      </div>
      <div class="original-price">
      </div>
    </div>
    <dl style="text-align: left; margin-left: 10px;">
      <dd style="color: #999">您每购买一件商品将捐助：￥<%= @min_donation_price==@max_donation_price ? long_price(@max_donation_price) : long_price(@min_donation_price) + " - " + long_price(@max_donation_price) %></dd>
    </dl>
  </div>
  <hr class="with-margin">

  <div class="sku-detail adv-opts" style="border-top:none;">
    <div class="sku-detail-inner adv-opts-inner">
      <% option_group=@option_group %>
      <% if option_group %>
          <div class="sku-group">
            <dl class="js-select-sku sku-item js-showActionBuy">

              <dt> <%= option_group.name.capitalize %>：</dt>
              <dd>
                <% if @option_group_properties
                     @option_group_properties.each do |property| %>
                        <%= property.value %>
                    <% end
                       end %>
              </dd>
            </dl>
            <hr>
          </div>
      <% end %>
      <dl>
        <dt>运费：</dt>
        <dd>免运费</dd>
      </dl>
      <hr>

    </div>
  </div>

  <div class="custom-store">

                        <span class="weui_icon_success_circle">

            </span>
    <span class="rz-name font-size-12 c-gray-darker">企业认证</span>
                        <span class="weui_icon_success_circle">

            </span>
    <span class="rz-name font-size-12 c-gray-darker">担保交易</span>

  </div>
  <div class="goods-content">

    <% if @product.description %>
        <%= sanitize @product.description, tags: %w(p span strong em u ul ol li a img), attributes: %w(id class style src alt href target) %>
    <% end %>

  </div>
  <hr class="with-margin">
  <%= render "goods_footer"%>
  <div class="goods-bottom">
    <p id="showActionBuy" class="js-showActionBuy">
      <a href="javascript:void(0);" style="background-color: rgb(241, 90, 12); color:white;" class="weui_btn weui_btn_warn">立即购买</a>
    </p>

    <p id="showActionBuyBox" class="js-showActionBuy" style="background-color: white;">
      <a href="javascript:void(0);" style="  background-color: rgb(255, 255, 255);color: rgb(51,51,51);" class="weui_btn weui_btn_warn">加入购物车</a>
    </p>
  </div>
  <form class="product-form">
    <input id="add_discount" type="hidden" name="add_discount" value="<%= @campaign.is_discount? ? 1 : 0 %>"/>

    <div id="actionSheet_wrap">
      <div class="weui_mask_transition" id="mask"></div>
      <div class="weui_actionsheet" id="weui_actionsheet">
        <div style="background-color: white;">
          <div class="orders" id="actionsheet_cancel">
            <div class="orders_ico">

              <% if (photos&&photos.length>0) %>
                  <%= cl_image_tag photos.first.public_id, width: 50, height: 50, crop: :fill %>
              <% end %>
            </div>

            <div class="orders_des">
              <p class="" style="    padding-left: 5px;"><%= @product.name %></p>

              <div class="" style="    padding-left: 5px;">
                <div class="current-price pull-left c-black">
                  <span>￥</span>
                  <i>
                    <span style="font-style: normal;" id="product_price_span_show" data-price="<%= @min_price==@max_price ? long_price(@max_price) : long_price(@min_price) + ' - ' + long_price(@max_price) %>" data-origin-price="<%= @min_origin_price==@max_origin_price ? long_price(@max_origin_price) : long_price(@min_origin_price) + ' - ' + long_price(@max_origin_price) %>"><%= @min_price==@max_price ? long_price(@max_price) : long_price(@min_price) + " - " + long_price(@max_price) %></span>
                  </i>
                </div>
              </div>
            </div>
            <div class="cancel-img"></div>

          </div>
          <% if option_group %>
              <hr class="with-margin">
              <div class="orders-type">

                <p>
                  <%= option_group.name.capitalize %>：
                </p>

                <ul class="js-options-select">
                  <% if @option_group_properties
                       @option_group_properties.each do |property| %>
                          <li class="tag" data-id="<%= property.id %>" data-price="<%= property.price %>"><%= property.value %></li>
                      <% end
                         end %>
                </ul>
                <input type="hidden" name="item[options][][option_group_id]" value="<%= option_group.id %>"/>
                <input type="hidden" name="item[options][][value]"/>
              </div>
          <% end %>
          <hr class="with-margin">
          <div class="orders-count">
            <p>
              <span style="float: left;margin-top: 5px;margin-left: 10px;">数量：</span>
            <span style="float: right;">
               <button id="btn-count-minus" class="minus" type="button"><span>-</span></button>
              <input id="btn-count-value"  type="text" class="txt"  value="1">
              <button id="btn-count-plus" class="plus" type="button"><span>+</span></button>
            </span>
            </p>
            <input type="hidden" id="item_quantity" name="item[quantity]" value="1"/>
          </div>
          <hr>

          <input type="hidden" id="item_order_id" name="item[order_id]" value="<%= @order.id %>"/>
          <input type="hidden" id="item_product_id" name="item[product_id]" value="<%= @product.id %>"/>
          <input type="hidden" id="item_campaign_id" name="item[campaign_id]" value="<%= @campaign.id %>"/>

          <div id="btn_buy_next" style="padding: 10px;">
            <a href="javascript:void(0);" style="background-color: rgb(241, 90, 12); color:white;" class="weui_btn weui_btn_warn">下一步</a>
          </div>
          <div id="btn_buy_box" style="padding: 10px;">
            <a href="javascript:void(0);" style="background-color: rgb(241, 90, 12); color:white; " class="weui_btn weui_btn_warn">加入购物车</a>
          </div>
        </div>
        <!--<div class="weui_actionsheet_menu">-->
        <!--<div class="weui_actionsheet_cell">示例菜单</div>-->
        <!--<div class="weui_actionsheet_cell">示例菜单</div>-->
        <!--<div class="weui_actionsheet_cell">示例菜单</div>-->
        <!--<div class="weui_actionsheet_cell">示例菜单</div>-->
        <!--</div>-->
        <!--<div class="weui_actionsheet_action">-->
        <!--<div class="weui_actionsheet_cell" id="actionsheet_cancel">取消</div>-->
        <!--</div>-->
      </div>
    </div>
  </form>

  <div id="footer_cart" data-count="<%= @order.num_items if @order.items %>" style="display: block;">
    <div style="position:relative; text-align:right;">
      <%= image_tag "float-cart.png", :style => "height:40px;" %>
      <div style="position:absolute; top:-10px; right:0px; width:60px; text-align:center;">
        <span class="badge cart-count"><%= @order.num_items if @order.items %></span></div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function () {
    window.shopmall.StarRun();
    window.shopmall.showbug();
    window.shopmall.optionSelect();
    window.shopmall.quantitySelect();
    window.shopmall.addOrderItem();
    $("#playBox").css("width", $(window).outerWidth());
    $('#playBox').find(".oUlplay").find("li").css("width", $(window).outerWidth());

    $(".js-open-follow").click(function () {
      window._11hao.shareDialogShow();
    });
  });
</script>

<% if @sign_package %>
    <script>
      window.shareData = {
        appid: "<%= ENV['WEIXIN_APPID'] %>",
        link: '<%= request.original_url %>',
        img_url: "<%= cl_image_path photos.first.public_id, width: 50, height: 50, crop: :fill  if photos&&photos.length>0%>",
        img_width: "415",
        img_height: "399",
        desc: "11hao公益圈",
        title: "<%= @product.name%>"
      };

      wx.config({
        debug: false,
        appId: "<%= @sign_package['appId'] %>",
        timestamp: "<%= @sign_package['timestamp'] %>",
        nonceStr: "<%= @sign_package['nonceStr'] %>",
        signature: "<%= @sign_package['signature'] %>",
        jsApiList: [
          'onMenuShareTimeline',
          'onMenuShareAppMessage',
          'onMenuShareQQ',
          'onMenuShareWeibo'
        ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
      });

      wx.ready(function () {

        var title = shareData.title;
        var desc = shareData.desc;
        var link = shareData.link;
        var imgUrl = shareData.img_url

        wx.onMenuShareTimeline({
          title: title, // 分享标题
          desc: desc, // 分享描述
          link: link, // 分享链接
          imgUrl: imgUrl, // 分享图标
          trigger: function () {

          },
          success: function () {
            // 用户确认分享后执行的回调函数

          },
          cancel: function () {
            // 用户取消分享后执行的回调函数
          }
        });

        wx.onMenuShareAppMessage({
          title: title, // 分享标题
          desc: desc, // 分享描述
          link: link, // 分享链接
          imgUrl: imgUrl, // 分享图标
          // type: 'link', // 分享类型,music、video或link，不填默认为link
// 	    dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
          trigger: function () {
          },
          success: function () {
            // 用户确认分享后执行的回调函数

          },
          cancel: function () {
            // 用户取消分享后执行的回调函数
          }
        });

        wx.onMenuShareQQ({
          title: title, // 分享标题
          desc: desc, // 分享描述
          link: link, // 分享链接
          imgUrl: imgUrl, // 分享图标
          trigger: function () {
          },
          success: function () {
            // 用户确认分享后执行的回调函数

          },
          cancel: function () {
            // 用户取消分享后执行的回调函数
          }
        });

        wx.onMenuShareWeibo({
          title: title, // 分享标题
          desc: desc, // 分享描述
          link: link, // 分享链接
          imgUrl: imgUrl, // 分享图标
          trigger: function () {
          },
          success: function () {
            // 用户确认分享后执行的回调函数

          },
          cancel: function () {
            // 用户取消分享后执行的回调函数
          }
        });

      });

      wx.error(function (res) {

        // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
        alert(res.errMsg);
      });
    </script>
<% end %>