<div id="campaign-show">
    <div id="campaign_slug" data-slug="<%= @campaign.slug %>"></div>

    <div class="container container-background">
        <div class="container-box top-section">

            <%= render 'shop/campaign_header' %>
            <%= render 'shop/campaign_nav' %>

            <div class="row">
                <div class="col-md-8">
                    <div class="left-column">
                        <h3 style="margin: 0">简单公益 只因有你!</h3>
                        <hr/>
                        <% @campaign.orders.completed.online.each do |order| %>
							<div class="support_content">
								<p>
						            <% if order.avatar_url.present? %>
				                		<%= image_tag order.avatar_url, width: 32, height: 32, class: 'img-thumbnail' %>
						            <% else %>
						                <%= image_tag 'default_avatar.png', width: 32, height: 32, class: 'img-thumbnail' %>
						            <% end %>
								</p>
								<div class="right_content">
									<div>
										<%= order.make_anonymous ? '匿名' : (order.is_offline ? "Anonymous" : order.fullname) %>

										<div style="float: right">
											￥<%= long_price(order.donation_total/100.0) %>
										</div>
									</div>
								</div>
							</div>
                        <% end %>
                    </div> <!-- /.left-column -->
                </div>
                <div class="col-md-4">
										<div style="padding:15px 0px">
                    	<%= render 'shop/campaign_sidebar' %>
										</div>
                </div>
            </div> <!-- /.row -->

        </div> <!--/.top-section -->
    </div> <!--/.container-background -->

</div> <!-- /#campaign-show -->

<div id="checkout-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="checkout-modal" aria-hidden="true">
    <%= render 'shop/cart_modal', parent_page: :supporters %>
</div><!-- /.modal -->
