<div>
	<%= @code %>
</div>
<div>
	<%= @state %>
</div>
<div>
	<%= @response_code %>
</div>
<div>
	<%= @message %>
</div>
<div>
	<%= @token %>
</div>
<div>
	<%= @addrSign %>
</div>

<script type="text/javascript">

        $(document).ready(function () {

            var addrSign = "<%= @addrSign %>";

        });

</script>