<br />
<br />
<%= link_to '微信支付', "javascript:void(0)", :id => 'wechat'  %>
<br />
<br />
<br />
<%= link_to '获取微信地址', "javascript:void(0)", :id => 'lnkAddShippingAddress'  %>
<br />
<br />
<p id="lblDefaultShippingAddress"></p>

<script Language="javascript">
	
$(document).ready(function() {
	alert(1);
	$("#lnkAddShippingAddress").click(function (event) {
		
		var redirect_uri = encodeURIComponent("http://www.11haoonline.com/weixin_custom/address");
		
		window.location.href = "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxc2251da36f59ced4&redirect_uri="
	                        + redirect_uri
	                        + "&response_type=code&scope=snsapi_userinfo&state=1#wechat_redirect";
	});
	
	var currentShippingAddress = window.Raisy.GetCurrentShippingAddress();

	            if (currentShippingAddress != null) {

	                $("#ulDefaultShippingAddress").show();

	                var address = window.Raisy.formatAddress(currentShippingAddress.ProvinceName, currentShippingAddress.CityName, currentShippingAddress.CityAreaName, currentShippingAddress.AddressLine, currentShippingAddress.ReceiveName, currentShippingAddress.PhoneNumber);

	                $("#lblDefaultShippingAddress").text(address);

	            } else {

	                $("#ulDefaultShippingAddress").hide();

	            }
									
});
			
	// alert('<%= @result %>');
	
	if (document.addEventListener) {
		document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
	} else if (document.attachEvent) {
		document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
		document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
	}
			
function onBridgeReady(){

	$('#wechat').click(function(){
		
	    WeixinJSBridge.invoke('getBrandWCPayRequest', {
			"appId" : "<%= @app_id %>",     //公众号名称，由商户传入
			"timeStamp": "<%= @js_timestamp %>",         //时间戳，自1970年以来的秒数
			"nonceStr" : "<%= @js_noncestr %>", //随机串
			"package" : "<%= @package %>",
			"signType" : "MD5",         //微信签名方式:
			"paySign" : "<%= @js_pay_sign %>" //微信签名
		}, function(res){    
			if(res.err_msg == "get_brand_wcpay_request:ok" ) {     				//使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。 
				alert("success");
	        } else {
				// alert("<%= @app_id %>");
	        	alert(res.err_msg);
	        }
	    }); 
		
	});	
   
}
						
</script>