 <div id="campaigns" style="padding: 30px 0">
     <div class="container">
		 <div class="row">
			 <div class="col-md-8 col-md-offset-1">
			 	<h3>New image</h3>
		 	 </div>
		 </div>
		 
		 <div class="row">&nbsp;</div>
		 
		 <form id="campaign_image_form" action="/admin/campaign_save_image" method="post" class="campaign-image-form form-horizontal">
			 
		 <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
		 <%= hidden_field_tag :logo_crop_x, "0" %>
		 <%= hidden_field_tag :logo_crop_y, "0" %>
		 <%= hidden_field_tag :logo_crop_w, "622" %>
		 <%= hidden_field_tag :logo_crop_h, "414" %>
			 
 		 <div class="row">
			 <div style="width:624px; margin:0px auto;">
		         <div id="drop-zone" class="drop-zone" style="border:1px solid #ccc; background:#eee;">
					 <div class="preview" style="text-align:center; width:622px; height:414px;">
		             	<%= image_tag 'default_upload_logo.gif', style: "display: inline-block; margin: 0px auto; margin-top:157px;" %>
					</div>
		         </div>
		         <div class="progress progress-striped active" style="display: none;">
		             <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%; text-align: right; padding-right: 5px;">
		                 <span>0%</span>
		             </div>
		         </div>
				 <div style="text-align:center;">
				 	 <span class="status"></span>
				 </div>
		 	 </div>
			 <div style="display:none;">
			 	<%= cl_image_upload_tag("campaign_image", tags: "default-campaign-image", html: { accept:"image/*" }) %>
			</div>
			<div class="upload-button" style="width:200px;margin:10px auto; border:1px solid #ccc; text-align:center;padding:8px 0px;">
					<span style="color:#428bca;font-size:1.1em;display:block;">
						Upload</span>
			 </div>
		 </div>
		 
		 <div class="row">&nbsp;</div>
		 
		 <div class="row">
			 <div class="col-md-8 col-md-offset-2" style="text-align:center;">
				 <input type="submit" class="btn btn-primary btn-lg btn-save-campaign-image" value="Save"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				 <%= link_to 'Back', "/admin/campaign_images", class: 'btn btn-primary btn-lg' %>
			 </div>
		 </div>
		 
		 </form>
	 </div>
</div>