<div id="homepage">
    <div id="startfund" class="top-row">
		<div class="container">
			<div class="row" style="margin-left:0px; margin-right: 0px">
	            <div class="col-md-6 left-section">
					<div class="title">
						11号计划
					</div>
					<div class="title">
						为公益梦想“加油”
					</div>
					<div style="margin-top: 20px">
						<a href="/search" class="btn btn-lightgreen">
							立即加入
						</a>
					</div>
				</div>
	            <div class="col-md-6 right-section">
					<%= image_tag "comp.png", class: "img-responsive", style: "margin:auto;" %>
				</div>
	        </div>
		</div>
    </div>
	<div id="howitworks">
	    <div class="container">
			<h1>
				比众筹主动  比义卖省心
			</h1>
			<h2>
				只需3步，开启您的筹款之旅
			</h2>
	        <div id="how-it-works" class="row">
	            <div class="col-md-4">
					<div class="how-it-works-col">
						<div class="img1">
							<%= image_tag "how_it_works1.png", class: "img-responsive", style: "margin:auto;" %>
						</div>
						<div class="circle">
							1
						</div>
						<h3>
							创建您的筹款页
						</h3>
						<p>
							告诉我们您的筹款故事，选择您支持的商品，只需要简单几步就可以创建好您的筹款页面。
						</p>
						<p>
							我们精心挑选的商品，销售額最多40%都会回馈给您作为活动经费
						</p>
					</div>
				</div>
	            <div class="col-md-4">
					<div class="how-it-works-col">
						<div class="img2">
							<%= image_tag "how_it_works2.png", class: "img-responsive", style: "margin:auto;" %>
						</div>
						<div class="circle">
							2
						</div>
						<h3>
							分享您的筹款页面
						</h3>
						<p>
							在社交媒体上分享您的筹款页面，告诉大家您的筹款故事，邀请您的朋友一起加入您的筹款计划。
						</p>
					</div>
				</div>
	            <div class="col-md-4">
					<div class="how-it-works-col">
						<div class="img3">
							<%= image_tag "how_it_works3.png", class: "img-responsive", style: "margin:auto;" %>
						</div>
						<div class="circle">
							3
						</div>
						<h3>
							追踪您的筹款进程
						</h3>
						<p>
							每周我们的系统会把您的筹款进程email给您。
						</p>
						<p>
							同时您也可以随时登录我们的系统，查看您的筹款报表。
						</p>
						<p>
							在筹款的截止日期我们会把您的筹款详情通过email发送给您。
						</p>
					</div>
				</div>
			</div>
			<div style="margin-top: 20px">
				<a href="<%= current_user ? '/campaigns/new' : '/campaigns/account' %>" class="btn btn-white">
					<span>发起筹款</span>
				</a>
			</div>
		</div>
	</div>

	<div id="why">
	    <div class="container">
			<div class="row" style="margin-left:0px; margin-right: 0px">
	            <div class="col-md-6 left-section">
					<%= image_tag "11hao-qrcode.png", class: "img-responsive", style: "margin:auto;" %>
					<div style="margin-top: 20px" class="title">
						搜索微信公众号［11号公益圈］
					</div>
					<div class="title">
						了解更多精彩内容
					</div>
				</div>
	            <div class="col-md-6 right-section">
					<div class="title">
						简单公益
					</div>
					<div class="title">
						只因有你
					</div>
				</div>
	        </div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		
		
		$(".navbar-brand").addClass("navbar-brand-main");
		$(".navbar-default").removeClass("navbar-static-top").addClass("navbar-fixed-top");
		
		$(".home-menu").show();
		
		$("a.homemenu").click(function () {
            
			var target = $(this.hash);
			$("a.homemenu").removeClass("selected");
			$(this).addClass("selected");
			
            $('html,body').animate({
                scrollTop: target.offset().top - 90
            }, 1000);
            return false;
		});
							
	});
</script>