<div id="tos">

    <div class="container">

        <div class="row">
            <div class="col-md-12">

                <p style="margin-top:50px;"><strong>PLEASE NOTE THAT YOUR USE OF AND ACCESS TO OUR SERVICES (DEFINED BELOW) ARE SUBJECT TO THE FOLLOWING TERMS; IF YOU DO NOT AGREE TO ALL OF THE FOLLOWING, YOU MAY NOT USE OR ACCESS THE SERVICES IN ANY MANNER.</strong></p>

                <div>
                    <h1>Terms of Use</h1>
                </div>

                <p><i>Effective date: January 1st, 2014</i></p>

                <p>Welcome to Raisy.  Please read on to learn the rules and restrictions that govern your use of our website(s), products, services and applications (the “Services”).  If you have any questions, comments, or concerns regarding these terms or the Services, please contact us using the details below.</p>

                <p>These Terms of Use (the “Terms”) are a binding contract between you and Batch Made, Inc. (“Raisy,” “we” and “us”).   You must agree to and accept all of the Terms, or you don’t have the right to use the Services.  Your use of the Services in any way means that you agree to all of these Terms, and these Terms will remain in effect while you use the Services.  These Terms include the provisions in this document, as well as those in the <%= link_to "Privacy Policy", privacy_path %> and <%= link_to "Copyright Dispute Policy", copyright_path %>.
                </p>

                <div>
                    <h3>Will these Terms ever change?</h3>
                </div>

                <p>We are constantly trying to improve our Services, so these Terms may need to change along with the Services.  We reserve the right to change the Terms at any time, but if we do, we will bring it to your attention by placing a notice on the Raisy.org website, by sending you an email, and/or by some other means.</p>

                <p>If you don’t agree with the new Terms, you are free to reject them; unfortunately, that means you will no longer be able to use the Services.  If you use the Services in any way after a change to the Terms is effective, that means you agree to all of the changes.</p>

                <p>Except for changes by us as described here, no other amendment or modification of these Terms will be effective unless in writing and signed by both you and us.</p>

                <div>
                    <h3>What about my privacy?</h3>
                </div>

                <p>Raisy takes the privacy of its users very seriously.  For the current Raisy Privacy Policy, please click <%= link_to "here", privacy_path %>.</p>

                <p>The Children’s Online Privacy Protection Act (“COPPA”) requires that online service providers obtain parental consent before they knowingly collect personally identifiable information online from children who are under 13.  We do not knowingly collect or solicit personally identifiable information from children under 13; if you are a child under 13, please do not attempt to register for the Services or send any personal information about yourself to us.  If we learn we have collected personal information from a child under 13, we will delete that information as quickly as possible.  If you believe that a child under 13 may have provided us personal information, please contact us using the details below.</p>

                <div>
                    <h3>What are the basics of using Raisy?</h3>
                </div>

                <p>You may be required to sign up for an account, and select a password and user name (“Raisy User ID”).  You promise to provide us with accurate, complete, and updated registration information about yourself.  You may not select as your Raisy User ID a name that you don’t have the right to use, or another person’s name with the intent to impersonate that person. You may not transfer your account to anyone else without our prior written permission.</p>

                <p>You represent and warrant that you are of legal age to form a binding contract (or if not, you’ve received your parent’s or guardian’s permission to use the Services and gotten your parent or guardian to agree to these Terms on your behalf).  If you’re agreeing to these Terms on behalf of an organization or entity, you represent and warrant that you are authorized to agree to these Terms on that organization or entity’s behalf and bind them to these Terms (in which case, the references to “you” and “your” in these Terms, except for in this sentence, refer to that organization or entity).</p>

                <p>You will only use the Services in a manner that complies with all laws that apply to you.  If your use of the Services is prohibited by applicable laws, then you aren’t authorized to use the Services.  We can’t and won’t be responsible for your using the Services in a way that breaks the law.You will not share your account or password with anyone, and you must protect the security of your account and your password.  You’re responsible for any activity associated with your account.</p>

                <div>
                    <h3>Your use of the Services is subject to the following additional restrictions:</h3>
                </div>

                <p>You represent, warrant, and agree that you will not contribute any Content or User Submission (each of those terms is defined below) or otherwise use the Services or interact with the Services in a manner that:</p>

                <ul style="list-style-type: none;">
                    <li>a. Infringes or violates the intellectual property rights or any other rights of anyone else (including Raisy);</li>
                    <li>b. Violates any law or regulation;</li>
                    <li>c. Is harmful, fraudulent, deceptive, threatening, harassing, defamatory, obscene, or otherwise objectionable;</li>
                    <li>d. Jeopardizes the security of your Raisy account or anyone else’s (such as allowing someone else to log in to the Services as you);</li>
                    <li>e. Attempts, in any manner, to obtain the password, account, or other security information from any other user;</li>
                    <li>f. Violates the security of any computer network, or cracks any passwords or security encryption codes;</li>
                    <li>g. Runs Maillist, Listserv, any form of auto-responder or “spam” on the Services, or any processes that run or are activated while you are not logged into the Services, or that otherwise interfere with the proper working of the Services (including by placing an unreasonable load on the Services’ infrastructure);</li>
                    <li>h. “Crawls,” “scrapes,” or “spiders” any page, data, or portion of or relating to the Services or Content (through use of manual or automated means);</li>
                    <li>i. Copies or stores any significant portion of the Content;</li>
                    <li>j. Decompiles, reverse engineers, or otherwise attempts to obtain the source code or underlying ideas or information of or relating to the Services.</li>
                </ul>

                <p>A violation of any of the foregoing is grounds for termination of your right to use or access the Services.</p>

                <p>You represent and warrant that you are legally entitled to disclose to Raisy the Content or User Submissions that you contribute.  This includes, without limitation, personally identifiable information of any other person.</p>

                <div>
                    <h3>What are my rights in Raisy?</h3>
                </div>

                <p>The materials displayed or performed or available on or through the Services, including, but not limited to, text, graphics, data, articles, photos, images, illustrations, User Submissions, and so forth (all of the foregoing, the “Content”) are protected by copyright and/or other intellectual property laws.  You promise to abide by all copyright notices, trademark rules, information, and restrictions contained in any Content you access through the Services, and you won’t use, copy, reproduce, modify, translate, publish, broadcast, transmit, distribute, perform, upload, display, license, sell or otherwise exploit for any purpose any Content not owned by you, (i) without the prior consent of the owner of that Content or (ii) in a way that violates someone else’s (including Raisy’s) rights.</p>

                <p>You understand that Raisy owns the Services. You won’t modify, publish, transmit, participate in the transfer or sale of, reproduce (except as expressly provided in this Section), create derivative works based on, or otherwise exploit any of the Services.</p>

                <p>The Services may allow you to copy or download certain Content; please remember that just because this functionality exists, doesn’t mean that all the restrictions above don’t apply – they do!</p>

                <div>
                    <h3>Do I have to grant any licenses to Raisy or to other users?</h3>
                </div>

                <p>Anything you post, upload, share, store, or otherwise provide through the Services is your “User Submission.”  Some User Submissions are viewable by other users.  In order to display your User Submissions on the Services, and to allow other users to view them (where applicable), you grant us certain rights in those User Submissions.  Please note that all of the following licenses are subject to our <%= link_to "Privacy Policy", privacy_path %> to the extent they relate to User Submissions that are also your personally-identifiable information.</p>
    
                <p>For all User Submissions, you hereby grant Raisy a license to translate, modify (for technical purposes, for example making sure your content is viewable on an iPhone as well as a computer) and reproduce and otherwise act with respect to such User Submissions, in each case to enable us to operate the Services, as described in more detail below.  This is a license only – your ownership in User Submissions is not affected.</p?

                <p>You agree that the licenses you grant are royalty-free, perpetual, sublicenseable, irrevocable, and worldwide, provided that when you delete your Raisy account, we will stop displaying your User Submissions to other users (if applicable), but you understand and agree that it may not be possible to completely delete that content from Raisy’s records, and that your User Submissions may remain viewable elsewhere to the extent that they were copied or stored by other users.</p>

                <p>Finally, you understand and agree that Raisy, in performing the required technical steps to provide the Services to our users (including you), may need to make changes to your User Submissions to conform and adapt those User Submissions to the technical requirements of connection networks, devices, services, or media, and the foregoing licenses include the rights to do so.</p>

                <div>
                    <h3>What if I see something on the Services that infringes my copyright?</h3>
                </div>

                <p>You may have heard of the Digital Millennium Copyright Act (the “DMCA”), as it relates to online service providers, like Raisy, being asked to remove material that allegedly violates someone’s copyright.  We respect others’ intellectual property rights, and we reserve the right to delete or disable Content alleged to be infringing, and to terminate the accounts of repeat alleged infringers; to review our complete Copyright Dispute Policy and learn how to report potentially infringing content, click <%= link_to "here", copyright_path %>.  To learn more about the DMCA, click here.</p>

                <div>
                    <h3>Who is responsible for what I see and do on the Services?</h3>
                </div>

                <p>Any information or content publicly posted or privately transmitted through the Services is the sole responsibility of the person from whom such content originated, and you access all such information and content at your own risk, and we aren’t liable for any errors or omissions in that information or content or for any damages or loss you might suffer in connection with it.   We cannot control and have no duty to take any action regarding how you may interpret and use the Content or what actions you may take as a result of having been exposed to the Content, and you hereby release us from all liability for you having acquired or not acquired Content through the Services.  We can’t guarantee the identity of any users with whom you interact in using the Services and are not responsible for which users gain access to the Services.</p>

                <p>You are responsible for all Content you contribute, in any manner, to the Services, and you represent and warrant you have all rights necessary to do so, in the manner in which you contribute it.  You will keep all your registration information accurate and current.  You are responsible for all your activity in connection with the Services.</p>

                <p>The Services may contain links or connections to third party websites or services that are not owned or controlled by Raisy. When you access third party websites or use third party services, you accept that there are risks in doing so, and that Raisy is not responsible for such risks.  We encourage you to be aware when you leave the Services and to read the terms and conditions and privacy policy of each third party website or service that you visit or utilize.</p>

                <p>Raisy has no control over, and assumes no responsibility for, the content, accuracy, privacy policies, or practices of or opinions expressed in any third party websites or by any third party that you interact with through the Services. In addition, Raisy will not and cannot monitor, verify, censor or edit the content of any third party site or service. By using the Services, you release and hold us harmless from any and all liability arising from your use of any third party website or service.</p>

                <p>Your interactions with organizations and/or individuals found on or through the Services, including payment and delivery of goods or services, and any other terms, conditions, warranties or representations associated with such dealings, are solely between you and such organizations and/or individuals. You should make whatever investigation you feel necessary or appropriate before proceeding with any online or offline transaction with any of these third parties. You agree that Raisy shall not be responsible or liable for any loss or damage of any sort incurred as the result of any such dealings.</p>

                <p>If there is a dispute between participants on this site, or between users and any third party, you agree that Raisy is under no obligation to become involved. In the event that you have a dispute with one or more other users, you release Raisy, its officers, employees, agents, and successors from claims, demands, and damages of every kind or nature, known or unknown, suspected or unsuspected, disclosed or undisclosed, arising out of or in any way related to such disputes and/or our Services. If you are a California resident, you shall and hereby do waive California Civil Code Section 1542, which says: "A general release does not extend to claims which the creditor does not know or suspect to exist in his or her favor at the time of executing the release, which, if known by him or her must have materially affected his or her settlement with the debtor."</p>

                <div>
                    <h3>Will Raisy ever change the Services?</h3>
                </div>

                <p>We’re always trying to improve the Services, so they may change over time.  We may suspend or discontinue any part of the Services, or we may introduce new features or impose limits on certain features or restrict access to parts or all of the Services.  We’ll try to give you notice when we make a material change to the Services that would adversely affect you, but this isn’t always practical. Similarly, we reserve the right to remove any Content from the Services at any time, for any reason (including, but not limited to, if someone alleges you contributed that Content in violation of these Terms), in our sole discretion, and without notice.</p>

                <div>
                    <h3>Does Raisy cost anything?</h3>
                </div>

                <p>You may choose to purchase products through the Services.  Raisy may limit or cancel quantities of product purchased, and it reserves the right to refuse any order.  In the event Raisy needs to make a change to an order, it will attempt to notify you by contacting the email address, billing address, and/or phone number provided at the time the order was made.  The prices displayed on the Services are quoted in U.S. currency and are valid only in the United States.  Prices are subject to change at any time.  Sales tax will be determined by the shipping address of the order and will automatically be added to the order.  Raisy is required by law to apply sales tax to orders to certain states.</p>

                <p>All fees charged by Raisy and the portion of the purchase or donation that will be collected by the donee will be stated at the time of transaction.</p>

                <p>Raisy reserves the right to require payment of fees for certain or all Services, in addition to the fees charged for the purchase of products.  You shall pay all such fees, as described on the Services in connection with such Services selected by you.  Raisy reserves the right to change its price list and to institute new charges at any time, upon notice to you, which may be sent by email or posted on the Services.  Your use of the Services following such notification constitutes your acceptance of any new or increased charges.</p>

                <div>
                    <h3>What if I want to stop using Raisy?</h3>
                </div>

                <p>You’re free to do that at any time, by contacting us using the details below; please refer to our <%= link_to "Privacy Policy", privacy_path %>, as well as the licenses above, to understand how we treat information you provide to us after you have stopped using our Services.</p>

                <p>Raisy is also free to terminate (or suspend access to) your use of the Services or your account, for any reason in our discretion, including your breach of these Terms.   Raisy has the sole right to decide whether you are in violation of any of the restrictions set forth in these Terms.</p>

                <p>Account termination may result in destruction of any Content associated with your account, so keep that in mind before you decide to terminate your account.  We will try to provide advance notice to you prior to terminating your account so that you are able to retrieve any important User Submissions you may have stored in your account (to the extent allowed by law and these Terms), but we may not do so if we determine it would be impractical, illegal, not in the interest of someone’s safety or security, or otherwise harmful to the rights or property of Raisy.</p>

                <p>If you have deleted your account by mistake, contact us immediately using the details below – we will try to help, but unfortunately, we can’t promise that we can recover or restore anything.</p>

                <p>Provisions that, by their nature, should survive termination of these Terms shall survive termination.  By way of example, all of the following will survive termination: any obligation you have to pay us or indemnify us, any limitations on our liability, any terms regarding ownership or intellectual property rights, and terms regarding disputes between us.</p>

                <div>
                    <h3>What else do I need to know?</h3>
                </div>

                <p><strong>Warranty Disclaimer</strong>.  Raisy does not make any representations or warranties concerning any content contained in or accessed through the Services, and we will not be responsible or liable for the accuracy, copyright compliance, legality, or decency of material contained in or accessed through the Services.  We make no representations or warranties regarding suggestions or recommendations of services or products offered or purchased through the Services.  Products and services purchased or offered (whether or not following such recommendations and suggestions) through the Services are provided “AS IS” and without any warranty of any kind from Raisy or others (unless, with respect to such others only, provided expressly and unambiguously in writing by a designated third party for a specific product).  THE SERVICES AND CONTENT ARE PROVIDED ON AN “AS-IS” BASIS, WITHOUT WARRANTIES OR ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR  A PARTICULAR PURPOSE, NON-INFRINGEMENT, OR THAT USE OF THE SERVICES WILL BE UNINTERRUPTED OR ERROR-FREE.  SOME STATES DO NOT ALLOW LIMITATIONS ON HOW LONG AN IMPLIED WARRANTY LASTS, SO THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.</p>

                <p><strong>Limitation of Liability.</strong>  TO THE FULLEST EXTENT ALLOWED BY APPLICABLE LAW, UNDER NO CIRCUMSTANCES AND UNDER NO LEGAL THEORY (INCLUDING, WITHOUT LIMITATION, TORT, CONTRACT, STRICT LIABILITY, OR OTHERWISE) SHALL RAISY BE LIABLE TO YOU OR TO ANY OTHER PERSON FOR (A) ANY INDIRECT, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES OF ANY KIND, INCLUDING DAMAGES FOR LOST PROFITS, LOSS OF GOODWILL, WORK STOPPAGE, ACCURACY OF RESULTS, OR COMPUTER FAILURE OR MALFUNCTION, OR (B) ANY AMOUNT, IN THE AGGREGATE, IN EXCESS OF THE GREATER OF (I) $100 OR (II) THE AMOUNTS PAID BY YOU TO RAISY IN CONNECTION WITH THE SERVICES IN THE TWELVE (12) MONTH PERIOD PRECEDING THIS APPLICABLE CLAIM, OR (III) ANY MATTER BEYOND OUR REASONABLE CONTROL.  SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES, SO THE ABOVE LIMITATION AND EXCLUSIONS MAY NOT APPLY TO YOU.</p>

                <p><strong>Indemnity.</strong>  To the fullest extent allowed by applicable law, You agree to indemnify and hold Raisy, its affiliates, officers, agents, employees, and partners harmless from and against any and all claims, liabilities, damages (actual and consequential), losses and expenses (including attorneys’ fees) arising from or in any way related to any third party claims relating to (a) your use of the Services (including any actions taken by a third party using your account), and (b) your violation of these Terms.  In the event of such a claim, suit, or action (“Claim”), we will attempt to provide notice of the Claim to the contact information we have for your account (provided that failure to deliver such notice shall not eliminate or reduce your indemnification obligations hereunder).</p>

                <p><strong>Assignment.</strong>  You may not assign, delegate or transfer these Terms or your rights or obligations hereunder, or your Services account, in any way (by operation of law or otherwise) without Raisy’s prior written consent.  We may transfer, assign, or delegate these Terms and our rights and obligations without consent.</p>

                <p><strong>Choice of Law; Arbitration.</strong>  These Terms are governed by and will be construed under the laws of the State of California, without regard to the conflicts of laws provisions thereof.  Any dispute arising from or relating to the subject matter of these Terms shall be finally settled in San Francisco County, California, in English, in accordance with the Streamlined Arbitration Rules and Procedures of Judicial Arbitration and Mediation Services, Inc. ("JAMS") then in effect, by one commercial arbitrator with substantial experience in resolving intellectual property and commercial contract disputes, who shall be selected from the appropriate list of JAMS arbitrators in accordance with such Rules. Judgment upon the award rendered by such arbitrator may be entered in any court of competent jurisdiction. Notwithstanding the foregoing obligation to arbitrate disputes, each party shall have the right to pursue injunctive or other equitable relief at any time, from any court of competent jurisdiction. For all purposes of this Agreement, the parties consent to exclusive jurisdiction and venue in the state or federal courts located in, respectively, San Francisco County, California, or the Northern District of California.</p>

                <p><strong>Miscellaneous.</strong>  You will be responsible for paying, withholding, filing, and reporting all taxes, duties, and other governmental assessments associated with your activity in connection with the Services, provided that the Raisy may, in its sole discretion, do any of the foregoing on your behalf or for itself as it sees fit.  The failure of either you or us to exercise, in any way, any right herein shall not be deemed a waiver of any further rights hereunder.  If any provision of these Terms is found to be unenforceable or invalid, that provision will be limited or eliminated, to the minimum extent necessary, so that these Terms shall otherwise remain in full force and effect and enforceable.  You and Raisy agree that these Terms are the complete and exclusive statement of the mutual understanding between you and Raisy, and that it supersedes and cancels all previous written and oral agreements, communications and other understandings relating to the subject matter of these Terms, and that all modifications to these Terms must be in a writing signed by both parties (except as otherwise provided herein).  You hereby acknowledge and agree that you are not an employee, agent, partner, or joint venture of Raisy, and you do not have any authority of any kind to bind Raisy in any respect whatsoever.   You and Raisy agree there are no third party beneficiaries intended under these Terms.</p>

                <div>
                    <h2>Contact Information</h2>
                </div>

                <p>
                    Raisy</br>
                    3221 Buchanan St. No 7</br>
                    San Francisco, CA, 94123</br>
                    Email: <a href="mailto:complaints@raisy.entertainment.com">complaints@raisy.entertainment.com</a></br>
                </p>

                <p style="margin-bottom:50px;"><i>Updated February 16th, 2014</i></p>

            </div>
        </div> <!-- /.row -->

    </div> <!-- /.container -->

</div> <!-- /.tos -->
