<div id="personal_story_header" class="container" style="font-family:'Microsoft YaHei', '微软雅黑', arial, sans-serif;">
  <div class="row">
    <img id="head_img" src="/images/personals/p_11.jpg" style="width: 100%;" class="img-responsive" alt="Responsive image">

    <div class="title" style="letter-spacing:2px;">
      <h4>我只是想走路</h4>
    </div>
  </div>
</div>
<div id="personal_story_content" class="container container-box">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3" style="text-align:center;">
      <!--<h4>我只是想走路</h4>-->
    </div>
    <div class="col-xs-12">
      <span>我叫孙兰兰，女，1986年7月出生，现年29岁，住在湖北一个贫困的小山村，去趟集市要走十几里山路。母亲十五年前病逝，家里弟兄姊妹五个，全靠爸爸一人抚养。从小我就有个梦想，长大了，要出去看看外面的世界……</span>
    </div>
    <div class="col-xs-12">
      <img src="/images/personals/p_01.jpg" class="img-responsive img-rounded" alt="Responsive image">
    </div>

    <div class="col-xs-12">
      <span>我拼命读书，功夫不负有心人，终于在2008年6月拿到“中南财经政法大学”毕业证书和学位证书。随后在“上海达丰电脑”工作，我以为，美好的人生从此拉开序幕……</span>
    </div>
    <div class="col-xs-12">
      <img src="/images/personals/p_02.jpg" class="img-responsive img-rounded" alt="Responsive image">
    </div>
    <div class="col-xs-12">
      <span>
  谁知天有不测风云，人有旦夕祸福，自2012年2月中旬开始，我持续头痛发晕，四肢无力，辗转三四家医院，一直没有查到病因，吃了无数药，输了各种液，我的双腿却渐渐的再也抬不起来……同年3-6月，先后在“上海复旦大学附属中山医院”、“上海市公共卫生临床中心”和“中国人民解放军第三0九医院（北京）”被诊断为“结核性脑脊膜脊髓炎、截瘫、白细胞减少、泌尿系感染、电解质紊乱”等病症，并造成高位截瘫、大小便失禁后遗症，只能常年插导尿管……
      </span>
    </div>
    <div class="col-xs-12">
      <img src="/images/personals/p_03.jpg" class="img-responsive img-rounded" alt="Responsive image">
    </div>
    <div class="col-xs-12">
      <img src="/images/personals/p_04.jpg" class="img-responsive img-rounded" alt="Responsive image">
    </div>
    <div class="col-xs-12">
      <span>
          从北京309出院回家后，我又出现“高烧”、“癫痫”等症状，先后又在南阳，武汉等地治疗，一直持续到2013年12月，前后花费约50万余元，病情始终无好转迹象。从此，我的视力所及仅限卧室，出行只能轮椅为伴。当别人说走就走的时候，我却连喝口水都需要帮忙，过着可怜的寄生虫似的生活。不能决定吃什么，穿什么，没法洗澡，甚至翻身都不能，没有爱好的权利，大多数时候只能忍气吞声，逆来顺受，别人享受天伦之乐的时候，我却觉得孤独难耐，羡慕的心疼，此生了无盼望，甚至想寻死……
      </span>
    </div>
    <div class="col-xs-12">
      <img src="/images/personals/p_05.jpg" class="img-responsive img-rounded" alt="Responsive image">
    </div>
    <div class="col-xs-12">
      <img src="/images/personals/p_06.jpg" class="img-responsive img-rounded" alt="Responsive image">
    </div>
    <div class="col-xs-12">
      <span>
  2013年8月家人在县残联帮我办理了一级残疾证。
      </span>
    </div>
    <div class="col-xs-12">
      <img src="/images/personals/p_07.jpg" class="img-responsive img-rounded" alt="Responsive image">
    </div>
    <div class="col-xs-12">
      <span>
  家人和老公都很爱我，也让我有勇气活了下来；
  下图为2013.7，轮椅上的生日；
      </span>
    </div>
    <div class="col-xs-12">
      <img src="/images/personals/p_08.jpg" class="img-responsive img-rounded" alt="Responsive image">
    </div>
    <div class="col-xs-12">
      <span>
  我每天只能趴着吃饭；
      </span>
    </div>
    <div class="col-xs-12">
      <img src="/images/personals/p_09.jpg" class="img-responsive img-rounded" alt="Responsive image">
    </div>
    <div class="col-xs-12">
      <span>
  感谢上天眷顾，虽然高位截瘫，但是上帝赐给我一个健康的孩子，2014.2.21，我的儿子“依凡”降生，从此，他就是我此生的盼望……
      </span>
    </div>
    <div class="col-xs-12">
      <img src="/images/personals/p_10.jpg" class="img-responsive img-rounded" alt="Responsive image">
    </div>
    <div class="col-xs-12">
      <span>
  由于我胸口以下完全没有知觉，剖腹产，十几厘米的口子，一滴麻药都没打，宝宝平安出生，真是奇迹！
      </span>
    </div>
    <div class="col-xs-12">
      <img src="/images/personals/p_11.jpg" class="img-responsive img-rounded" alt="Responsive image">
    </div>
    <div class="col-xs-12">
      <span>
   但是难题来了，我自己坐不起来，甚至连翻身都不能，只能老公和姐姐扶着喂奶，有点吃力，对不起宝宝，要跟我们一起受苦了
      </span>
    </div>
    <div class="col-xs-12">
      <img src="/images/personals/p_12.jpg" class="img-responsive img-rounded" alt="Responsive image">
    </div>
    <div class="col-xs-12">
      <span>
  虽然历经种种难处，怀孕时无法锻炼，营养不足，药物反应，宝宝生下来时大脑缺氧，心脏有个缺口没有长好，经过治疗，宝宝还是健康的长大了。感谢姐姐、婆婆和老公，经历无数的不眠之夜，把我的儿子抚养长大，而我，却只能躺着，在他哭的时候，陪着揪心……
      </span>
    </div>
    <div class="col-xs-12">
      <img src="/images/personals/p_13.jpg" class="img-responsive img-rounded" alt="Responsive image">
    </div>
    <div class="col-xs-12">
      <span>
  夏天，老公在院子里给宝宝洗澡，我看着他们，觉得心里甜甜的……
      </span>
    </div>
    <div class="col-xs-12">
      <img src="/images/personals/p_14.jpg" class="img-responsive img-rounded" alt="Responsive image">
    </div>
    <div class="col-xs-12">
      <span>
  宝宝很听话，自己吃饭的时候不忘去看看爸爸饭做好了没有？妈妈还没有吃饭呢。我的老公，就这样日复一日，年复一年，为我和儿子做饭，很辛苦……
      </span>
    </div>
    <div class="col-xs-12">
      <img src="/images/personals/p_15.jpg" class="img-responsive img-rounded" alt="Responsive image">
    </div>
    <div class="col-xs-12">
      <span>
  终于，儿子会跑了，作为母亲，我很欣慰，图为他向我躺着的床跑来；
      </span>
    </div>
    <div class="col-xs-12">
      <img src="/images/personals/p_17.jpg" class="img-responsive img-rounded" alt="Responsive image">
    </div>
    <div class="col-xs-12">
      <span>
从2012.2生病至今，已经近四年，高昂的医药费早已使家里家徒四壁，外债累累。儿子的降生，更是一颗甜蜜炸弹，高兴的同时，还要预备高额抚养费。由于我长期用药，除了刚出生几天，后来都是奶粉喂养，费用高昂。而我还需要定期检查，消炎，长期的卧床护理产品，衣食起居等费用，使老公背负着巨大的经济和思想压力，一方面要照顾我，每天为我擦洗，定期换导尿管，甚至隔两天需要为我抠大便。另一方面，还要照顾不满两岁的儿子，喂奶粉，换尿布，洗衣做饭等。由于我和我不到2岁的儿子生活完全不能自理，我的丈夫要常年在身旁照顾，家里无任何经济来源。2015年12月，祸不单行，因高温炉火外泄，造成家里失火，家里的物品基本上都被烧了。我的丈夫因一时接受不了这个打击，离家出走。
      </span>
    </div>
    <!--<div class="col-xs-12">-->
    <!--<img src="/images/personals/p_17.jpg" class="img-responsive img-rounded" alt="Responsive image">-->
    <!--</div>-->
    <div class="col-xs-12">
      <span>
  图为儿子骑在我的背上
      </span>
    </div>
    <div class="col-xs-12">
      <img src="/images/personals/p_18.jpg" class="img-responsive img-rounded" alt="Responsive image">
    </div>
    <div class="col-xs-12">
      <span>
  目前，我能想到的办法都用过了。为了我不到2岁的儿子，我也必须活下去。走投无路之下，我请求社会有心人士能伸出援手，帮帮我们！
      </span>
    </div>
  </div>
</div>
<div id="personal_story_footer" class="footer navbar-fixed-bottom" style="border-top:0px solid #ddd;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12" style="text-align:center;">
        <div style="padding:5px 0px;">
          <button type="button" data-toggle="modal" data-target="#personal-modal" class="btn btn-primary" style="border-radius:4px; box-shadow: 1px 1px 1px #888;">
            <span class="text" style="font-size:16px; letter-spacing:1px;">我要捐款</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="personal-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag(personal_story_checkout_confirmation_path, method: "post", id: "payment_form") %>
      <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="myModalLabel">
          捐款
        </h4>
      </div>
      <div class="modal-body">
        <div>
          <div class="row">
            <div class="col-md-12">

              <label for="product_name">捐款金额</label>
							
							<div style="margin-top:5px;">
              	<%= text_field_tag :direct_donation, "", class: 'form-control', placeholder: '输入捐款金额' %>
							</div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">


        <input type="hidden" id="order_id" name="campagin_id" value="<%= @campaign.id %>"/>
        <!--<button type="button" class="btn btn-default"-->
        <!--data-dismiss="modal">关闭-->
        <!--</button>-->

        <button id="payment-form-submit" class="btn btn-primary btn-lg btn-block" type="submit" style="border-radius:4px; box-shadow: 1px 1px 1px #888;">
                                                        <span class="text" data-text="微信捐赠" style="letter-spacing:1px;">
                                                             微信捐赠
                                                        </span>
          <span class="loader" style="display:none"></span>
        </button>

        <%= link_to "微信捐赠", "javascript:void(0)", :id => 'wechat', :class => 'btn btn-primary btn-lg btn-block', style:  "letter-spacing:1px; border-radius:4px; box-shadow: 1px 1px 1px #888;" %>
        <!--<button id="btn_submit" type="button" class="btn btn-primary">-->
        <!--确认捐款-->
        <!--</button>-->

      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</div>
<div id="weixin_onbridgeread" style="width: 0px;height: 0px;overflow: hidden;"></div>
<script language="javascript" type="text/javascript">
  $(function () {
		
		document.title = "我只是想走路";

    if (<%= @is_wechat_browser %> == false
    )
    {
      $("#payment-form-submit").show();
      $('#wechat').hide();
    }
    else
    {
      $("#payment-form-submit").hide();
      $('#wechat').show();
    }


    if (typeof WeixinJSBridge == "undefined") {
      if (document.addEventListener) {
        document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
      } else if (document.attachEvent) {
        document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
        document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
      }
    } else {
      onBridgeReady();
    }
		
		window.shareData = {
			appid: "<%= ENV['WEIXIN_APPID'] %>",
			link: "<%= request.url %>",
			img_url: "<%= request.protocol + request.host_with_port + '/images/personals/p_05.jpg' %>",
			img_width: "621",
			img_height: "556",
			desc: "我只是想走路!",
			title: "我只是想走路"
		};
		
    function onBridgeReady() {
			// 发送给好友
			WeixinJSBridge.on('menu:share:appmessage', function(argv){
				WeixinJSBridge.invoke('sendAppMessage',{
	        "appid": shareData.appid,
	        "img_url": shareData.img_url,
	        "img_width": shareData.img_width,
	        "img_height": shareData.img_height,
	        "link": shareData.link,
	        "desc": shareData.desc,
	        "title": shareData.title
        }, function(res) {
        });
			});
			// 分享到朋友圈
			WeixinJSBridge.on('menu:share:timeline', function(argv){
				WeixinJSBridge.invoke('shareTimeline', {
	        "appid": shareData.appid,
	        "img_url": shareData.img_url,
	        "img_width": shareData.img_width,
	        "img_height": shareData.img_height,
	        "link": shareData.link,
	        "desc": shareData.desc,
	        "title": shareData.title
				}, function (res) {
				});
			});
			// 分享到微博
			WeixinJSBridge.on('menu:share:weibo', function(argv){
				WeixinJSBridge.invoke('shareWeibo',{
					"content": shareData.desc,
					"url": shareData.link,
				}, function(res) {
				});
			});
			
      if ("<%= @weixin_init_success %>" == "true") {

        $('#wechat').prop('disabled', false);

        $('#wechat').click(function () {
          $('#wechat').prop('disabled', true);
          var url = "<%=personal_story_checkout_confirmation__weixin_path%>";
          var direct_donation = $("#direct_donation").val();
          if (direct_donation.length <= 0) {
            return;
          }
          $.post(url, {direct_donation: direct_donation}).success(function (data, textStatus, jqXHR) {
              $("#weixin_onbridgeread").html(data);
              weixin_load();
          }).error(function () {
            alert("请求已经结束但是可能发生了错误！");
          }).complete(function () {

          });


        });

      } else {
        alert("系统忙，请刷新页面再试。");
      }

    }
  });
  //ui  辅助
  $(function () {

    on_change();
    $(window).resize(function () {
      on_change();
    });
    document.getElementById("head_img").onload = function () {
      on_change();
    };

    function on_change() {
      var img_head = $("#personal_story_header img");
      var title_head = $("#personal_story_header .title");
      var title_height = $("#personal_story_header .title").outerHeight();

      var img_height = $(img_head).outerHeight();
      var img_top = $(img_head).offset().top;
      var img_left = $(img_head).offset().left;

      var img_widht = $("#personal_story_header").outerWidth();
      $(title_head).css("width", img_widht);

      $(title_head).css("top", img_top + (img_height - title_height));
      $(title_head).css("left", img_left);
    }

    $(window).width = $(window).width + 1;
  });

  //限定输入框为数字
  $(function () {

    $.fn.numeral = function (bl) {//限制金额输入、兼容浏览器、屏蔽粘贴拖拽等
      $(this).keypress(function (e) {
        var keyCode = e.keyCode ? e.keyCode : e.which;
        if (bl) {//浮点数
          if ((this.value.length == 0 || this.value.indexOf(".") != -1) && keyCode == 46) return false;
          return keyCode >= 48 && keyCode <= 57 || keyCode == 46 || keyCode == 8;
        } else {//整数
          return keyCode >= 48 && keyCode <= 57 || keyCode == 8;
        }
      });
      $(this).bind("copy cut paste", function (e) { // 通过空格连续添加复制、剪切、粘贴事件
        if (window.clipboardData)//clipboardData.setData('text', clipboardData.getData('text').replace(/\D/g, ''));
          return !clipboardData.getData('text').match(/\D/);
        else
          event.preventDefault();
      });
      $(this).bind("dragenter", function () {
        return false;
      });
      $(this).css("ime-mode", "disabled");
      $(this).bind("focus", function () {
        if (this.value.lastIndexOf(".") == (this.value.length - 1)) {
          this.value = this.value.substr(0, this.value.length - 1);
        } else if (isNaN(this.value)) {
          this.value = "";
        }
      });
    }
    //调用文本框的id
    $("#direct_donation").numeral(true);

  });
</script>





