<h3>NEW INVITE</h3>
<p>
Name: <%= @invite.name %><br/>
Email: <%= @invite.email %><br/>
Org: <%= @invite.organization %><br/>
<br/>
Collection: <%= @invite.collection.name if @invite.collection %><br/>
<br/>
Source: <%= @invite.source %>
</p>
