<div id="campaign-show">
	
    <div class="container container-background">
		
		<%= render 'shop/seller_header' %>
		
        <div class="container-box top-section">
			
			<%= render 'shop/campaign_header' %>
			
            <div class="row">
                <div class="col-md-12">
                    <div class="left-column">
						<div class="support_wrapper">
	                        <h3 style="margin: 0">简单公益 只因有你!</h3>
							<div style="margin-top: 5px">
								<% if @current_rank > 0 %>
									您当前的排名: 第<%=@current_rank %>名
								<% else %>
									您当前的排名: 没有名次
								<% end %>
							</div>
	                        <hr style="margin-bottom: 0px"/>
							<% if @seller_ladder_result && @seller_ladder_result.count > 0 %>
								
		                        <% @seller_ladder_result.each do |seller_ladder| %>
									<div class="support_content">
										<p>
											<%= seller_ladder["rank"] %>
								            <% if seller_ladder["picture"].present? %>
												<%= cl_image_tag seller_ladder["picture"], width: 32, height: 32, crop: :limit %>
								            <% else %>
								                <%= image_tag 'default_avatar.png', width: 32, height: 32, class: 'img-thumbnail' %>
								            <% end %>
											<%= seller_ladder["first_name"] %>
										</p>
										<div class="right_content">
											<div>
												<div style="float: right">
													
													<% if @seller.campaign.campaign_mode == Campaign::Fundraising %>
														￥<%= long_price(seller_ladder["sum"].to_f/100.0) %>
													<% else %>
														<%= image_tag 'heart.png', width: 16, height: 16, class: "heart", style: "margin-top: 3px" %><span class="times"> &times; </span><%= seller_ladder["count"] %>
													<% end %>
													
												</div>
											</div>
										</div>
									</div>
		                        <% end %>
								
							<% else %>
								
								<div style="margin-top: 10px">
									尚未有志愿者筹款记录
								</div>
								
							<% end %>
	                        
							
						</div>
                    </div> <!-- /.left-column -->
                </div>
            </div> <!-- /.row -->

        </div> <!--/.top-section -->
    </div> <!--/.container-background -->

</div> <!-- /#campaign-show -->
