<div id="products" style="padding: 30px 0">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <h3>物流数据导入</h3>
      </div>
    </div>
    <div class="row">
      <div class="well">
        <div class="row">
          <div class="col-md-12">
            <label>上传物流信息 </label>

            <div class="row">
              <div class="col-md-6">
                <div class="image-uploader">
                  <div id="drop-zone" class="drop-zone">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="upload-button-holder" style="position: relative">
                          <a id="express_upload" class="btn btn-default btn-block upload-button">上传物流信息</a>
                          <a href="#" class="remove-image" style="display:none">Remove picture</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="progress progress-striped active" style="display: none;">
                    <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%; text-align: right; padding-right: 5px;">
                      <span>0%</span>
                    </div>
                  </div>
                  <span class="status"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="width: 0px; height: 0px; overflow: hidden;">
        <%= form_tag({:action => 'create'}, :multipart => true) %>
            <%= file_field("upload", "datafile", :accept => "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel") %>
            <%= submit_tag '提交' %></p>
        </form>
      </div>
    </div>
  </div>
  <div style="width:90%; max-width:1280px; margin:auto;">
    <div class="all_report_loader" style="display:none; margin-top:40px; text-align:center;">
      <h4 id="loading_text">Loading data ...</h4><span class="loader loader-black"></span>
    </div>
    <div class="table-responsive" id="activity_express_content" style="margin-top: 10px;">
    </div>
  </div>
</div>
<script language="JavaScript" type="text/javascript">
  $(function () {
    var ajax_load_url = '<%=admin_express_load_excle_ajax_path %>';
    var loading = $("div.all_report_loader");
    var data_content = $("#activity_express_content");
    var loading_text = $("#loading_text");

    $("#express_upload").bind("click", function () {
      $("#upload_datafile").click();
    });
    $('#upload_datafile').fileupload({
      done: function (e, data) {
        $(loading_text).text("文件上传完成正在准备解析...");
        load_excle();
      },
      progressall: function (e, data) {//设置上传进度事件的回调函数
        $(loading_text).text("文件正在上传...");
        $("div.all_report_loader").show();
      }
    });

    //resolve excle file
    function load_excle() {
      var url = ajax_load_url;
      $.get(url).success(function (data, textStatus, jqXHR) {

        if (data == "error") {
          $(loading_text).text("文件解析失败请上传符合要求的文件...");
        } else {
          $(loading_text).text("文件解析完成...");
          $(data_content).html(data);
          validate_check();
        }

      }).error(function () {
        $(loading_text).text("文件解析失败发生不可预知的错误...");
        $(loading).show();
      }).complete(function () {

      });
    }
    //validate data from excel
    function validate_check() {
      var url = "<%= admin_express_validate_ajax_path%>"
      var count = $("#hid_results_count").val();
      $(loading_text).text("验证数据是否可用...");

      $.get(url).success(function (data, textStatus, jqXHR) {
        if (data == "ok") {
          $(loading_text).text("数据已验证可用...");
          update_data();
        } else if (data == "error") {
          $(loading_text).text("数据已验证出现未知异常请检查订单详情号...");
        }
        else {
          $(loading_text).text(data);

        }
      }).error(function () {

      }).complete(function () {

      });

    }
    //update import  data
    function update_data() {
      var url = "<%= admin_express_update_ajax_path%>"
      var count = $("#hid_results_count").val();
      $(loading_text).text("正在导入数据...");
      $.get(url).success(function (data, textStatus, jqXHR) {
        if (data == "ok") {
          $(loading_text).text("数据导入完成...");
          $(loading_text).next().hide();
        } else if (data == "error") {
          $(loading_text).text("数据导入错误...");
        }
        else {
          $(loading_text).text(data);
        }
      }).error(function () {

      }).complete(function () {

      });
    }
  });

</script>