<%= render "campaign_head" %>

<div id="personal_story_campaign">
  <div style="text-align: center">
    <img src="/2016/super_monkey.png" style="margin-top: 20px" class="img_super_monkey"/>
  </div>

  <div id="banner">
    <table id="seller_info" style="margin:0px auto;">
      <tr>
        <td style="text-align:center; vertical-align:top;">

          <% if @seller && @seller.user_profile %>
              <div>

                <% if @seller.user_profile.picture %>
                    <%= cl_image_tag @seller.user_profile.picture, width: 100, height: 100, crop: :limit, class: 'img-avatar img-rounded' %>
                <% else %>
                    <img src="/2016/monkey-1.png" class="img-avatar img-rounded"/>
                <% end %>

                <div style="margin-top:3px;">
                  <span style="color:#eee; font-size:14px;"><%= @seller.user_profile.first_name %></span></div>
              </div>
          <% else %>
              <div>
                <%= image_tag 'chq_logo.jpg', :class => "img-avatar img-rounded" %>
                <div style="margin-top:3px;">
                  <span style="color:#eee; font-size:14px;">彩虹桥</span></div>
              </div>
          <% end %>
        </td>
        <td style="padding-left: 15px; vertical-align:top">
          <div class="img-bubble bubble" style="min-height:60px;">
            <div class="promo-text">
              1元钱红包就可以<span id="campaign_organizer_quote" style="color:#fa0000;"></span>，你也来参与吧！
            </div>
          </div>
        </td>
      </tr>
    </table>

  </div>
  <% if @seller %>
      <div id="seller_influence" style="position:relative; padding:0px 15px 0px 15px;">
        <!-- <div style="position:absolute; top:0px; right:0px;">
            <img src="/2016/monkey-2.png" style="width:80px;">
        </div> -->
        <div id="indirect_influence" class="well" style="background-color: white; border-color:rgb(197,169,77); margin-top:15px; padding:0px 3px 15px 3px; margin-bottom: 0px">
          <div class="seller_referral_title" style="margin-top:5px; text-align:center;">
            <%= @seller.user_profile.first_name %>
            的公益传播能量值为
            <span id="seller_referral_count" class="seller_referral_count" style="color:#fa0000;"></span>
          </div>
          <div id="indirect_influence_quote" style="margin-top:5px; text-align:center;">
          </div>
          <div style="margin-top:15px; text-align:center;">
            <% if @seller_referral_count > 0 %>
                <img src="/2016/friends_map.png" style="max-width:95%; max-height:300px;"/>
            <% else %>
                <img src="/2016/no_friends_map.png" style="max-width:95%; max-height:300px;"/>
            <% end %>
          </div>
        </div>

      </div>
  <% end %>
  <div id="campaign_detail" class="detail" style="position:relative; padding: 15px 15px 0px 15px">
    <div class="project well" style="background-color:white; border-color:rgb(197,169,77); margin:0px; padding:0px;">
      <table style="background-color:rgb(197,169,77); width:100%;">
        <tr>
          <!-- <td style="padding: 5px 0px 5px 0px; text-align:left;">
						<span style="color: white; display:inline-block; margin-left:5px;">
							支持项目
						</span>
          </td> -->
          <td style="padding: 5px 0px 5px 0px; text-align:right;">
						<span style="display:inline-block; margin-right:5px;">
							<span style="color: white">感谢所有</span>
							<span style="color: #fa0000"><%= @campaign_total_count %></span>
							<span style="color: white">位爱心伙伴</span>
						</span>
          </td>
        </tr>
      </table>
      <div class="row">
        <div class="col-md-12">
          <div style="position:relative">
            <% if @campaign.campaign_logo %>
                <div style="text-align:center;">
                  <%= cl_image_tag @campaign.campaign_logo.image_id,
                                   transformation: [
                                       {
                                           width: @campaign.campaign_logo.crop_width,
                                           height: @campaign.campaign_logo.crop_height,
                                           x: @campaign.campaign_logo.crop_x,
                                           y: @campaign.campaign_logo.crop_y,
                                           crop: :crop
                                       }
                                   ], style: "width:100%; max-height:626px", class: 'campaign-logo' %>
                </div>
            <% else %>
                <div class="campaign-default-logo-box">
                  <%= image_tag 'default_upload_logo.gif', class: 'img-responsive', style: "margin: auto;" %>
                </div>
            <% end %>
            <div class="campaign-header-title-box">
              <div class="campaign-header-logo-title">
                <span style="color: white"><%= @campaign.title %></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ctx">
        <span class="bt" style="padding-left:0px"> <b>善款接收：</b>上海彩虹桥公益社</span>
        <br/>
        <!--<span class="bt" style="padding-left:0px"> <b>重要荣誉：</b>2014年上海市闵行区公益创业大赛“创盈奖”</span>-->
        <div class="arri arria"><span>收起</span> <%= image_tag "d.png", :class => :arri %></div>

        <!-- <img class="pimg" src="/images/sunflower/p_01.png">
        <span class="ptt">关注外来务工子女教育</span>

        <div class="arri arria"><span>收起</span> <%= image_tag "d.png", :class => :arri %></div>
        <div class="pdd">
          <span style="color:red;">1</span>元钱，可以帮助<span style="color:red;">1个流动儿童参加1天的太阳花晚托班</span>
        </div> -->
        <div class="summary none">
          <div class="st">项目详情</div>
          <div class="desc">
            <div id="proj_content">

              <p>
                1元钱，为社区的设备买20枚工业缝纫机的衣针，我们在社区有3台设备常年运转，车针是损耗最快的，一般来说每2周就要购买一次车针。20根车针能为社区服务3个月。
                <br/>
                5万元，彩虹桥可以在新的一年里，找一个伙伴和我一起管理更多的社区，帮助更多的姐妹。

              </p>

              <p>
                在城市的角落中,有一群渺小怯弱, 恳求机会的群体，<br/>
                或是为了家庭与希望, 来到繁华锦绣的大都会,霓虹闪烁, 繁灯魅影的背后,却是苦不堪言, 苦无机会的沉重压力<br/>
                或是身心残缺, 自我囚困，在自信价值与他人眼光中寻求出路<br/>
                同情 并不能为他们构建自信<br/>
                援助 亦不能让他们创造价值<br/>
                他们需要的, 是一个机会<br/>
                一个能被看见, 能散播能量的机会<br/>
                他们需要的, 是一个平台<br/>
                一个能用自信与付出, 换得经济回馈的公平交易<br/>
                一个能感受到自尊, 分享, 与热诚的互信交流<br/>
                贫困只要不是因为懒惰，就需给予机会，能者只要有机会，应该给予扶助；社会群体除了自己的生存，还需要为其他的个体共生提供台阶一同进步。<br/>
                在彩虹桥，每一分钱都是发光发热的温暖着每一位参与者。

              </p>

              <p>
                <img src="/images/chq/p_01.jpg">
              </p>

              <p>
                上海彩虹桥公益社是一家专门为社区残疾人及低收入女性提供技能支持培训的社会组织。
              </p>

              <p>
                <img src="/images/chq/p_02.jpg">
              </p>

              <p> 1元钱<br/>
                如果彩虹桥得到一元钱红包，我会为社区的设备买20枚工业缝纫机的衣针，我们在社区有3台设备常年运转，车针是损耗最快的，一般来说每2周就要购买一次车针。20根车针能为社区服务3个月。

              </p>

              <p>
                <img src="/images/chq/p_03.jpg">
              </p>

              <p>
                10元钱<br/>
                为社区购买一片熨烫海绵，现在的海绵已经使用了6年了。买片新的一裁二，能在2个场地同时使用。阿姨们工作起来顺手也开心。<br/>
                50元<br/>
                添置4种特别的缝纫压脚。应对更高要求社会订单。
              </p>

              <p>
                <img src="/images/chq/p_04.jpg">
              </p>

              <p>
                500元<br/>
                用于社区产品的宣传和推广，帮助社区将群体制作的产品规范化，市场化。<br/>
                1000元<br/>
                走进社区开展复制项目的推广，鼓励社区的姐妹反哺社区，教授更多的姐妹学习技能，费用将用于社区3个月的人员培训费用。项目培训至少可以挖掘6个左右的就业机会，为进一步的社区项目建立做准备。<br/>
                3000元<br/>
                为成熟社区更新一台缝纫设备。老设备将去新开发的社区继续为社区培训做服务。设备进入社区，至少可以提供4-5个在家就业的机会。

              </p>

              <p>
                <img src="/images/chq/p_05.jpg">
              </p>

              <p>5000元<br/>
                在社区开发一个特色项目，为社区购买2台制作皮革的设备，至少提供3个在家就业的机会，制作手工皮革。<br/>
                10000元<br/>
                在本地社区建立自治小组，定期开展专业培训，给予2个本地社区管理小组人员每月500元补贴。<br/>
                30000元<br/>
                为机构工作人员购买一年的社会保障金。<br/>
                50000元<br/>
                5万，彩虹桥可以在新的一年里，找一个伙伴和我一起管理更多的社区，帮助更多的姐妹。
              </p>

              <p>
                <img src="/images/chq/p_06.jpg" style="width: 45%;">
                <img src="/images/chq/p_07.jpg" style="width: 45%;">
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="direct_influence" class="well" style="background-color: white; border-color:rgb(197,169,77); margin:15px; padding:15px 5px;">
    <div style="text-align: right">
      <!-- <span id="btn_view_content" class="glyphicon glyphicon-chevron-left" style="color:#888; font-size:18px; display: none"></span> -->
      <%= image_tag "arr_right.png", :id => 'btn_view_content', :width => 18, :height => 18, :style => "display: none" %>
    </div>

    <div id="supporters_content" style="display:none;">
      <%= render "supporters" %>
    </div>
    <div class="avatar-container" style="overflow: hidden; height: 48px; position: relative">
      <% if @supporters.count>0 %>
          <% @supporters.each_with_index do |s, index| %>
              <% if s.avatar_url && s.avatar_url.to_s.gsub(' ', '').length>0 %>
                  <img id="supporter_avatar_<%= index %>" src="<%= s.avatar_url %>" class="img-rounded support_avatar" style="border-radius:24px; width:48px; height:48px;"/>
              <% else %>
                  <%= image_tag 'weixin_default.jpg', :id => "supporter_avatar_" + index.to_s, :class => "img-rounded support_avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
              <% end %>

              <% if index == 4 %>
                  <% break %>
              <% end %>

          <% end %>

          <% if @supporters.count == 1 %>
              <%= image_tag 'empty_user.png', :id => "supporter_avatar_1", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
              <%= image_tag 'empty_user.png', :id => "supporter_avatar_2", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
              <%= image_tag 'empty_user.png', :id => "supporter_avatar_3", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
              <%= image_tag 'empty_user.png', :id => "supporter_avatar_4", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
          <% end %>

          <% if @supporters.count == 2 %>
              <%= image_tag 'empty_user.png', :id => "supporter_avatar_2", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
              <%= image_tag 'empty_user.png', :id => "supporter_avatar_3", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
              <%= image_tag 'empty_user.png', :id => "supporter_avatar_4", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
          <% end %>

          <% if @supporters.count == 3 %>
              <%= image_tag 'empty_user.png', :id => "supporter_avatar_3", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
              <%= image_tag 'empty_user.png', :id => "supporter_avatar_4", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
          <% end %>

          <% if @supporters.count == 4 %>
              <%= image_tag 'empty_user.png', :id => "supporter_avatar_4", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
          <% end %>

          <div id="btn_view_supporters" style="position:absolute; top:0px; right:2px; height:48px; line-height:48px;">
            <%= image_tag "arr_left.png", :width => 18, :height => 18 %>
            <!-- <span class="glyphicon glyphicon-chevron-right" style="color:#888; font-size:18px;"></span> -->
          </div>
      <% else %>

          <div style="text-align: center">
            <%= image_tag 'empty_user.png', :id => "supporter_avatar_0", :class => "img-rounded support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
            <%= image_tag 'empty_user.png', :id => "supporter_avatar_1", :class => "img-rounded support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
            <%= image_tag 'empty_user.png', :id => "supporter_avatar_2", :class => "img-rounded support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
            <%= image_tag 'empty_user.png', :id => "supporter_avatar_3", :class => "img-rounded support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
            <%= image_tag 'empty_user.png', :id => "supporter_avatar_4", :class => "img-rounded support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
          </div>

      <% end %>
    </div>
    <div style="font-size: 14px; text-align:center; margin-top: 10px">
      <% if @supporters.count>0 %>
				<span>
					您有
				</span>
          &nbsp;
				<span style="color:#fa0000;">
					<%= @supporters_count %>
				</span>
          &nbsp;
				<span>
					位小伙伴一起参与
				</span>
      <% else %>
          暂无小伙伴参与
      <% end %>
    </div>
  </div>
  <% if @seller %>
  <% end %>

  <div style="height: 100px;">
  </div>
</div>



<%= render "campaign_footer" %>