<%= render "campaign_head" %>

<div id="personal_story_campaign">
  <div style="text-align: center">
    <img src="/2016/super_monkey.png" style="margin-top: 20px" class="img_super_monkey"/>
  </div>

  <div id="banner">
    <table id="seller_info" style="margin:0px auto;">
      <tr>
        <td style="text-align:center; vertical-align:top;">

          <% if @seller && @seller.user_profile %>
              <div>

                <% if @seller.user_profile.picture %>
                    <%= cl_image_tag @seller.user_profile.picture, width: 100, height: 100, crop: :limit, class: 'img-avatar img-rounded' %>
                <% else %>
                    <img src="/2016/monkey-1.png" class="img-avatar img-rounded"/>
                <% end %>

                <div style="margin-top:3px;">
                  <span style="color:#eee; font-size:14px;"><%= @seller.user_profile.first_name %></span></div>
              </div>
          <% else %>
              <div>
                <%= image_tag 'handonhand_logo.jpg', :class => "img-avatar img-rounded" %>


                <div style="margin-top:3px;">
                  <span style="color:#eee; font-size:14px;">手牵手</span></div>
              </div>
          <% end %>
        </td>
        <td style="padding-left: 15px; vertical-align:top">
          <div class="img-bubble bubble" style="min-height:60px;">
            <div class="promo-text">
              1元钱能够<span style="color:#fa0000;">让他们听到一次年轻的歌声，能让他们感受到贴心的心理疏导。</span>

            </div>
          </div>
        </td>
      </tr>
    </table>

  </div>
  <% if @seller %>
      <div id="seller_influence" style="position:relative; padding:0px 15px 0px 15px;">
        <!-- <div style="position:absolute; top:0px; right:0px;">
            <img src="/2016/monkey-2.png" style="width:80px;">
        </div> -->
        <div id="indirect_influence" class="well" style="background-color: white; border-color:rgb(197,169,77); margin-top:15px; padding:0px 3px 15px 3px; margin-bottom: 0px">
          <div class="seller_referral_title" style="margin-top:5px; text-align:center;">
            <%= @seller.user_profile.first_name %>
            的公益传播能量值为
            <span id="seller_referral_count" class="seller_referral_count" style="color:#fa0000;"></span>
          </div>
          <div id="indirect_influence_quote" style="margin-top:5px; text-align:center;">
          </div>
          <div style="margin-top:15px; text-align:center;">
            <img src="/2016/friends_map.png" style="max-width:95%; max-height:300px;"/>
          </div>
        </div>

      </div>
  <% end %>
  <div id="campaign_detail" class="detail" style="position:relative; padding: 15px 15px 0px 15px">
    <div class="project well" style="background-color:white; border-color:rgb(197,169,77); margin:0px; padding:0px;">
      <table style="background-color:rgb(197,169,77); width:100%;">
        <tr>
          <!-- <td style="padding: 5px 0px 5px 0px; text-align:left;">
						<span style="color: white; display:inline-block; margin-left:5px;">
							支持项目
						</span>
          </td> -->
          <td style="padding: 5px 0px 5px 0px; text-align:right;">
						<span style="display:inline-block; margin-right:5px;">
							<span style="color: white">感谢所有</span>
							<span style="color: #fa0000"><%= @campaign_total_count %></span>
							<span style="color: white">位爱心伙伴</span>
						</span>
          </td>
        </tr>
      </table>
      <div class="row">
        <div class="col-md-12">
          <div style="position:relative">
            <% if @campaign.campaign_logo %>
                <div style="text-align:center;">
                  <%= cl_image_tag @campaign.campaign_logo.image_id,
                                   transformation: [
                                       {
                                           width: @campaign.campaign_logo.crop_width,
                                           height: @campaign.campaign_logo.crop_height,
                                           x: @campaign.campaign_logo.crop_x,
                                           y: @campaign.campaign_logo.crop_y,
                                           crop: :crop
                                       }
                                   ], style: "width:100%; max-height:626px", class: 'campaign-logo' %>
                </div>
            <% else %>
                <div class="campaign-default-logo-box">
                  <%= image_tag 'default_upload_logo.gif', class: 'img-responsive', style: "margin: auto;" %>
                </div>
            <% end %>
            <div class="campaign-header-title-box">
              <div class="campaign-header-logo-title">
                <span style="color: white"><%= @campaign.title %></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ctx">
        <span class="bt" style="padding-left:0px"> <b>善款接收：</b>上海浦东手牵手生命关爱发展中心</span>
        <br/>
        <span class="bt" style="padding-left:0px"> <b>重要荣誉：</b>荣获中国慈善联合会颁发的2014年度中国慈善推动者</span>
        <div class="arri arria"><span>收起</span> <%= image_tag "d.png", :class => :arri %></div>

        <!-- <img class="pimg" src="/images/sunflower/p_01.png">
        <span class="ptt">关注外来务工子女教育</span>

        <div class="arri arria"><span>收起</span> <%= image_tag "d.png", :class => :arri %></div>
        <div class="pdd">
          <span style="color:red;">1</span>元钱，可以帮助<span style="color:red;">1个流动儿童参加1天的太阳花晚托班</span>
        </div> -->
        <div class="summary none">
          <div class="st">项目详情</div>
          <div class="desc">
            <div id="proj_content">
              <p>
                1元钱能够让病房中的患者看到一张温暖的红色窗花，能让他们听到一次年轻的歌声，能让他们感受到贴心的心理疏导；<br/>
                5万元，能够让志愿者们获得专业学习，由社工和志愿者在1年内，为1家医院内的舒缓&临终病友家庭们提供1000小时的服务时间。
              </p>

              <p>
                <span class="deschead">新春将至，五福临门</span><br/>
                猴年已经在树上蹦蹦跳跳了，大家准备好过年了吗？我们机构祝福大家五福临门！这可是最适合我们机构的祝福词，因为所谓“五福”源自《书经》和《洪范》，即“长寿”、“富贵”、“康宁”、“好德”、“善终”。而我们努力至今的目标就是让五福中的善终降临在舒缓病房中。
                <br/>
                <span class="deschead">自我解脱成为最常见的选择</span><br/>
                据统计，上海癌症晚期的患者正在不断增多。他们除了接受医学上的止痛治疗以外，由于长期住院，临终患者普遍在社会关系、心理层面以及家庭关系存在问题，低自尊、临终期矛盾心理问题突出，出现极端的心理情绪等问题，甚至有些临终期患者会产生自杀的念头，对患者本身和其家庭都会造成很多负面的影响。
                <br/>
                <span class="deschead"> 为她/他而战</span><br/>
                在生命的结尾他们不应该是伴随着恐惧、悲伤和内疚草草了事，我们试图通过自己的努力改变这样的现状。经过长达七年的努力，我们成功与上海复旦附属肿瘤医院、浦东潍坊、塘桥、高桥社区卫生服务中心和静安寺社区卫生服务中心建立了良好的合作关系，邀请专业人员对募集的志愿者进行培训，为患者及其家属进行悲伤辅导、志愿服务和社工专业服务，为他们最后的路程画上圆满的句号。为了他们能够心怀幸福、放下恐惧地走完最后一程，我们选择为他们而战斗，在沉闷压抑的社会临终主基调中开辟出阳光温暖的善终之路！
              </p>

              <p>
                <img src="/images/handonhand/p_01.jpg">
              </p>

              <p>
                <span class="deschead"> 汇聚善流</span><br/>
                我们想请您一起参加”守护天使” 临终者悲伤辅导服务项目潍坊医院站项目！您所投下的1元钱能够让病房中的患者看到一张温暖的红色窗花，能让他们听到一次年轻的歌声，能让他们感受到贴心的心理疏导；您所投下的1元钱能够让服务中的志愿者接受一次专业培训，能让他们建立数次线上小组交流探讨。善流汇聚，他们的春节因你们而温暖。
              </p>

              <p>
                <img src="/images/handonhand/p_02.jpg">
              </p>

              <p>
                <span class="deschead"> 我们是谁？</span><br/>
                我们是上海浦东手牵手生命关爱发展中心，创办于2008年，是一所致力于临终关怀和生命教育开拓创新的非营利注册组织。我们力图通过服务、教育、倡导等方式，探索病困家庭的社区照顾和医院照顾模式，发展互助的关怀社区，协助疾病家庭和社会公众树立健康死亡观，促进临终关怀社会环境的改善。

              </p>

              <p>
                <img src="/images/handonhand/p_03.jpg">
              </p>

              <p>
                <span class="deschead"> 机构历年荣誉：</span><br/>
                2010壹基金.腾讯潜力典范奖 2010首届中国社会创新奖<br/>
                2010联想青年创业大赛上海地区冠军 2011上海市浦东新区“慈善之星”提名奖<br/>
                2011上海市浦东新区“十佳志愿服务项目” 2011上海市第六届公关案例评选活动媒体效果奖<br/>
                2012芯世界公益创新大赛入围奖 第二届上海慈善奖（优秀慈善组织）<br/>
                2013中国CSR20年—社区智慧实践奖 2012全国老年心理健康与精神疾病预防“十佳集体”<br/>
                2013上海市 “慈善之星”奖 2013上海市浦东新区慈善公益爱心奖<br/>
                2013上海市浦东新区“十佳志愿服务项目” 2013上海市浦东新区“十佳青年公益项目”<br/>
                2014中国4A级社会组织 2014首届中国公益行动奖入围<br/>
                2014年度中国慈善推动者<br/>
                2015年上海公益伙伴日最具媒体传播奖<br/>
                2015上海青年影响社会十大公益项目<br/>
                2015年浦东公益服务园年度信息展示先锋单位<br/>
                2015年浦东公益园公共事务参与先锋单位<br/>
                2015年肿瘤医院优秀志愿者服务团队<br/>


                <span class="deschead"> 愿“让每一个生命 临终时都享有尊严”。</span><br/>
                <span class="deschead"> 联系我们：</span><br/>
                我们的官网近期正在重新制作，大家可以通过微信或微博来了解我们加入我们哦～<br/>
                新浪微博：@手牵手<br/>
                微信公众号：SHHIHCC

              </p>

              <p>
                <img src="/images/handonhand/p_04.jpg">
                <img src="/images/handonhand/p_05.jpg">
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="direct_influence" class="well" style="background-color: white; border-color:rgb(197,169,77); margin:15px; padding:15px 5px;">
    <div style="text-align: right">
      <!-- <span id="btn_view_content" class="glyphicon glyphicon-chevron-left" style="color:#888; font-size:18px; display: none"></span> -->
      <%= image_tag "arr_right.png", :id => 'btn_view_content', :width => 18, :height => 18, :style => "display: none" %>
    </div>

    <div id="supporters_content" style="display:none;">
      <%= render "supporters" %>
    </div>
    <div class="avatar-container" style="overflow: hidden; height: 48px; position: relative">
      <% if @supporters.count>0 %>
          <% @supporters.each_with_index do |s, index| %>
              <% if s.avatar_url && s.avatar_url.to_s.gsub(' ', '').length>0 %>
                  <img id="supporter_avatar_<%= index %>" src="<%= s.avatar_url %>" class="img-rounded support_avatar" style="border-radius:24px; width:48px; height:48px;"/>
              <% else %>
                  <%= image_tag 'weixin_default.jpg', :id => "supporter_avatar_" + index.to_s, :class => "img-rounded support_avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
              <% end %>

              <% if index == 4 %>
                  <% break %>
              <% end %>

          <% end %>

          <% if @supporters.count == 1 %>
              <%= image_tag 'empty_user.png', :id => "supporter_avatar_1", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
              <%= image_tag 'empty_user.png', :id => "supporter_avatar_2", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
              <%= image_tag 'empty_user.png', :id => "supporter_avatar_3", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
              <%= image_tag 'empty_user.png', :id => "supporter_avatar_4", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
          <% end %>

          <% if @supporters.count == 2 %>
              <%= image_tag 'empty_user.png', :id => "supporter_avatar_2", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
              <%= image_tag 'empty_user.png', :id => "supporter_avatar_3", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
              <%= image_tag 'empty_user.png', :id => "supporter_avatar_4", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
          <% end %>

          <% if @supporters.count == 3 %>
              <%= image_tag 'empty_user.png', :id => "supporter_avatar_3", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
              <%= image_tag 'empty_user.png', :id => "supporter_avatar_4", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
          <% end %>

          <% if @supporters.count == 4 %>
              <%= image_tag 'empty_user.png', :id => "supporter_avatar_4", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
          <% end %>

          <div id="btn_view_supporters">
            <%= image_tag "arr_left.png", :width => 18, :height => 18 %>
            <!-- <span class="glyphicon glyphicon-chevron-right" style="color:#888; font-size:18px;"></span> -->
          </div>
      <% else %>

          <div style="text-align: center">
            <%= image_tag 'empty_user.png', :id => "supporter_avatar_0", :class => "img-rounded support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
            <%= image_tag 'empty_user.png', :id => "supporter_avatar_1", :class => "img-rounded support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
            <%= image_tag 'empty_user.png', :id => "supporter_avatar_2", :class => "img-rounded support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
            <%= image_tag 'empty_user.png', :id => "supporter_avatar_3", :class => "img-rounded support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
            <%= image_tag 'empty_user.png', :id => "supporter_avatar_4", :class => "img-rounded support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
          </div>

      <% end %>
    </div>
    <div style="font-size: 14px; text-align:center; margin-top: 10px">
      <% if @supporters.count>0 %>
				<span>
					您有
				</span>
          &nbsp;
				<span style="color:#fa0000;">
					<%= @supporters_count %>
				</span>
          &nbsp;
				<span>
					位小伙伴一起参与
				</span>
      <% else %>
          暂无小伙伴参与
      <% end %>
    </div>

  </div>
  <% if @seller %>
  <% end %>
  <div id="btn_agreement" style="display: block;">
    <span>服务协议</span>
  </div>
  <div style="height: 100px;">
  </div>
</div>

<%= render "campaign_footer" %>