<div style="padding-bottom: 47px;" id="pageContainer">
  <div class="detail">
    <div class="top">
      <%= image_tag "yqj_top_bg_3.jpg" %>
      <div class="hd">
        <%= image_tag "yqj_icon_head.jpg" %>
      </div>
    </div>
    <div class="named">
      <div class="tt">雪夜 邀您一起捐</div>
      <div class="dd">“亲，就等你了。 1人1块钱拯救世界， 还能赢新年暖心红包”</div>
    </div>
    <div class="profile">
      <div class="hd">
        <%= image_tag "yqj_icon_7.png" %>
      </div>
      <div class="ctx ">
        <div class="num">
          <div><span>103</span>人<br>参与人数</div>
        </div>
        <div class="num tr">
          <div><span>8807</span>元<br>捐款金额</div>
        </div>
        <div class="ot">
          <div class="ls">
            <div style="width: 50px; height: 50px;">
              <%= image_tag "yqj_icon_head.jpg" %>
            </div>
            <div style="width: 50px; height: 50px;">
              <%= image_tag "yqj_icon_head.jpg" %>
            </div>
            <div style="width: 50px; height: 50px;">
              <%= image_tag "yqj_icon_head.jpg" %>
            </div>
            <div style="width: 50px; height: 50px;">
              <%= image_tag "yqj_icon_head.jpg" %>
            </div>
            <div style="width:50px; height: 50px;">
              <%= image_tag "yqj_icon_head.jpg" %>
            </div>
          </div>
          <div class="clear"></div>
          <div class="otd">共有<span>103</span> 位小伙伴一起参与</div>
        </div>
      </div>
    </div>
    <div class="project">
      <div class="ttbg">
        <div class="tt">捐助的项目</div>
        <div class="nmoney">还需募款:81235元</div>
      </div>
      <div class="ctx">
        <img class="pimg" src="/images/jujube/p_01.jpg">
        <span class="ptt">关注自闭症儿童康</span>

        <div class="arri arria"><span>收起</span> <%= image_tag "d.png", :class => :arri %></div>
        <div class="pdd">小明召集了 <span style="color:red;">10</span> 个红包， 可以帮助
          <span style="color:red;">自闭症儿童康复治疗10小时</span></div>
        <div class="summary none">
          <div class="st">项目详情</div>
          <div class="desc">
            <div id="proj_content"><h3>关于王岩&mdash;年轻人生刚刚起航</h3>

              <p>如果没有这场意外，22岁的王岩应该是一个令人羡慕的小伙：2013年7月毕业于合肥工业大学法律专业，在校多次获得奖学金以及学校优秀毕业生等荣誉，毕业后通过国家司法考试。毕业后供职于太平人寿安徽分公司涡阳支公司。</p>

              <p>朱光老师是王岩大学期间的辅导员，对王岩可谓知根知底。据朱老师介绍，王岩就读合肥工业大学09级法学专业本科期间，学习刻苦，09-10年、10-11年、11-12年连续三年度获“三好学生”，09-10年、10-11年、11-12年连续三年度取得“一等奖学金”，且为09级合肥工业大学优秀毕业生。</p>

              <p>奖学金证书：</p>

              <p>
                <img src="/images/jujube/p_01.jpg">
              </p>

              <p>在经过一年多涡阳支公司的工作历练，王岩蜕变成了一名优秀的职业经理人，正是人生扬帆远航时，他却遭遇了人生的最大的挑战：2015年10月他因身体不适去医院检查，却被告知患上“恶疾”白血病。</p>

              <p>病危通知书：</p>

              <p>
                <img src="/images/jujube/p_01.jpg">
              </p>

              <h3>家境贫寒&mdash;更要发奋图强</h3>

              <p>谈到王岩的家庭，朱老师显得颇为感慨：“王岩的弟弟目前是江南大学管理工程与科学专业研究生在读；王岩父母均无固定职业，年收入仅三万左右，现在为给王岩看病，全家已到北京，处于无收入状态。一个贫寒的家庭，培养出两个有用之才多么不易，孩子的教育已经使这个家庭步履维艰，而60万的手术费（不包括后续治疗）对这个本就不富裕家庭来说无疑是一笔庞大的费用”。朱老师对王岩治疗的经济条件十分担忧。</p>

              <p>病床上的王岩：</p>

              <p>
                <img src="/images/jujube/p_01.jpg">
              </p>

              <p>但现实就是如此，汹涌的病情如山倒般压在了这个年轻的男孩身上，不管是年少求学还是毕业工作，王岩都是那么独立而坚强、优秀而坚定，但是这次王岩却只能痛苦和无奈。</p>

              <h3>治疗费用&mdash;挡在路上的障碍</h3>

              <p>发起人亲自联系过王岩，了解到的情况是：前期手术费用需要60万，后续治疗也需要大量费用（用于术后恢复及排斥反应、并发感染等突发情况）。截止11月10日，王岩家人在多方热心人士的帮助下，已经筹得医款50万左右，但是距离60万的手术费以及可预见的其他医疗费用还差10多万。</p>

              <p>年轻的人生才刚开始：</p>

              <p>
                <img src="/images/jujube/p_01.jpg">
              </p>

              <h3>期盼爱心&mdash;渴求生命接力</h3>

              <p>在得知他的病情后，亲人、校友、朋友以及同事们都在积极为这个命运不公的男孩展开募捐。或许老天也不忍心放弃这个朝气蓬勃的男孩：目前王岩的父亲已经和王岩取得骨髓配对成功，只要手术费筹集成功，便可立即进行手术。<br>为王岩募捐最后的10万元医疗费缺口，要靠大家生命接力赛的最关键一棒！或许您少抽包烟，少喝一场酒，少买一件衣服，积少成多，就能挽回一个年轻的生命。伸出援助之手帮助这个热爱生活的男孩吧!
              </p>

              <h3>善款用途</h3>

              <p>所有的爱心捐款将用于王岩的医治和康复，善款使用和患者治疗进展将在此页面发布进展，请持续关注。善款若有剩余，将用于资助其他贫困患者。再次说明，王岩的父亲已经和王岩取得骨髓配对成功，只要手术费筹集成功，便可立即进行手术。早一天手术，就多一分希望！</p>

              <h3>发票索要说明</h3>

              <p>中华社会救助基金会将为捐款金额100元（含）以上的乐捐网友开具个人捐赠票据。希望爱心用户按需申请。（需要捐赠收据的必须将交易单号、QQ号、发票抬头、金额、捐赠渠道、捐赠日期、联系电话、地址、邮编等信息发至yangkairan@csaf.org.cn，经确认后我会会尽快回邮捐赠收据）。&nbsp;</p>

              <p>如果执行过程中发生不可抗力因素导致项目无法正常进行，在征求受助方同意的情况下，剩余善款将用于中华社会救助基金会人人公益项目其他需要的人使用，并将公示善款变更说明。</p></div>
            <a href="#"><span style="color:#ff6a0e;font-size:13px;">项目详情&gt;&gt;</span></a>

            <h3>善款接收机构</h3>

            <p>中华社会救助基金会（具有国家民政部门许可的公开募款资质）</p>

            <h3 style="margin-top:10px">项目发起方</h3>

            <p>吴亚山(我是腾讯员工，也是王岩的校友。王岩学习刻苦，工作认真，22岁却不幸罹患白血病，希望大家帮助王岩接力年轻的生命！)</p></div>
        </div>
      </div>
      <div class="bt"><b>善款接收：</b>中华社会救助基金会 <br> <b>项目总筹款：</b> 18764.66元 &nbsp;&nbsp; 421人捐款</div>
    </div>
    <div class="list">
      <div class="items">
        <div class="li">
          <%= image_tag "yqj_icon_head.jpg" %>
          <div style="margin-left:50px;">
            <div class="m">捐助<span>1</span>元</div>
            <div class="nick">匿名</div>
          </div>
          <div style="margin-left:50px;">
            <div class="t">2015-11-25</div>
            <div class="dd">汇聚爱心，滴水成海。</div>
          </div>
        </div>
        <div class="li">
          <%= image_tag "yqj_icon_head.jpg" %>
          <div style="margin-left:50px;">
            <div class="m">捐助<span>1</span>元</div>
            <div class="nick">宋浩诚13949019304</div>
          </div>
          <div style="margin-left:50px;">
            <div class="t">2015-11-25</div>
            <div class="dd">支持公益</div>
          </div>
        </div>
        <div class="li"> <%= image_tag "yqj_icon_head.jpg" %>

          <div style="margin-left:50px;">
            <div class="m">捐助<span>1</span>元</div>
            <div class="nick">匿名</div>
          </div>
          <div style="margin-left:50px;">
            <div class="t">2015-11-19</div>
            <div class="dd">支持公益</div>
          </div>
        </div>
        <div class="li"> <%= image_tag "yqj_icon_head.jpg" %>

          <div style="margin-left:50px;">
            <div class="m">捐助<span>1</span>元</div>
            <div class="nick">匿名</div>
          </div>
          <div style="margin-left:50px;">
            <div class="t">2015-11-18</div>
            <div class="dd">支持公益</div>
          </div>
        </div>
        <div class="li"> <%= image_tag "yqj_icon_head.jpg" %>

          <div style="margin-left:50px;">
            <div class="m">捐助<span>1</span>元</div>
            <div class="nick">匿名</div>
          </div>
          <div style="margin-left:50px;">
            <div class="t">2015-11-18</div>
            <div class="dd">支持公益</div>
          </div>
        </div>
        <div class="li"> <%= image_tag "yqj_icon_head.jpg" %>

          <div style="margin-left:50px;">
            <div class="m">捐助<span>1</span>元</div>
            <div class="nick">匿名</div>
          </div>
          <div style="margin-left:50px;">
            <div class="t">2015-11-18</div>
            <div class="dd">支持公益</div>
          </div>
        </div>
        <div class="li">
          <%= image_tag "yqj_icon_head.jpg" %>
          <div style="margin-left:50px;">
            <div class="m">捐助<span>1</span>元</div>
            <div class="nick">Ekanta伊侃达（佩玲）</div>
          </div>
          <div style="margin-left:50px;">
            <div class="t">2015-11-18</div>
            <div class="dd">支持公益</div>
          </div>
        </div>
        <div class="li">
          <%= image_tag "yqj_icon_head.jpg" %>
          <div style="margin-left:50px;">
            <div class="m">捐助<span>1</span>元</div>
            <div class="nick">静珊</div>
          </div>
          <div style="margin-left:50px;">
            <div class="t">2015-11-18</div>
            <div class="dd">支持公益</div>
          </div>
        </div>
        <div class="li">
          <%= image_tag "yqj_icon_head.jpg" %>
          <div style="margin-left:50px;">
            <div class="m">捐助<span>1</span>元</div>
            <div class="nick">王思依</div>
          </div>
          <div style="margin-left:50px;">
            <div class="t">2015-11-18</div>
            <div class="dd">支持公益</div>
          </div>
        </div>
        <div class="li"> <%= image_tag "yqj_icon_head.jpg" %>

          <div style="margin-left:50px;">
            <div class="m">捐助<span>1</span>元</div>
            <div class="nick">匿名</div>
          </div>
          <div style="margin-left:50px;">
            <div class="t">2015-11-18</div>
            <div class="dd">支持一点力量</div>
          </div>
        </div>
        <div class="more">查看更多</div>
      </div>
    </div>
    <div class="btns">
      <%= form_tag(personal_story_campagin_checkout_confirmation_path, method: "post", id: "payment_form") %>
      <div style="margin:10px; text-align: center;">
        <button id="btn_submit1" class="btn btn-sm btn-block" type="button" style="border-radius:4px; box-shadow: 1px 1px 1px #888;width: 60%; margin: 0px auto; padding-top: 0px;">
          <span class="text" style="letter-spacing:1px;">我要捐款</span>
          <span class="loader" style="display:none"></span>
        </button>
        <button id="payment-form-submit" class="btn btn-sm btn-block" type="submit" style="border-radius:4px; box-shadow: 1px 1px 1px #888;width: 60%; margin: 0px auto; padding-top: 0px;">
          <span class="text" style="letter-spacing:1px;">我要捐款</span>
          <span class="loader" style="display:none"></span>
        </button>
      </div>

      </form>
    </div>
    <!--捐款弹框-->

    <!--Footer-->
    <div class="footer">
      <%= image_tag "logo_bottom.png" %>
    </div>
    <div style="background:rgba(0,0,0,0.7);position:absolute;width:100%;top:0;z-index:900;display:none" id="tips">

    </div>
  </div>
  <div style="background:rgba(0,0,0,0.7);z-index:900;display:none;" class="cpm-dialog-modx" id="share_tip">
    <%= image_tag "yqj_result_share.png" %>
  </div>
</div>

<%= hidden_field_tag :fullname, @nickname %>
<%= hidden_field_tag :avatar_url, @avatar_url %>
<%= hidden_field_tag :share_id, @sellerreferral==nil ? "" : @sellerreferral.id %>

<script language="javascript" type="text/javascript">
  $(function () {
    //展开详情
    $("img.arri").bind('click', function () {
      var $arri = $("div.arri");
      var $summary = $("div.summary");
      if ($arri.hasClass("arriup")) {
        $arri.removeClass("arriup");
        $summary.addClass("none");
      }
      else {
        $arri.addClass("arriup");
        $summary.removeClass("none");
      }
    });
    //展示更多
    $("div.more").bind('click', function () {
      alert("展示更多");
      $.ajax({
        type: "post",
        url: "<%= ajax_personal_story_campagin_supporters_path%>",
        data: {},
        success: function (data) {
//          $('#resText').empty();   //清空resText里面的所有内容
          alert(data);
//          $('#resText').html();
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {

        },
        complete: function (XMLHttpRequest, textStatus) {
          this; // 调用本次AJAX请求时传递的options参数
        }
      });

    });

    if (<%= @is_wechat_browser %> == false
    )
    {
      $("#payment-form-submit").show();
      $('#btn_submit1').hide();
    }
    else
    {
      $("#payment-form-submit").hide();
      $('#btn_submit1').show();
    }

    if (typeof WeixinJSBridge == "undefined") {
      if (document.addEventListener) {
        document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
      } else if (document.attachEvent) {
        document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
        document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
      }
    } else {
      onBridgeReady();
    }

    function onBridgeReady() {
      if ("<%= @weixin_init_success %>" == "true") {
        $('#btn_submit1').off("click").on("click", function () {
          var url = "<%=personal_story_campagin_checkout_confirmation_weixin_path%>";
          $('#btn_submit1').prop('disabled', true);

          $.post(url, {direct_donation: 1}).done(function (data, textStatus, jqXHR) {
            weixin_load(data);

            alert(data);
          }).fail(function () {
            alert("请求已经结束但是可能发生了错误！");

            $('#btn_submit1').prop('disabled', false);
          }).always(function () {

          });
        });
      } else {
        alert("系统忙，请刷新页面再试。");
      }
    }

    function weixin_load(order_id) {
      alert(order_id);
      alert("/weixin_payment_get_req/" + order_id);
      $(function () {
        $.ajax({
          method: "get",
          url: "/weixin_payment_get_req/" + order_id,
          dataType: "json",
          cache: false,
          success: function (d) {
            alert(d);
            if (d) {
              alert("  "+ d.appId+"  "+ d.timeStamp+"  "+ d.nonceStr+"  "+ d.package+"  "+ d.paySign)
              WeixinJSBridge.invoke('getBrandWCPayRequest', {
                "appId": d.appId,     //公众号名称，由商户传入
                "timeStamp": d.timeStamp,         //时间戳，自1970年以来的秒数
                "nonceStr": d.nonceStr, //随机串
                "package": d.package,
                "signType": "MD5",         //微信签名方式:
                "paySign": d.paySign //微信签名
              }, function (res) {
                alert(res.err_msg);
                if (res.err_msg == "get_brand_wcpay_request:ok") {
                  ComfirmOrder(order_id);
                } else {
                  $('#wechat').prop('disabled', false);
                }
              });
            }
            else {
              $('#wechat').prop('disabled', false);
            }
          },
          error: function () {
            $('#wechat').prop('disabled', false);
          },
          complete: function () {

          }
        });
      });
    }

    function ComfirmOrder(order_id) {

      var order_make_anonymous = false;
      var fullName = $("#fullname").val();

      if (fullName == "") {
        fullName = "匿名";
        order_make_anonymous = true;
      }

      var avatar_url = $("#avatar_url").val();
      var order_time = new Date();
      var format_order_time = order_time.getFullYear() + "年" + (order_time.getMonth() + 1) + "月" + order_time.getDate() + "日 " + order_time.getHours() + ":" + order_time.getMinutes() + ":" + order_time.getSeconds();

      var data = {
        order_id: order_id,
        order_make_anonymous: order_make_anonymous,
        format_order_time: format_order_time,
        fullName: fullName,
        avatar_url: avatar_url
      };

      $.ajax('/ajax/update-order', {
        type: 'POST',
        data: data,
        beforeSend: function (jqXHR, settings) {
          jqXHR.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
        },
        success: function (data) {
//          window.location.href = "/" + "<%= @campaign.slug %>" + "/confirmation_personal_campagin";

          window.location.href = "<%=personal_story_campagin_index_red_pack_path%>"
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
          alert("抱歉，更新订单时出了问题，请联系我们帮您解决。");
        }
      });

    }

  });
  var newshare_id = 0;
  function share() {
    var shareid = $("#share_id").val();
    if (shareid.length == 0) {
      shareid = -1;
    }
    var fullName = $("#fullname").val();
    if (fullName == "") {
      fullName = "匿名";
    }
    var avatar_url = $("#avatar_url").val();
    var data = {
      id:shareid,
      nickname: fullName,
      avatar_url: avatar_url
    };
    $.ajax('<%=personal_story_campagin_share_path%>', {
      type: 'POST',
      data: data,
      beforeSend: function (jqXHR, settings) {
        jqXHR.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
      },
      success: function (data) {
        newshare_id = data;
        window.shareData.link =campagin_share_link + '/' + newshare_id;
        alert(window.shareData.link);
        share_success();
      },
      error: function (XMLHttpRequest, textStatus, errorThrown) {
        alert("抱歉，分享信息出了问题，请联系我们帮您解决。");
      }
    });
  }
  function share_success() {
    alert("share_success");
    if (newshare_id<=0) {
      alert("001"+newshare_id);
      return;
    }
    var data = {
      referall_id:newshare_id,
    };
    $.ajax('<%=personal_story_campagin_share_result_path%>', {
      type: 'POST',
      data: data,
      beforeSend: function (jqXHR, settings) {
        jqXHR.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
      },
      success: function (data) {
        alert(data);
      },
      error: function (XMLHttpRequest, textStatus, errorThrown) {
        alert("抱歉，更新订单时出了问题，请联系我们帮您解决。");
      }
    });
  }
</script>

<% if @sign_package %>
    <script>
      var campagin_share_link="<%= personal_story_checkout_confirmation_url %>";
      window.shareData = {
        appid: "<%= ENV['WEIXIN_APPID'] %>",
        link: "",
        img_url: "<%= request.protocol + request.host_with_port + '/images/personals/p_20.jpg' %>",
        img_width: "415",
        img_height: "399",
        desc: "亲，就等你了。 1人1块钱拯救世界， 还能赢新年暖心红包...",
        title: "用红包拯救世界，你也来试试？"
      };

      wx.config({
        debug: false,
        appId: "<%= @sign_package['appId'] %>",
        timestamp: "<%= @sign_package['timestamp'] %>",
        nonceStr: "<%= @sign_package['nonceStr'] %>",
        signature: "<%= @sign_package['signature'] %>",
        jsApiList: [
          'onMenuShareTimeline',
          'onMenuShareAppMessage',
          'onMenuShareQQ',
          'onMenuShareWeibo'
        ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
      });

      wx.ready(function () {

        var title = shareData.title;
        var desc = shareData.desc;
        var link = shareData.link;
        var imgUrl = shareData.img_url

        wx.onMenuShareTimeline({
          title: title, // 分享标题
          desc: desc, // 分享描述
          link: link, // 分享链接
          imgUrl: imgUrl, // 分享图标
          trigger: function () {
            share();

          },
          success: function () {
            alert("分享成功！");
            // 用户确认分享后执行的回调函数
            share_success();
          },
          cancel: function () {
            // 用户取消分享后执行的回调函数
          }
        });

        wx.onMenuShareAppMessage({
          title: title, // 分享标题
          desc: desc, // 分享描述
          link: link, // 分享链接
          imgUrl: imgUrl, // 分享图标
          // type: 'link', // 分享类型,music、video或link，不填默认为link
// 	    dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
          trigger: function () {
            share();
          },
          success: function () {
            alert("分享成功！");
            // 用户确认分享后执行的回调函数
            share_success();
          },
          cancel: function () {
            // 用户取消分享后执行的回调函数
          }
        });

        wx.onMenuShareQQ({
          title: title, // 分享标题
          desc: desc, // 分享描述
          link: link, // 分享链接
          imgUrl: imgUrl, // 分享图标
          trigger: function () {
            share();
          },
          success: function () {
            alert("分享成功！");
            // 用户确认分享后执行的回调函数
            share_success();
          },
          cancel: function () {
            // 用户取消分享后执行的回调函数
          }
        });

        wx.onMenuShareWeibo({
          title: title, // 分享标题
          desc: desc, // 分享描述
          link: link, // 分享链接
          imgUrl: imgUrl, // 分享图标
          trigger: function () {
            share();
          },
          success: function () {
            alert("分享成功！");
            // 用户确认分享后执行的回调函数
            share_success();
          },
          cancel: function () {
            // 用户取消分享后执行的回调函数
          }
        });

      });

      wx.error(function (res) {

        // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
        alert(res.errMsg);
      });
    </script>
<% end %>