<%= stylesheet_link_tag "redpack" %>
<article class="main_personal_red_pack">
  <div class="bg">
    <%= image_tag "bg-2.jpg",:class => "bg-img" %>
  </div>
  <header class="promo clearfix">
    <div class="sender-info">
      <div class="sender-avatar">
        <%= image_tag "yqj_icon_head.jpg" %>
      </div>
      <div style="text-align: center;color: #9f7533;">雪夜</div>
    </div>
    <div class="bubble">
      <%= image_tag "bubble.png" %>
      <div class="promo-text">
        谢谢支持，你的红包可以通过11号公益圈公众账号->
       “我的红包”<br> 领取
      </div>
    </div>
  </header>

  <section class="coupon-anime">
    <%= image_tag "envelope-1.png",:class => "coupon-pocket"%>
    <div class="coupon-inner">
      <%= image_tag "coupon.png",:class => "coupon-img"%>
      <div class="coupon j_coupon">
        <div  style="text-align: center;">?元</div>
        <div style="text-align: center;">现金</div>
      </div>
    </div>
  </section>
  <section class="actions">
    <div class="use-coupon" id="get_btn" style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
      <div class="btn-text">我也要收集红包， 拯救世界</div>
    </div>
  </section>
  <div class="cloud">
    <%= image_tag "cloud.png",:class => "cloud-img"%>
  </div>
</article>
<%= render "redpack" %>