<%= render "campaign_head" %>

<div id="personal_story_campaign">
  <div style="text-align: center">
    <img src="/2016/super_monkey.png" style="margin-top: 20px" class="img_super_monkey"/>
  </div>

  <div id="banner">
    <table id="seller_info" style="margin:0px auto;">
      <tr>
        <td style="text-align:center; vertical-align:top;">

          <% if @seller && @seller.user_profile %>
              <div>

                <% if @seller.user_profile.picture %>
                    <%= cl_image_tag @seller.user_profile.picture, width: 100, height: 100, crop: :limit, class: 'img-avatar img-rounded' %>
                <% else %>
                    <img src="/2016/monkey-1.png" class="img-avatar img-rounded"/>
                <% end %>

                <div style="margin-top:3px;">
                  <span style="color:#eee; font-size:14px;"><%= @seller.user_profile.first_name %></span></div>
              </div>
          <% else %>
              <div>
                <%= image_tag 'lzgy_logo.jpg', :class => "img-avatar img-rounded" %>


                <div style="margin-top:3px;">
                  <span style="color:#eee; font-size:14px;">绿洲公益</span></div>
              </div>
          <% end %>
        </td>
        <td style="padding-left: 15px; vertical-align:top">
          <div class="img-bubble bubble" style="min-height:60px;">
            <div class="promo-text">
              1元钱红包就可以<span id="campaign_organizer_quote" style="color:#fa0000;"></span>，你也来参与吧！
            </div>
          </div>
        </td>
      </tr>
    </table>

  </div>
  <% if @seller %>
      <div id="seller_influence" style="position:relative; padding:0px 15px 0px 15px;">
        <!-- <div style="position:absolute; top:0px; right:0px;">
            <img src="/2016/monkey-2.png" style="width:80px;">
        </div> -->
        <div id="indirect_influence" class="well" style="background-color: white; border-color:rgb(197,169,77); margin-top:15px; padding:0px 3px 15px 3px; margin-bottom: 0px">
          <div class="seller_referral_title" style="margin-top:5px; text-align:center;">
            <%= @seller.user_profile.first_name %>
            的公益传播能量值为
            <span id="seller_referral_count" class="seller_referral_count" style="color:#fa0000;"></span>
          </div>
          <div id="indirect_influence_quote" style="margin-top:5px; text-align:center;">
          </div>
          <div style="margin-top:15px; text-align:center;">
            <img src="/2016/friends_map.png" style="max-width:95%; max-height:300px;"/>
          </div>
        </div>

      </div>
  <% end %>
  <div id="campaign_detail" class="detail" style="position:relative; padding: 15px 15px 0px 15px">
    <div class="project well" style="background-color:white; border-color:rgb(197,169,77); margin:0px; padding:0px;">
      <table style="background-color:rgb(197,169,77); width:100%;">
        <tr>
          <!-- <td style="padding: 5px 0px 5px 0px; text-align:left;">
						<span style="color: white; display:inline-block; margin-left:5px;">
							支持项目
						</span>
          </td> -->
          <td style="padding: 5px 0px 5px 0px; text-align:right;">
						<span style="display:inline-block; margin-right:5px;">
							<span style="color: white">感谢所有</span>
							<span style="color: #fa0000"><%= @campaign_total_count %></span>
							<span style="color: white">位爱心伙伴</span>
						</span>
          </td>
        </tr>
      </table>
      <div class="row">
        <div class="col-md-12">
          <div style="position:relative">
            <% if @campaign.campaign_logo %>
                <div style="text-align:center;">
                  <%= cl_image_tag @campaign.campaign_logo.image_id,
                                   transformation: [
                                       {
                                           width: @campaign.campaign_logo.crop_width,
                                           height: @campaign.campaign_logo.crop_height,
                                           x: @campaign.campaign_logo.crop_x,
                                           y: @campaign.campaign_logo.crop_y,
                                           crop: :crop
                                       }
                                   ], style: "width:100%; max-height:626px", class: 'campaign-logo' %>
                </div>
            <% else %>
                <div class="campaign-default-logo-box">
                  <%= image_tag 'default_upload_logo.gif', class: 'img-responsive', style: "margin: auto;" %>
                </div>
            <% end %>
            <div class="campaign-header-title-box">
              <div class="campaign-header-logo-title">
                <span style="color: white"><%= @campaign.title %></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ctx">
        <span class="bt" style="padding-left:0px"> <b>善款接收：</b>上海绿洲公益发展中心</span>
        <br/>
        <span class="bt" style="padding-left:0px"> <b>重要荣誉：</b>荣获中国友谊促进会、财经杂志等联合颁发的第二届中国公益行动奖第一名</span>
        <div class="arri arria"><span>收起</span> <%= image_tag "d.png", :class => :arri %></div>

        <!-- <img class="pimg" src="/images/sunflower/p_01.png">
        <span class="ptt">关注外来务工子女教育</span>

        <div class="arri arria"><span>收起</span> <%= image_tag "d.png", :class => :arri %></div>
        <div class="pdd">
          <span style="color:red;">1</span>元钱，可以帮助<span style="color:red;">1个流动儿童参加1天的太阳花晚托班</span>
        </div> -->
        <div class="summary none">
          <div class="st">项目详情</div>
          <div class="desc">
            <div id="proj_content">
              <p>
                1元钱，可以减少1公斤的食物浪费，把1公斤食物送到困难家庭的身边，帮助中国建越来越多的食物银行<br/>
                5万元，可以分发50吨食物，帮助2000多个困难家庭
              </p>

              <p>
                食物银行是社会慈善组织，我们募集来自农场、食品厂、零售店，甚至个人家庭的食物，尤其是即将被浪费的食物，通过妥善的运输、储存和分拣，送达到有需要的家庭手中。1967年世界第一家食品银行——美国亚利桑那州圣玛丽食品银行成立，尝试收集余量食物帮助需要食物的穷人。现如今，食物银行遍布全球。
                <br/>
                在中国，绿洲食物银行是除香港台湾外的第一所实体运营的食物银行。绿洲食物银行同时也是全球食物银行网络GFN的会员和合作伙伴，我们的操作规程都参照国际成熟标准。
              </p>

              <p>
                <img src="/images/lzgy/p_01.jpg">
              </p>

              <p>
                食物银行运营一年多以来，已经从食品工厂、面包房、电商等爱心伙伴那里收到60余吨、价值约200万元的食物。然而，作为一个非营利机构，我们不得不为了筹集物流和分发的费用而到处奔波，食物募集得越多，我们就越不堪重负。今天，我们希望获得您的帮助，筹集到这些费用，把食物有效地利用，给贫困家庭的孩子们送去一份爱心。
              </p>

              <p>
                <img src="/images/lzgy/p_02.jpg">
              </p>

              <p>
                我们承诺，您的每一分钱都将以加倍的价值使那些贫困的家庭和他们的孩子受益，并且产生不可估量的环境保护价值。我们的愿景是：食物零浪费，社区可持续，人人有其食！
              </p>

              <p>
                <img src="/images/lzgy/p_03.jpg">
              </p>

              <p>你我的一元，成为对抗饥饿和浪费的一员！</p>
              <p>
                <img src="/images/lzgy/p_04.jpg">
              </p>


              <p>
                机构以及项目获奖情况<br/>
                上海绿洲成立以来获得数十项资助及奖励，包括中央财政、创投、慈善基金会、SEE基金会、以及企业基金会等，获得过团中央丰田环保奖、上海市十大潜力公益项目、联想微公益项目一等奖等超过十个奖项。近一年来，机构分别获得了第七届社会组织公益活动最具创意奖，爱在浦东十大创意志愿项目奖，中国青年志愿者服务项目银奖等荣誉。
                <br/>
                食物银行项目从2014年发起以来，获得：“阿里巴巴全球公益合伙人”全球12强、上海市“益企梦创”第一名、“第二届中国公益行动奖”第一名、福特环保奖“社区实践奖”一等奖 等。
              </p>
              <p>
                <img src="/images/lzgy/p_05.jpg" style="width: 45%;">
                <img src="/images/lzgy/p_06.jpg" style="width: 45%;">
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="direct_influence" class="well" style="background-color: white; border-color:rgb(197,169,77); margin:15px; padding:15px 5px;">
    <div style="text-align: right">
      <!-- <span id="btn_view_content" class="glyphicon glyphicon-chevron-left" style="color:#888; font-size:18px; display: none"></span> -->
      <%= image_tag "arr_right.png", :id => 'btn_view_content', :width => 18, :height => 18, :style => "display: none" %>
    </div>

    <div id="supporters_content" style="display:none;">
      <%= render "supporters" %>
    </div>
    <div class="avatar-container" style="overflow: hidden; height: 48px; position: relative">
      <% if @supporters.count>0 %>
          <% @supporters.each_with_index do |s, index| %>
              <% if s.avatar_url && s.avatar_url.to_s.gsub(' ', '').length>0 %>
                  <img id="supporter_avatar_<%= index %>" src="<%= s.avatar_url %>" class="img-rounded support_avatar" style="border-radius:24px; width:48px; height:48px;"/>
              <% else %>
                  <%= image_tag 'weixin_default.jpg', :id => "supporter_avatar_" + index.to_s, :class => "img-rounded support_avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
              <% end %>

              <% if index == 4 %>
                  <% break %>
              <% end %>

          <% end %>

          <% if @supporters.count == 1 %>
              <%= image_tag 'empty_user.png', :id => "supporter_avatar_1", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
              <%= image_tag 'empty_user.png', :id => "supporter_avatar_2", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
              <%= image_tag 'empty_user.png', :id => "supporter_avatar_3", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
              <%= image_tag 'empty_user.png', :id => "supporter_avatar_4", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
          <% end %>

          <% if @supporters.count == 2 %>
              <%= image_tag 'empty_user.png', :id => "supporter_avatar_2", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
              <%= image_tag 'empty_user.png', :id => "supporter_avatar_3", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
              <%= image_tag 'empty_user.png', :id => "supporter_avatar_4", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
          <% end %>

          <% if @supporters.count == 3 %>
              <%= image_tag 'empty_user.png', :id => "supporter_avatar_3", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
              <%= image_tag 'empty_user.png', :id => "supporter_avatar_4", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
          <% end %>

          <% if @supporters.count == 4 %>
              <%= image_tag 'empty_user.png', :id => "supporter_avatar_4", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
          <% end %>

          <div id="btn_view_supporters">
            <%= image_tag "arr_left.png", :width => 18, :height => 18 %>
            <!-- <span class="glyphicon glyphicon-chevron-right" style="color:#888; font-size:18px;"></span> -->
          </div>
      <% else %>

          <div style="text-align: center">
            <%= image_tag 'empty_user.png', :id => "supporter_avatar_0", :class => "img-rounded support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
            <%= image_tag 'empty_user.png', :id => "supporter_avatar_1", :class => "img-rounded support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
            <%= image_tag 'empty_user.png', :id => "supporter_avatar_2", :class => "img-rounded support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
            <%= image_tag 'empty_user.png', :id => "supporter_avatar_3", :class => "img-rounded support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
            <%= image_tag 'empty_user.png', :id => "supporter_avatar_4", :class => "img-rounded support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
          </div>

      <% end %>
    </div>
    <div style="font-size: 14px; text-align:center; margin-top: 10px">
      <% if @supporters.count>0 %>
				<span>
					您有
				</span>
          &nbsp;
				<span style="color:#fa0000;">
					<%= @supporters_count %>
				</span>
          &nbsp;
				<span>
					位小伙伴一起参与
				</span>
      <% else %>
          暂无小伙伴参与
      <% end %>
    </div>
  </div>
  <% if @seller %>
  <% end %>

  <div style="height: 100px;">
  </div>
</div>

<%= render "campaign_footer" %>