<style>

  
  #seller_info {
    opacity: 0;
    width: 90%;
  }

  #indirect_influence {
    opacity: 0;
  }

  /*
  
  #indirect_influence_quote {
	opacity: 0;
  }
  
  #direct_influence {
    opacity: 0;
  }
  
  #campaign_detail {
    opacity: 0;
  }

  .support_avatar {
    opacity: 0;
  }
  
  */

  .img_super_monkey {
    max-width: 150px;
  }

  .img-avatar {
    background-color: rgb(255, 249, 233);
    border: 2px solid rgb(197, 169, 77);
    border-radius: 32px;
    width: 64px;
    height: 64px;
  }

  .img-friend-avatar {
    background-color: rgb(255, 249, 233);
    border: 1px solid rgb(197, 169, 77);
    border-radius: 24px;
    margin-right: 3px;
    width: 48px;
    height: 48px;
  }

  .img-bubble {
    width: 90%;
    padding: 10px;
  }

  .seller_referral_count {
    font-size: 26px;
  }
  
  .indirect_influence_quote_number {
    font-size: 26px;
	color: #fa0000;
  }
  
  .digit-container {
    margin: 0px auto;
    position: relative;
    width: 275px;
    height: 40px;
  }

  .digit-sub-container {
    float: left;
    width: 64px;
    height: 40px;
  }

  .digit-sub-margin-container {
    width: 69px;
  }

  .digit-box {
    background: transparent url('/2016/digit_box.png') no-repeat center top;
    background-size: 100% auto;
    color: #eee;
    float: left;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    width: 32px;
    height: 40px;
  }

  .digit-margin-box {
    margin-left: 5px;
  }

  .digit-text-box {
    float: left;
    padding-left: 5px;
    text-align: center;
    width: 100%;
  }

  .ctx img {
    max-width: 100%;
  }

  .avatar-container {
    text-align: left;
  }

  #banner {
    padding-top: 30px;
  }

  .project table {
    font-size: 14px;
  }

  @media (min-width: 640px) {
    .img-avatar {
      border-radius: 54px;
      width: 108px;
      height: 108px;
    }

    .img-friend-avatar {
      border-radius: 32px;
      margin-right: 6px;
      width: 64px;
      height: 64px;
    }
  }

  @media (min-width: 480px) {

    #banner {
      padding-top: 100px;
    }

    .img_super_monkey {
      max-width: 348px;
    }

    .img-bubble {
      width: 90%;
    }

    .avatar-container {
      text-align: center;
    }

    .digit-container {
      width: 290px;
    }

    .digit-sub-margin-container {
      width: 74px;
    }

    .digit-margin-box {
      margin-left: 10px;
    }

    .digit-text-box {
      padding-left: 10px;
    }

    .project table {
      font-size: 16px;
    }

  }
</style>

<div id="personal_story_campaign">
  <div style="text-align: center">
    <img src="/2016/super_monkey.png" style="margin-top: 20px" class="img_super_monkey"/>
  </div>

    <div id="banner">
      <table id="seller_info" style="margin:0px auto;">
        <tr>
          <td style="text-align:center; vertical-align:top;">

            <% if @seller && @seller.user_profile %>
              <div>

                <% if @seller.user_profile.picture %>
                  <%= cl_image_tag @seller.user_profile.picture, width: 100, height: 100, crop: :limit, class: 'img-avatar img-rounded' %>
                <% else %>
                  <img src="/2016/monkey-1.png" class="img-avatar img-rounded"/>
                <% end %>

                <div style="margin-top:3px;">
                  <span style="color:#eee; font-size:14px;"><%= @seller.user_profile.first_name %></span></div>
              </div>
            <%else%>
                <div>
                  <%= image_tag 'sunflowerlogo.jpg', :class => "img-avatar img-rounded" %>


                  <div style="margin-top:3px;">
                    <span style="color:#eee; font-size:14px;">太阳花</span></div>
                </div>
            <% end %>
          </td>
          <td style="padding-left: 15px; vertical-align:top">
            <div class="img-bubble bubble" style="min-height:60px;">
              <div class="promo-text">
                1元钱红包就可以<span id="campaign_organizer_quote" style="color:#fa0000;"></span>，你也来参与吧！
              </div>
            </div>
          </td>
        </tr>
      </table>

    </div>
  <% if @seller %>
    <div id="seller_influence" style="position:relative; padding:0px 15px 0px 15px;">
      <!-- <div style="position:absolute; top:0px; right:0px;">
          <img src="/2016/monkey-2.png" style="width:80px;">
      </div> -->
      <div id="indirect_influence" class="well" style="background-color: white; border-color:rgb(197,169,77); margin-top:15px; padding:0px 3px 15px 3px; margin-bottom: 0px">
        <div class="seller_referral_title" style="margin-top:5px; text-align:center;">
          <%= @seller.user_profile.first_name %>
          的公益传播能量值为
          <span id="seller_referral_count" class="seller_referral_count" style="color:#fa0000;"></span>
        </div>
        <div id="indirect_influence_quote" style="margin-top:5px; text-align:center;">
        </div>
        <div style="margin-top:15px; text-align:center;">
          <% if @seller_referral_count > 0 %>
            <img src="/2016/friends_map.png" style="max-width:95%; max-height:300px;"/>
          <% else %>
            <img src="/2016/no_friends_map.png" style="max-width:95%; max-height:300px;"/>
          <% end %>
        </div>
      </div>

    </div>
  <% end %>
  <div id="campaign_detail" class="detail" style="position:relative; padding: 15px 15px 0px 15px">
    <div class="project well" style="background-color:white; border-color:rgb(197,169,77); margin:0px; padding:0px;">
      <table style="background-color:rgb(197,169,77); width:100%;">
        <tr>
          <!-- <td style="padding: 5px 0px 5px 0px; text-align:left;">
						<span style="color: white; display:inline-block; margin-left:5px;">
							支持项目
						</span>
          </td> -->
          <td style="padding: 5px 0px 5px 0px; text-align:right;">
						<span style="display:inline-block; margin-right:5px;">
							<span style="color: white">感谢所有</span>
							<span style="color: #fa0000"><%= @campaign_total_count %></span>
							<span style="color: white">位爱心伙伴</span>
						</span>
          </td>
        </tr>
      </table>
      <div class="row">
          <div class="col-md-12">
              <div style="position:relative">
  				<% if @campaign.campaign_logo %>
  					<div style="text-align:center;">
                      <%= cl_image_tag @campaign.campaign_logo.image_id, 
  					transformation: [
  						{
  							width: @campaign.campaign_logo.crop_width, 
  							height: @campaign.campaign_logo.crop_height,
  							x: @campaign.campaign_logo.crop_x,
  							y: @campaign.campaign_logo.crop_y,
  							crop: :crop
  						}
  					], style: "width:100%; max-height:626px", class: 'campaign-logo'%>
  				</div>
  				<% else %>
  					<div class="campaign-default-logo-box">
  						<%= image_tag 'default_upload_logo.gif', class: 'img-responsive', style: "margin: auto;" %>
  					</div>
  				<% end %>
				<div class="campaign-header-title-box"> 
					<div class="campaign-header-logo-title">
						<span style="color: white"><%= @campaign.title %></span>
					</div>
				</div>
              </div>
          </div>
      </div>
	  
      <div class="ctx">
		  <span class="bt" style="padding-left:0px"> <b>善款接收：</b>吴泾太阳花社区儿童服务中心</span>
		  <div class="arri arria"><span>收起</span> <%= image_tag "d.png", :class => :arri %></div>
		  
        <!-- <img class="pimg" src="/images/sunflower/p_01.png">
        <span class="ptt">关注外来务工子女教育</span>

        <div class="arri arria"><span>收起</span> <%= image_tag "d.png", :class => :arri %></div>
        <div class="pdd">
          <span style="color:red;">1</span>元钱，可以帮助<span style="color:red;">1个流动儿童参加1天的太阳花晚托班</span>
        </div> -->
        <div class="summary none">
          <div class="st">项目详情</div>
          <div class="desc">
            <div id="proj_content">
              <p>
                1元钱，可以帮助1个流动儿童参加1天的太阳花晚托班，得到志愿者亲切细致的照顾和辅导。<br/>
                5万元钱，可以帮助支持闵行太阳花半年的机构运营费用，让至少100多名流动儿童在这半年里得到更好的社区教育服务。
              </p>

              <p>上海闵行区吴泾太阳花社区儿童服务中心成立于2014年11月。我们致力于扎根上海的流动人口社区，为以来沪随迁子女为主体的社区儿童及其家长提供长期、稳定、多元、优质的公益社区教育服务。我们期望通过我们的努力，可以让流动儿童感受到上海这座城市的包容和接纳；同时，通过多元化教育资源的提供，帮助每一位在这里学习、玩耍的孩子，发现自己的潜力所在，成长为“最好的自己”。</p>

              <p>
                <img src="/images/sunflower/p_01.png">
              </p>

              <p>我们的常规公益项目包括：</p>

              <p>(1) 晚托班。为孩子提供托管和作业辅导。</p>

              <p>
                <img src="/images/sunflower/p_02.png">
              </p>

              <p>(2) 入户辅导。为孩子提供更有针对性的一对一的家庭课业辅导。</p>

              <p>
                <img src="/images/sunflower/p_03.png">
              </p>

              <p>(3) 周末兴趣课堂。为孩子提供多元的兴趣课程，培养孩子的兴趣，发掘孩子的潜能。</p>

              <p>
                <img src="/images/sunflower/p_04.png">
              </p>

              <p>(4) 寒暑假营会。每年暑假寒假进行，通过举办多种多样的兴趣课程和户外活动，丰富孩子们的寒暑假生活。</p>

              <p>(5) 图书借阅。培养孩子的阅读兴趣。</p>

              <p>
                <img src="/images/sunflower/p_05.png">
              </p>

              <p>(6) 户外拓展。不定期地带孩子走出去看看，开阔眼界，增长见识。</p>

              <p>(7) 家长学堂。面向流动儿童家长开设，培养他们与孩子有效亲子沟通的意识和能力。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


    <div id="direct_influence" class="well" style="background-color: white; border-color:rgb(197,169,77); margin:15px; padding:15px 5px;">
      <div style="text-align: right">
        <!-- <span id="btn_view_content" class="glyphicon glyphicon-chevron-left" style="color:#888; font-size:18px; display: none"></span> -->
		<%= image_tag "arr_right.png", :id => 'btn_view_content', :width => 18, :height => 18, :style => "display: none" %>
      </div>

      <div id="supporters_content" style="display:none;">
        <%= render "supporters" %>
      </div>
      <div class="avatar-container" style="overflow: hidden; height: 48px; position: relative">
        <% if @supporters.count>0 %>
          <% @supporters.each_with_index do |s, index| %>
            <% if s.avatar_url && s.avatar_url.to_s.gsub(' ', '').length>0 %>
              <img id="supporter_avatar_<%= index %>" src="<%= s.avatar_url %>" class="img-rounded support_avatar" style="border-radius:24px; width:48px; height:48px;"/>
            <% else %>
              <%= image_tag 'weixin_default.jpg', :id => "supporter_avatar_" + index.to_s, :class => "img-rounded support_avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
            <% end %>

            <% if index == 4 %>
              <% break %>
            <% end %>

          <% end %>

          <% if @supporters.count == 1 %>
            <%= image_tag 'empty_user.png', :id => "supporter_avatar_1", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
            <%= image_tag 'empty_user.png', :id => "supporter_avatar_2", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
            <%= image_tag 'empty_user.png', :id => "supporter_avatar_3", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
            <%= image_tag 'empty_user.png', :id => "supporter_avatar_4", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
          <% end %>

          <% if @supporters.count == 2 %>
            <%= image_tag 'empty_user.png', :id => "supporter_avatar_2", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
            <%= image_tag 'empty_user.png', :id => "supporter_avatar_3", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
            <%= image_tag 'empty_user.png', :id => "supporter_avatar_4", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
          <% end %>

          <% if @supporters.count == 3 %>
            <%= image_tag 'empty_user.png', :id => "supporter_avatar_3", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
            <%= image_tag 'empty_user.png', :id => "supporter_avatar_4", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
          <% end %>

          <% if @supporters.count == 4 %>
            <%= image_tag 'empty_user.png', :id => "supporter_avatar_4", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
          <% end %>

          <div id="btn_view_supporters" style="position:absolute; top:0px; right:2px; height:48px; line-height:48px;">
			  <%= image_tag "arr_left.png", :width => 18, :height => 18 %>
            <!-- <span class="glyphicon glyphicon-chevron-right" style="color:#888; font-size:18px;"></span> -->
          </div>
        <% else %>

          <div style="text-align: center">
            <%= image_tag 'empty_user.png', :id => "supporter_avatar_0", :class => "img-rounded support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
            <%= image_tag 'empty_user.png', :id => "supporter_avatar_1", :class => "img-rounded support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
            <%= image_tag 'empty_user.png', :id => "supporter_avatar_2", :class => "img-rounded support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
            <%= image_tag 'empty_user.png', :id => "supporter_avatar_3", :class => "img-rounded support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
            <%= image_tag 'empty_user.png', :id => "supporter_avatar_4", :class => "img-rounded support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
          </div>

        <% end %>
      </div>
      <div style="font-size: 14px; text-align:center; margin-top: 10px">
        <% if @supporters.count>0 %>
				<span>
					您有
				</span>
          &nbsp;
				<span style="color:#fa0000;">
					<%= @supporters_count %>
				</span>
          &nbsp;
				<span>
					位小伙伴一起参与
				</span>
        <% else %>
          暂无小伙伴参与
        <% end %>
      </div>
    </div>
  <% if @seller %>
  <% end %>

  <div style="height: 100px;">
  </div>
</div>

<div class="navbar-fixed-bottom" style="padding:5px 0px 0px 0px; text-align:center;">
  <!-- <button id="btn_view_content" type="button" class="btn btn-default" onclick="showContent();" style="border-radius:4px; box-shadow: 1px 1px 1px #888; margin-left:20px; display:none;"><span style="font-size:16px; letter-spacing:1px;">&nbsp;查看原文&nbsp;</span>
  </button> -->
  <div style="position:relative; padding-top:0px">
    <%= form_tag(personal_story_campagin_checkout_confirmation_path, method: "post", id: "payment_form") %>
    <!-- <div style="position:relative; padding-top:0px; background-color: red; max-width: 750px; margin: 0 auto">
    </div> -->
    <div id="btn_submit" style="margin:0px auto; text-align:center; width:148px; height:100px; display:none;">
      <img class="payment-image" src="/2016/pay_one.png" style="width:148px; height:100px;"/>
    </div>

    <div id="payment-form-submit" style="margin:0px auto; text-align:center; width:148px; height:100px; display:none;">
      <img class="payment-image" src="/2016/pay_one.png" style="width:148px; height:100px;"/>
    </div>
    </form>

    <%= hidden_field_tag :fullname, @nickname %>
    <%= hidden_field_tag :avatar_url, @avatar_url %>
    <%= hidden_field_tag :share_id, @seller ? @seller.id : "" %>
  </div>
</div>

<script language="javascript" type="text/javascript">
  var body_scrollTop = 0;
  var indirect_influence_quote_nubmer = 0;
  
  function showContent() {

    $(".avatar-container").show();
    $("#indirect_influence").show();
    $(".detail").show();
    // $("#payment_form").show();

    $("#supporters_content").hide();
    $("#btn_view_content").hide();

    $("body").scrollTop(body_scrollTop);
  }

  function showSupporters() {
    body_scrollTop = $("body").scrollTop();

    $(".avatar-container").hide();
    $("#indirect_influence").hide();
    $(".detail").hide();
    // $("#payment_form").hide();

    $("#supporters_content").show();
    $("#btn_view_content").show();
    $("body").scrollTop($("#banner").height());
  }

  function executeAnimation() {

    if (<%= @has_seller %> == true
  )
    {

      $("#seller_info").animate({opacity: '1'}, 1000, function () {
        $("#indirect_influence").animate({opacity: '1'}, 1000, function () {

			var options = {
				useEasing : false, 
				useGrouping : false, 
				separator : ',', 
				decimal : '.', 
				prefix : '', 
				suffix : '' 
			};

		  var seller_referral_count = new CountUp("seller_referral_count", 0, <%= @seller_referral_count %>, 0, 0.5, options);
		  seller_referral_count.start();
	  
		  var indirect_influence_quote_count = new CountUp("indirect_influence_quote_count", 0, indirect_influence_quote_nubmer, 0, 0.5, options);
		  indirect_influence_quote_count.start();
	  
		  $("#indirect_influence_quote").animate({opacity: '1'}, 1000, function () {
		  });
          $("#campaign_detail").animate({opacity: '1'}, 1000, function () {
             $("#direct_influence").animate({opacity: '1'}, 1000, function () {
               $("#supporter_avatar_0").animate({opacity: '1'}, "fast", function () {
                 $("#supporter_avatar_1").animate({opacity: '1'}, "fast", function () {
                   $("#supporter_avatar_2").animate({opacity: '1'}, "fast", function () {
                     $("#supporter_avatar_3").animate({opacity: '1'}, "fast", function () {
                       $("#supporter_avatar_4").animate({opacity: '1'}, "fast", function () {

                       });
                     });
                   });
                 });
               });
             });
           });
        });
      });

    }
  else
    {

	  $("#seller_info").animate({opacity: '1'}, "slow", function () {
	  });

       $("#campaign_detail").animate({opacity: '1'}, "slow", function () {
         $("#seller_info").animate({opacity: '1'}, "slow", function () {
           $("#direct_influence").animate({opacity: '1'}, 1000, function () {
             $("#supporter_avatar_0").animate({opacity: '1'}, "fast", function () {
               $("#supporter_avatar_1").animate({opacity: '1'}, "fast", function () {
                 $("#supporter_avatar_2").animate({opacity: '1'}, "fast", function () {
                   $("#supporter_avatar_3").animate({opacity: '1'}, "fast", function () {
                     $("#supporter_avatar_4").animate({opacity: '1'}, "fast", function () {

                     });
                   });
                 });
               });
             });
           });
         });
       });
    }

  }

  $(document).ready(function () {
		
	  var organizer_quote = "<%= @campaign.organizer_quote %>";
	  var new_organizer_quote = "";
	  var indirect_influence_quote = "";
	  var indices = window.Raisy.get_all_occurence_from_string(organizer_quote);
	  
	  if (indices.length > 1) {
		  
		  var start = 0;
		  var end = 0;
		  var number_string = "";
		  for (var i = 0; i < indices.length; i++) {
		  	  
			  if (i % 2 == 0) {
				  start = indices[i];
			  } else {
			  	  end = indices[i];
				  var number_string = organizer_quote.substring(start + 1, end);
				  var the_num = number_string.replace( /^\D+/g, '');
				  new_organizer_quote = organizer_quote.substring(0, start) + 1 * parseInt(the_num) + organizer_quote.substring(end + 1, organizer_quote.length);
				  $("#campaign_organizer_quote").text(new_organizer_quote);
				  
				  indirect_influence_quote = "可以" + organizer_quote.substring(0, start) + "&nbsp;<span id='indirect_influence_quote_count' class='indirect_influence_quote_number'>" + "</span>&nbsp;" + organizer_quote.substring(end + 1, organizer_quote.length);
				  $("#indirect_influence_quote").html(indirect_influence_quote);
				  
				  indirect_influence_quote_nubmer = <%= @seller_referral_count %> * parseInt(the_num);
			  }
			  
		  }
		  
	  } else {
		  
		  $("#campaign_organizer_quote").text(organizer_quote);
		  
	  }
	  
		$("body").css({
			"background": "transparent url('/2016/bg.jpg') repeat-y center top",
			"background-size": "100% auto"
		});

    executeAnimation();
	
    $("#supporters_content").jscroll({
      autoTrigger: false,
      nextSelector: "a.a-pager:last",
      callback: function () {
      },
      loadingHtml: "<div style='text-align:center; padding:15px 0px 30px 0px;'><img src='<%= image_url "loader-black.gif" %>' /></div>"
    });

    $("#btn_view_supporters").click(function () {
      showSupporters();
    });

    $("#btn_view_content").click(function () {
      showContent();
    });

    //展开详情
    $("img.arri").bind('click', function () {
      var $arri = $("div.arri");
      var $summary = $("div.summary");
      if ($arri.hasClass("arriup")) {
        $arri.removeClass("arriup");
        $summary.addClass("none");
      }
      else {
        $arri.addClass("arriup");
        $summary.removeClass("none");
      }

      // $summary.slideToggle("slow");
	  
    });

    if (<%= @has_seller %> == false
    )
    {
//      $("img.arri").trigger('click');
    }

    //展示更多
    $("div.more").bind('click', function () {
      alert("展示更多");
      $.ajax({
        type: "post",
        url: "<%= ajax_personal_story_campagin_supporters_path%>",
        data: {},
        success: function (data) {
//          $('#resText').empty();   //清空resText里面的所有内容
          alert(data);
//          $('#resText').html();
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {

        },
        complete: function (XMLHttpRequest, textStatus) {
          this; // 调用本次AJAX请求时传递的options参数
        }
      });

    });

    if (<%= @is_wechat_browser %> == false
    )
    {
      $("#payment-form-submit").show();
      $('#btn_submit').hide();
    }
    else
    {
      $("#payment-form-submit").hide();
      $('#btn_submit').show();
    }

    $("#payment-form-submit").off("click").on("click", function () {
			$(this).off("click");
			
      $("#payment_form").submit();
    });

    if (typeof WeixinJSBridge == "undefined") {
      if (document.addEventListener) {
        document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
      } else if (document.attachEvent) {
        document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
        document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
      }
    } else {
      onBridgeReady();
    }
		
		var is_paying = false;

    function onBridgeReady() {
		
      if ("<%= @weixin_init_success %>" == "true") {
		  
        $('#btn_submit').off("click").on("click", function () {
			
			if (is_paying) return;
			
			is_paying = true;
			$('.payment-image').css("opacity", 0.7);
			
			var url = "<%=personal_story_campagin_checkout_confirmation_weixin_path%>";
			var shareid = $("#share_id").val();
			
			$.post(url, {
				direct_donation: 1, 
				seller_id: shareid
			}).done(function (data, textStatus, jqXHR) {
				weixin_load(data);
			}).fail(function () {
				alert("请求已经结束但是可能发生了错误！");
				is_paying = false;
				$('.payment-image').css("opacity", 1);
			}).always(function () {
				
			});
			
        });
		
      } else {
        alert("系统忙，请刷新页面再试。");
      }
    }

    function weixin_load(order_id) {
      $(function () {
        $.ajax({
          method: "get",
          url: "/weixin_payment_get_req/" + order_id,
          dataType: "json",
          cache: false,
          success: function (d) {
            if (d) {
              // alert("  "+ d.appId+"  "+ d.timeStamp+"  "+ d.nonceStr+"  "+ d.package+"  "+ d.paySign);
              WeixinJSBridge.invoke('getBrandWCPayRequest', {
                "appId": d.appId,     //公众号名称，由商户传入
                "timeStamp": d.timeStamp,         //时间戳，自1970年以来的秒数
                "nonceStr": d.nonceStr, //随机串
                "package": d.package,
                "signType": "MD5",         //微信签名方式:
                "paySign": d.paySign //微信签名
              }, function (res) {
                if (res.err_msg == "get_brand_wcpay_request:ok") {
                  ComfirmOrder(order_id);
                } else {
                  is_paying = false;
                  $('.payment-image').css("opacity", 1);
                }
              });
            }
            else {
              is_paying = false;
              $('.payment-image').css("opacity", 1);
            }
          },
          error: function () {
            is_paying = false;
            $('.payment-image').css("opacity", 1);
          },
          complete: function () {

          }
        });
      });
    }

    function ComfirmOrder(order_id) {

      var order_make_anonymous = false;
      var fullName = $("#fullname").val();

      if (fullName == "") {
        fullName = "匿名";
        order_make_anonymous = true;
      }

      var avatar_url = $("#avatar_url").val();
      var order_time = new Date();
      var format_order_time = order_time.getFullYear() + "年" + (order_time.getMonth() + 1) + "月" + order_time.getDate() + "日 " + order_time.getHours() + ":" + order_time.getMinutes() + ":" + order_time.getSeconds();

      var data = {
        order_id: order_id,
        order_make_anonymous: order_make_anonymous,
        format_order_time: format_order_time,
        fullName: fullName,
        avatar_url: avatar_url
      };

      $.ajax('/ajax/update-order', {
        type: 'POST',
        data: data,
        beforeSend: function (jqXHR, settings) {
          jqXHR.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
        },
        success: function (data) {
          window.location.href = "<%=personal_story_campagin_index_red_pack_path + "?campaign_id=#{@campaign.id}" %>"
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
          alert("抱歉，更新订单时出了问题，请联系我们帮您解决。");
        }
      });

    }

  });
</script>

<% if @sign_package %>
  <script>
    var campagin_share_link = "<%= request.original_url %>";

    window.shareData = {
      appid: "<%= ENV['WEIXIN_APPID'] %>",
      link: campagin_share_link,
      img_url: "<%= request.protocol + request.host_with_port + '/2016/thumbnail.jpg' %>",
      img_width: "400",
      img_height: "400",
      desc: "猴赛雷! 我的红包帅成一道闪电!",
      title: "用红包拯救世界，你也来试试？"
    };

    wx.config({
      debug: false,
      appId: "<%= @sign_package['appId'] %>",
      timestamp: "<%= @sign_package['timestamp'] %>",
      nonceStr: "<%= @sign_package['nonceStr'] %>",
      signature: "<%= @sign_package['signature'] %>",
      jsApiList: [
        'onMenuShareTimeline',
        'onMenuShareAppMessage',
        'onMenuShareQQ',
        'onMenuShareWeibo'
      ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });

    wx.ready(function () {

      var title = shareData.title;
      var desc = shareData.desc;
      var link = shareData.link;
      var imgUrl = shareData.img_url

			// 朋友圈只显示标题, title desc交换
      wx.onMenuShareTimeline({
        title: desc, // 分享标题
        desc: title, // 分享描述
        link: link, // 分享链接
        imgUrl: imgUrl, // 分享图标
        trigger: function () {

        },
        success: function () {
          // 用户确认分享后执行的回调函数
          share_success();
        },
        cancel: function () {
          // 用户取消分享后执行的回调函数
        }
      });

      wx.onMenuShareAppMessage({
        title: title, // 分享标题
        desc: desc, // 分享描述
        link: link, // 分享链接
        imgUrl: imgUrl, // 分享图标
        // type: 'link', // 分享类型,music、video或link，不填默认为link
// 	    dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
        trigger: function () {
        },
        success: function () {
          // 用户确认分享后执行的回调函数
          share_success();
        },
        cancel: function () {
          // 用户取消分享后执行的回调函数
        }
      });

      wx.onMenuShareQQ({
        title: title, // 分享标题
        desc: desc, // 分享描述
        link: link, // 分享链接
        imgUrl: imgUrl, // 分享图标
        trigger: function () {
        },
        success: function () {
          // 用户确认分享后执行的回调函数
          share_success();
        },
        cancel: function () {
          // 用户取消分享后执行的回调函数
        }
      });

      wx.onMenuShareWeibo({
        title: title, // 分享标题
        desc: desc, // 分享描述
        link: link, // 分享链接
        imgUrl: imgUrl, // 分享图标
        trigger: function () {
        },
        success: function () {
          // 用户确认分享后执行的回调函数
          share_success();
        },
        cancel: function () {
          // 用户取消分享后执行的回调函数
        }
      });

    });

    wx.error(function (res) {

      // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
      alert(res.errMsg);
    });

    function share_success() {

    }
  </script>

<% end %>