<%= render "campaign_head" %>

<div id="personal_story_campaign">
  <div style="text-align: center">
    <img src="/2016/super_monkey.png" style="margin-top: 20px" class="img_super_monkey"/>
  </div>

  <div id="banner">
    <table id="seller_info" style="margin:0px auto;">
      <tr>
        <td style="text-align:center; vertical-align:top;">

          <% if @seller && @seller.user_profile %>
              <div>

                <% if @seller.user_profile.picture %>
                    <%= cl_image_tag @seller.user_profile.picture, width: 100, height: 100, crop: :limit, class: 'img-avatar img-rounded' %>
                <% else %>
                    <img src="/2016/monkey-1.png" class="img-avatar img-rounded"/>
                <% end %>

                <div style="margin-top:3px;">
                  <span style="color:#eee; font-size:14px;"><%= @seller.user_profile.first_name %></span></div>
              </div>
          <% else %>
              <div>
                <%= image_tag 'ydw_logo.jpg', :class => "img-avatar img-rounded" %>
                <div style="margin-top:3px;">
                  <span style="color:#eee; font-size:14px;">颛桥有的玩社区</span></div>
              </div>
          <% end %>
        </td>
        <td style="padding-left: 15px; vertical-align:top">
          <div class="img-bubble bubble" style="min-height:60px;">
            <div class="promo-text">
              1元钱，<span  style="color:#fa0000;">买不了一个茶叶蛋，但却能激励有的玩公益运动大使走进更多社区！
              买不到一张地铁票，但却能让我们在社区公益体育的路上斗志昂扬！
              伸出你的手，捐出你的一元钱，和"有的玩公益体育"一起做正确的选择！</span>
            </div>
          </div>
        </td>
      </tr>
    </table>

  </div>
  <% if @seller %>
      <div id="seller_influence" style="position:relative; padding:0px 15px 0px 15px;">
        <!-- <div style="position:absolute; top:0px; right:0px;">
            <img src="/2016/monkey-2.png" style="width:80px;">
        </div> -->
        <div id="indirect_influence" class="well" style="background-color: white; border-color:rgb(197,169,77); margin-top:15px; padding:0px 3px 15px 3px; margin-bottom: 0px">
          <div class="seller_referral_title" style="margin-top:5px; text-align:center;">
            <%= @seller.user_profile.first_name %>
            的公益传播能量值为
            <span id="seller_referral_count" class="seller_referral_count" style="color:#fa0000;"></span>
          </div>
          <div id="indirect_influence_quote" style="margin-top:5px; text-align:center;">
          </div>
          <div style="margin-top:15px; text-align:center;">
            <img src="/2016/friends_map.png" style="max-width:95%; max-height:300px;"/>
          </div>
        </div>

      </div>
  <% end %>
  <div id="campaign_detail" class="detail" style="position:relative; padding: 15px 15px 0px 15px">
    <div class="project well" style="background-color:white; border-color:rgb(197,169,77); margin:0px; padding:0px;">
      <table style="background-color:rgb(197,169,77); width:100%;">
        <tr>
          <!-- <td style="padding: 5px 0px 5px 0px; text-align:left;">
						<span style="color: white; display:inline-block; margin-left:5px;">
							支持项目
						</span>
          </td> -->
          <td style="padding: 5px 0px 5px 0px; text-align:right;">
						<span style="display:inline-block; margin-right:5px;">
							<span style="color: white">感谢所有</span>
							<span style="color: #fa0000"><%= @campaign_total_count %></span>
							<span style="color: white">位爱心伙伴</span>
						</span>
          </td>
        </tr>
      </table>
      <div class="row">
        <div class="col-md-12">
          <div style="position:relative">
            <% if @campaign.campaign_logo %>
                <div style="text-align:center;">
                  <%= cl_image_tag @campaign.campaign_logo.image_id,
                                   transformation: [
                                       {
                                           width: @campaign.campaign_logo.crop_width,
                                           height: @campaign.campaign_logo.crop_height,
                                           x: @campaign.campaign_logo.crop_x,
                                           y: @campaign.campaign_logo.crop_y,
                                           crop: :crop
                                       }
                                   ], style: "width:100%; max-height:626px", class: 'campaign-logo' %>
                </div>
            <% else %>
                <div class="campaign-default-logo-box">
                  <%= image_tag 'default_upload_logo.gif', class: 'img-responsive', style: "margin: auto;" %>
                </div>
            <% end %>
            <div class="campaign-header-title-box">
              <div class="campaign-header-logo-title">
                <span style="color: white"><%= @campaign.title %></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ctx">
        <span class="bt" style="padding-left:0px"> <b>善款接收：</b>上海闵行区颛桥有的玩社区公益体育服务中心</span>
        <br/>
        <span class="bt" style="padding-left:0px"> <b>重要荣誉：</b>2014年上海市闵行区公益创业大赛“创盈奖”</span>
        <div class="arri arria"><span>收起</span> <%= image_tag "d.png", :class => :arri %></div>

        <!-- <img class="pimg" src="/images/sunflower/p_01.png">
        <span class="ptt">关注外来务工子女教育</span>

        <div class="arri arria"><span>收起</span> <%= image_tag "d.png", :class => :arri %></div>
        <div class="pdd">
          <span style="color:red;">1</span>元钱，可以帮助<span style="color:red;">1个流动儿童参加1天的太阳花晚托班</span>
        </div> -->
        <div class="summary none">
          <div class="st">项目详情</div>
          <div class="desc">
            <div id="proj_content">

              <p>
                1元钱，买不了一个茶叶蛋，但却能激励有的玩公益运动大使走进更多社区！<br/>
                买不到一张地铁票，但却能让我们在社区公益体育的路上斗志昂扬！<br/>
                伸出你的手，捐出你的一元钱，和"有的玩公益体育"一起做正确的选择！<br/>
                1元钱，让公益体育和社区不再遥远！<br/>
                5万元，您的涓涓细流将汇聚成“五万公益交通卡”帮助100个志愿者走进社区，在每个周末带去社区运动的快乐！<br/>
                请支持我们的公益理想，用点滴积蓄，创造社区公益体育新纪元！<br/>
              </p>

              <p>
                上海闵行区颛桥有的玩社区公益体育服务中心（以下简称 “有的玩”），是一家注册于闵行颛桥的民办非企业，于 2014 年 11 月正式注册成立。其前身——“有的玩“公益体育，是由广大热爱运动的志愿者所组建的草根组织。
              </p>

              <p>
                <img src="/images/ydw/p_01.jpg">
              </p>

              <p>
                “有的玩”面向 4-12 岁的孩子及其家长，通过专业的运动知识和创新的思维模式，将世界顶尖运动员的专业训练转化为孩子们感兴趣的游戏和团队活动，在运动中激发孩子的身体潜能，启蒙运动文化，并帮助孩子养成终生的运动习惯。以提升孩子的身体素质和综合能力为宗旨，“有的玩”公益体育项目为家长和孩子们提供了多种不同类型的运动体验，截至目前，已经有超过 10000 人次参与“有的玩”组织的各类活动，有的玩线上传播平台（公众微信号 “有的玩”）也有总计超过 120000 人次的阅读量。
              </p>

              <p>
                <img src="/images/ydw/p_02.jpg">
              </p>

              <p> 有的玩有以下几种活动类型<br/>
                1、“有的玩“亲子运动大联欢（单次项目）<br/>
                2、“有的玩“亲子运动队（长期项目）<br/>
                3、定制化“有的玩“运动会
              </p>
              <p>
              <img src="/images/ydw/p_03.jpg">
            </p>

              <p> “有的玩“公益体育将秉承其独特的运动亲子公益理念——鼓励家长和孩子们一起运
                动，并在运动中提高孩子的身体素质和综合能力，以在“玩”中提高中国孩子的身体素质和综合能力为宗旨。此外，针对年轻人的需求，“有的玩“也积极尝试与其他组织共同策划、组织成年人的运动会。”有的玩”还积极联手各类组织和机构，在运动的基础上，共同开发出各类丰富的提升综合素质的公益项目。而这些公益项目也将陆陆续续与家长和孩子们、以及不同年龄段的受益人见面，”有的玩”期待与社会各界有爱心的人士和组织共同努力，传播积极的运动文化和公益正能量！
              </p>
              <p>
                <img src="/images/ydw/p_04.jpg">
              </p>
              <p>
                机构所获得荣誉：<br/>
                1. 2014年上海市闵行区公益创业大赛“创盈奖”<br/>
                2. 2014年度“社创之星”36星荣誉称号<br/>
                3. 机构负责人之一被评选为上海市社区体育服务配送——体育技能配送教练<br/>
                4. 机构负责人担任上海市慈善教育培训中心的公益体育项目负责人<br/>
              </p>
              <p>
                <img src="/images/ydw/p_05.jpg" style="width: 45%;">
                <img src="/images/ydw/p_06.jpg" style="width: 45%;">
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="direct_influence" class="well" style="background-color: white; border-color:rgb(197,169,77); margin:15px; padding:15px 5px;">
    <div style="text-align: right">
      <!-- <span id="btn_view_content" class="glyphicon glyphicon-chevron-left" style="color:#888; font-size:18px; display: none"></span> -->
      <%= image_tag "arr_right.png", :id => 'btn_view_content', :width => 18, :height => 18, :style => "display: none" %>
    </div>

    <div id="supporters_content" style="display:none;">
      <%= render "supporters" %>
    </div>
    <div class="avatar-container" style="overflow: hidden; height: 48px; position: relative">
      <% if @supporters.count>0 %>
          <% @supporters.each_with_index do |s, index| %>
              <% if s.avatar_url && s.avatar_url.to_s.gsub(' ', '').length>0 %>
                  <img id="supporter_avatar_<%= index %>" src="<%= s.avatar_url %>" class="img-rounded support_avatar" style="border-radius:24px; width:48px; height:48px;"/>
              <% else %>
                  <%= image_tag 'weixin_default.jpg', :id => "supporter_avatar_" + index.to_s, :class => "img-rounded support_avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
              <% end %>

              <% if index == 4 %>
                  <% break %>
              <% end %>

          <% end %>

          <% if @supporters.count == 1 %>
              <%= image_tag 'empty_user.png', :id => "supporter_avatar_1", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
              <%= image_tag 'empty_user.png', :id => "supporter_avatar_2", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
              <%= image_tag 'empty_user.png', :id => "supporter_avatar_3", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
              <%= image_tag 'empty_user.png', :id => "supporter_avatar_4", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
          <% end %>

          <% if @supporters.count == 2 %>
              <%= image_tag 'empty_user.png', :id => "supporter_avatar_2", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
              <%= image_tag 'empty_user.png', :id => "supporter_avatar_3", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
              <%= image_tag 'empty_user.png', :id => "supporter_avatar_4", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
          <% end %>

          <% if @supporters.count == 3 %>
              <%= image_tag 'empty_user.png', :id => "supporter_avatar_3", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
              <%= image_tag 'empty_user.png', :id => "supporter_avatar_4", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
          <% end %>

          <% if @supporters.count == 4 %>
              <%= image_tag 'empty_user.png', :id => "supporter_avatar_4", :class => "img-rounded support_avatar support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
          <% end %>

          <div id="btn_view_supporters">
            <%= image_tag "arr_left.png", :width => 18, :height => 18 %>
            <!-- <span class="glyphicon glyphicon-chevron-right" style="color:#888; font-size:18px;"></span> -->
          </div>
      <% else %>

          <div style="text-align: center">
            <%= image_tag 'empty_user.png', :id => "supporter_avatar_0", :class => "img-rounded support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
            <%= image_tag 'empty_user.png', :id => "supporter_avatar_1", :class => "img-rounded support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
            <%= image_tag 'empty_user.png', :id => "supporter_avatar_2", :class => "img-rounded support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
            <%= image_tag 'empty_user.png', :id => "supporter_avatar_3", :class => "img-rounded support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
            <%= image_tag 'empty_user.png', :id => "supporter_avatar_4", :class => "img-rounded support_avatar img-friend-avatar", :style => "border-radius:24px; width:48px; height:48px;" %>
          </div>

      <% end %>
    </div>
    <div style="font-size: 14px; text-align:center; margin-top: 10px">
      <% if @supporters.count>0 %>
				<span>
					您有
				</span>
          &nbsp;
				<span style="color:#fa0000;">
					<%= @supporters_count %>
				</span>
          &nbsp;
				<span>
					位小伙伴一起参与
				</span>
      <% else %>
          暂无小伙伴参与
      <% end %>
    </div>
  </div>
  <% if @seller %>
  <% end %>

  <div style="height: 100px;">
  </div>
</div>


<%= render "campaign_footer" %>