<div class="product_weixin_header">
  <p>
    <% if @campaign.minilogo %>
        <%= image_tag @campaign.minilogo%>
    <% else %>
        <%= image_tag "minilogo .png"%>
    <% end %>

    <span class="org_name"><%= @campaign.organization.name.length>14?@campaign.organization.name[0,13]+"..." :@campaign.organization.name%></span>  <span style="padding-left: 10px;">购买即捐赠</span>
  </p>

</div>
<div class="container_campaign_products">
    <div class="header">
        <% if @campaign.logo&&@campaign.logo.include?("upload") %>
            <div style="text-align:center;">
                <%= image_tag @campaign.logo+"?id=#{rand(100)}",:style=>"width:100%;max-height:626px" %>
            <div class="campaign-header-logo-title">
              <p><%= @campaign.title %></p>
            </div>
            <a href="javascript:;" class="weui_btn weui_btn_plain_default donation_btn weui_btn_disabled js-showActionDonation">直接捐赠</a>
            </div>
        <% elsif @campaign.campaign_logo %>
            <div style="text-align:center;">
              <%= cl_image_tag @campaign.campaign_logo.image_id,
                               transformation: [
                                   {
                                       width: @campaign.campaign_logo.crop_width,
                                       height: @campaign.campaign_logo.crop_height,
                                       x: @campaign.campaign_logo.crop_x,
                                       y: @campaign.campaign_logo.crop_y,
                                       crop: :crop
                                   }
                               ], style: "width:100%; max-height:626px", class: 'campaign-logo' %>

        <% else %>
            <div class="campaign-default-logo">
              <%= image_tag 'default_upload_logo.gif' %>

        <% end %>
      <div class="campaign-header-logo-title">
        <p style="width: 70%;float: left;"><%= @campaign.title %></p>
        <p style="text-align: right;padding-right: 5px;">已筹款￥33333</p>
      </div>
      <a href="javascript:;" class="weui_btn weui_btn_plain_default donation_btn weui_btn_disabled js-showActionDonation">直接捐赠</a>
      </div>
    </div>
    <div class="content_header">
       <p>天下良品</p>
    </div>
    <div class="content">
      <%	if @products&& @products.count>0%>
          <% @products.each do |pro|%>
             <div class="product">
                  <div class="product_img">
                      <%	if pro.picture  %>
                        <%= cl_image_tag pro.picture, width: 380, height: 380, crop: :fill %>
                        <%else %>
                            <img src="#" style="width: 380px; height: 380px;">
                        <%end%>
                      <div class="price"><p><i class="price_icon">￥</i><i class="money"><%= long_price(pro.total_price) %></i><i class="dw"></i></p>
                        <!--<p class="pin_flag">拼团省￥7</p>-->
                      </div>
                      <i class="supporters">累计<%=pro.orders_count %>人支持</i>
                  </div>
                   <div class="product_des">
                       <h2><a href="<%=shop_product_weixin_pay_path("procamp_#{@campaign.slug}_#{pro.id}")%>"><%=pro.name%></a></h2>
                     <%	if pro.tags%>
                       <p class="f24 c9">
                         <% pro.tags.each_with_index do |tag,index|%>
                             <%= tag.name if index==0 %>
                             <%=  " | #{tag.name}" if index>0 %>
                         <%end%>
                       </p>
                       <p class="ptag f24"></p>
                     <%end%>
                   </div>
             </div>
          <%	end %>
          <%	end %>
      <!--<div class="product">-->
        <!--<div class="product_img">-->
          <!--<img src="https://res-2.cloudinary.com/jli/image/upload/c_fill,h_400,w_400/v1460365367/u2ypuvoy5ise9w1sguls.jpg">-->
          <!--<div class="price"><p><i class="price_icon">￥</i><i class="money">9.9</i><i class="dw"></i></p>-->
            <!--&lt;!&ndash;<p class="pin_flag">拼团省￥7</p>&ndash;&gt;-->
          <!--</div>-->
          <!--<i class="supporters">累计90人支持</i>-->
        <!--</div>-->
        <!--<div class="product_des">-->
          <!--<h2><a href="#">［麦淘微课堂］让孩子轻松上小学！|幼小衔接微课堂</a></h2>-->
          <!--<p class="f24 c9">中国 | 3月23日 可选 | 0-12岁</p><p class="ptag f24"></p>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="product">-->
        <!--<div class="product_img">-->
          <!--<img src="https://res-3.cloudinary.com/jli/image/upload/c_fill,h_400,w_400/v1460365333/w2egkycdvgenfyqrx94w.jpg">-->
          <!--<div class="price">-->
            <!--&lt;!&ndash;<p><i class="price_icon">￥</i><i class="money">9.9</i><i class="dw"></i></p>&ndash;&gt;-->
            <!--<p class="pin_flag">已结束</p>-->
          <!--</div>-->
          <!--<i class="supporters">累计390人支持</i>-->
        <!--</div>-->
        <!--<div class="product_des">-->
          <!--<h2><a href="#">［麦淘微课堂］让相机听你的！爸妈摄影师系列公开课</a></h2>-->
          <!--<p class="f24 c9">中国 | 3月23日 可选 | 0-12岁</p><p class="ptag f24"></p>-->
        <!--</div>-->
      <!--</div>-->
    </div>
  <%= render "shop/goods_footer"%>
  <div id="actionSheet_wrap">
    <div class="weui_mask_transition" id="mask_input" style="display: none;"></div>
    <div class="weui_actionsheet" id="weui_actionsheet_input">
      <div style="background-color: white;">
        <div class="orders"  style="height: 40px;">
          <div class="weui_cell_bd weui_cell_primary" style="
          margin-top: 6px;
          ">
            <p style="
            font-size: 16px;
            ">捐款金额</p>
          </div>

          <div class="orders_des">
            <p class="" style="    padding-left: 5px;"></p>

          </div>
          <div class="cancel-img" id="actionsheet_cancel_input"></div>

        </div>
        <hr class="with-margin">
        <div id="personal_modalbody">
          <table style="width:100%;margin-top: 15px;margin-bottom: 10px;">
            <tr>
              <td style="padding:0px 5px; text-align:center; width:33%;  ">
                <a href="javascript:void(0);" data-value="5" style="   border-color: #999;" class="weui_btn weui_btn_plain_primary">5<span>元</span></a>
              </td>
              <td style="padding:0px 5px; text-align:center; width:33%; ">
                <a href="javascript:void(0);" data-value="10" style="   border-color: #999;" class="weui_btn weui_btn_plain_primary">10<span>元</span></a>
              </td>
              <td style="padding:0px 5px; text-align:center; width:34%; ">
                <a href="javascript:void(0);" data-value="20" style="   border-color: #999;" class="weui_btn weui_btn_plain_primary">20<span>元</span></a>
              </td>
            </tr>
          </table>
          <div class="weui_cell" style="padding-top: 0px;
              padding-bottom: 0px;

              margin-top: 5px;">
            <div class="weui_cell_hd" style="padding-right: 5px;"><label class="weui_label">金额</label></div>
            <div class="weui_cell_bd weui_cell_primary">
              <input class="weui_input" id="direct_donation_input" type="input"  placeholder="输入捐款金额">
              <%= hidden_field_tag :donation_add, "" %>
            </div>
          </div>
        </div>
      </div>
      <div class="weui_actionsheet_action" style="    padding:5px 10px;">
        <a href="javascript:void(0);" id="btn_submit1" style="background-color: rgb(241, 90, 12); color:white;" class="weui_btn weui_btn_warn">确 定</a>
      </div>
    </div>
  </div>
</div>


<script>
  $(function(){
     window.product.donation_input_show();
    ///
    $(".product").bind('click',function(){
        window.location.href=$(this).find(".product_des").find("a").prop("href");
    });
    ///
    if (typeof WeixinJSBridge == "undefined") {
      if (document.addEventListener) {
        document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
      } else if (document.attachEvent) {
        document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
        document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
      }
    } else {
      onBridgeReady();
    }

    function onBridgeReady() {
      if ("<%= @weixin_init_success %>" == "true") {


        bing_submit_click();

      } else {
        alert("系统忙，请刷新页面再试。");
      }
    }
    function bing_submit_click()
    {
      $('#btn_submit1').one("click",function(){
        $("#actionsheet_cancel_input").click();

        submit_click();
      });
    }
    function submit_click() {
      var url = "<%=campaign_ngo_confirmation_weixin_path%>";
      var direct_donation = $("#direct_donation_input").val();
      if(direct_donation.length<1)
      {
        direct_donation = $("#donation_add").val();
      }
      if (direct_donation.length <= 0) {
        alert("请输入捐款金额。");
        return;
      }

      $('#btn_submit1').prop('disabled', true);
      $.ajax(url, {
        type: 'POST',
        data: {direct_donation:direct_donation,campaign_id:<%=@campaign.id%>},
        beforeSend: function (jqXHR, settings) {
          jqXHR.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
        },
        success: function (data, textStatus, jqXHR) {
          if (data.error_msg != "") {
            alert(data.error_msg);
          } else {
//              alert(data.order_id);
            weixin_load(data.order_id);
          }
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
          alert("请求已经结束但是可能发生了错误！");
          bing_submit_click();
          $('#btn_submit1').prop('disabled', false);
        }
      });

    }
    function weixin_load(order_id) {
//      alert(order_id);

      $.ajax({
        method: "get",
        url: "/weixin_payment_get_req/" + order_id,
        dataType: "json",
        cache: false,
        success: function (d) {
//            alert(33333);
//            alert(d);
          if (d) {
//              alert("  "+ d.appId+"  "+ d.timeStamp+"  "+ d.nonceStr+"  "+ d.package+"  "+ d.paySign);
            WeixinJSBridge.invoke('getBrandWCPayRequest', {
              "appId": d.appId,     //公众号名称，由商户传入
              "timeStamp": d.timeStamp,         //时间戳，自1970年以来的秒数
              "nonceStr": d.nonceStr, //随机串
              "package": d.package,
              "signType": "MD5",         //微信签名方式:
              "paySign": d.paySign //微信签名
            }, function (res) {
//                alert(res.err_msg);
//            alert(res.err_code + res.err_desc + res.err_msg);
              if (res.err_msg == "get_brand_wcpay_request:ok") {
                ComfirmOrder(order_id);
              } else {
                bing_submit_click();
                $('#wechat').prop('disabled', false);
              }
            });
          }
          else {
            bing_submit_click();
            $('#wechat').prop('disabled', false);
          }
        },
        error:function(XMLHttpRequest, textStatus, errorThrown) {
//            alert(XMLHttpRequest.status);
//            alert(XMLHttpRequest.readyState);
//            alert(textStatus);
          bing_submit_click();
          $('#wechat').prop('disabled', false);
        },
        complete: function () {
//            alert(1111);
        }
      });

    }

    function ComfirmOrder(order_id) {

      var order_make_anonymous = false;
      var fullName = $("#fullname").val();

      if (fullName == "") {
        fullName = "匿名";
        order_make_anonymous = true;
      }

      var avatar_url = $("#avatar_url").val();
      var order_time = new Date();
      var format_order_time = order_time.getFullYear() + "年" + (order_time.getMonth() + 1) + "月" + order_time.getDate() + "日 " + order_time.getHours() + ":" + order_time.getMinutes() + ":" + order_time.getSeconds();

      var data = {
        order_id: order_id,
        order_make_anonymous: order_make_anonymous,
        format_order_time: format_order_time,
        fullName: fullName,
        avatar_url: avatar_url
      };

      $.ajax('/ajax/update-order', {
        type: 'POST',
        data: data,
        beforeSend: function (jqXHR, settings) {
          jqXHR.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
        },
        success: function (data) {
          var local_url;
          <% if @campaign.slug=="lb1001"%>
          local_url="/checkout/xyetjk";
          <% elsif @campaign.slug=="lb1002"%>
          local_url="/checkout/lbxgy";
          <% elsif @campaign.slug=="lb1003"%>
          local_url="/checkout/lbflower";
          <% elsif @campaign.slug=="gs1001"%>
          local_url="/checkout/shgs";
          <% else %>
          local_url= "/campaign_<%=@campaign.id%>";
          <%end%>
          window.location.href = local_url+"?order_id="+order_id;
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
          alert("抱歉，更新订单时出了问题，请联系我们帮您解决。");
        }
      });

    }
  });

</script>
<% if @sign_package %>
    <script>
      var imgurl="";
      <% if @campaign.logo&&@campaign.logo.include?("upload") %>
      imgurl='<%=request.original_url+@campaign.logo+"?id=#{rand(100)}"%>';
      <% elsif @campaign.campaign_logo %>
      imgurl=" <%= cl_image_path @campaign.campaign_logo.image_id,
                       transformation: [
                           {
                               width: @campaign.campaign_logo.crop_width,
                               height: @campaign.campaign_logo.crop_height,
                               x: @campaign.campaign_logo.crop_x,
                               y: @campaign.campaign_logo.crop_y,
                               crop: :crop
                           }
                       ] %>"
      <%else%>
      imgurl="";
      <%end%>


      window.shareData = {
        appid: "<%= ENV['WEIXIN_APPID'] %>",
        link:  '<%= request.original_url %>',
        img_url: imgurl,
        img_width: "415",
        img_height: "399",
        desc: "<%= @campaign.organizer_quote%>",
        title: "<%= @campaign.title%>"
      };

      wx.config({
        debug: false,
        appId: "<%= @sign_package['appId'] %>",
        timestamp: "<%= @sign_package['timestamp'] %>",
        nonceStr: "<%= @sign_package['nonceStr'] %>",
        signature: "<%= @sign_package['signature'] %>",
        jsApiList: [
          'onMenuShareTimeline',
          'onMenuShareAppMessage',
          'onMenuShareQQ',
          'onMenuShareWeibo'
        ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
      });

      wx.ready(function () {

        var title = shareData.title;
        var desc = shareData.desc;
        var link = shareData.link;
        var imgUrl = shareData.img_url

        wx.onMenuShareTimeline({
          title: title, // 分享标题
          desc: desc, // 分享描述
          link: link, // 分享链接
          imgUrl: imgUrl, // 分享图标
          trigger: function () {

          },
          success: function () {
            // 用户确认分享后执行的回调函数

          },
          cancel: function () {
            // 用户取消分享后执行的回调函数
          }
        });

        wx.onMenuShareAppMessage({
          title: title, // 分享标题
          desc: desc, // 分享描述
          link: link, // 分享链接
          imgUrl: imgUrl, // 分享图标
          // type: 'link', // 分享类型,music、video或link，不填默认为link
// 	    dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
          trigger: function () {
          },
          success: function () {
            // 用户确认分享后执行的回调函数

          },
          cancel: function () {
            // 用户取消分享后执行的回调函数
          }
        });

        wx.onMenuShareQQ({
          title: title, // 分享标题
          desc: desc, // 分享描述
          link: link, // 分享链接
          imgUrl: imgUrl, // 分享图标
          trigger: function () {
          },
          success: function () {
            // 用户确认分享后执行的回调函数

          },
          cancel: function () {
            // 用户取消分享后执行的回调函数
          }
        });

        wx.onMenuShareWeibo({
          title: title, // 分享标题
          desc: desc, // 分享描述
          link: link, // 分享链接
          imgUrl: imgUrl, // 分享图标
          trigger: function () {
          },
          success: function () {
            // 用户确认分享后执行的回调函数

          },
          cancel: function () {
            // 用户取消分享后执行的回调函数
          }
        });

      });

      wx.error(function (res) {

        // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
        alert(res.errMsg);
      });
    </script>
<% end %>