<div id="settings" style="padding: 30px 0">
    <div class="container">

        <div class="row"> 
        	<h3>默认设置</h3> 
        </div>
		
		<div class="row">&nbsp;
		</div>
		
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-3" style="margin-bottom:20px;">
				<%= link_to '默认筹款故事', "/admin/campaign_stories", class: 'btn btn-primary btn-block btn-lg' %>
			</div>
			<div class="col-md-3" style="margin-bottom:20px;">
				<%= link_to '默认筹款封面', "/admin/campaign_images", class: 'btn btn-primary btn-block btn-lg' %>
			</div>
			<div class="col-md-3" style="margin-bottom:20px;">
				<%= link_to '默认销售邮件', "/admin/default_email_message", class: 'btn btn-primary btn-block btn-lg' %>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-4" style="margin-bottom:20px;">
				<%= link_to '默认组织者邮件', "/admin/default_chairperson_email_message", class: 'btn btn-primary btn-block btn-lg' %>
			</div>
      <div class="col-md-4" style="margin-bottom:20px;">
        <%= link_to '标签设置',admin_tags_path, class: 'btn btn-primary btn-block btn-lg' %>
      </div>
		</div>
		
		<div class="row">&nbsp;
		</div>
		
		<div>
			<%= link_to '返回', admin_root_path, class: 'btn btn-primary btn-lg' %>
		</div>
	</div>
</div>