
<%= form_for([:admin, @product], html: {class: "product_form"}) do |f| %>
    <fieldset>

      <div class="row">
        <div class="col-md-12">

          <div class="well">
            <div class="row">
              <div class="col-md-12">
                <label for="product_name">商品名称</label>
                <%= f.text_field :name, class: 'form-control', placeholder: '名称' %>
              </div>
            </div>
          </div>
          <div class="well">
            <div class="row">
              <div class="col-md-12">
                <label for="product[product_category_id]">商品类别</label>
                <select class="form-control input-small" id="select_product_category_id" name="product[product_category_id]">
                  <option value="">-- 请选择 --</option>
                  <% ProductCategory.showroot.each do |p| %>
                      <option value="<%= p.id %>"  <%= f.object.product_category_id == p.id ? 'selected' : '' %>><%= p.name %></option>
                  <% end %>
                </select>
              </div>
              <div class="col-md-12">
                <label for="product[pro_cat_subclass_id]">子类别</label>
                <select class="form-control input-small" id="pro_cat_subclass_id" name="product[pro_cat_subclass_id]">
                  <option value="">-- 请选择 --</option>
                  <% if f.object.product_category %>
                      <% f.object.product_category.product_categories.is_active.each do |p| %>
                          <option value="<%= p.id %>"  <%= f.object.pro_cat_subclass_id == p.id ? 'selected' : '' %>><%= p.name %></option>
                      <% end %>
                  <% end %>
                </select>
              </div>
            </div>
          </div>
          <div class="well">
            <div class="row">
              <div class="col-md-12">
                <label>商品标签</label>

                <div class="inline">

                  <div id="tags_add" class="tags">
                    <%  @product.tags.each do |tag| %>
                        <span class="tag"><%= tag.name %><button type="button" class="close">×</button></span>
                        <input class="product_tag_id" type="hidden" value="<%=tag.id%>">
                    <% end %>
                    <!--<span class="tag">Tag Input Control<button type="button" class="close">×</button></span>-->
                    <!--<span class="tag">Programmatically Added<button type="button" class="close">×</button></span>-->
                    <!--<span class="tag">Texas<button type="button" class="close">×</button></span>-->
                    <!--<input type="text" name="tags" id="form-field-tags" value="Tag Input Control" placeholder="Enter tags ..." style="display: none;">-->
                    <!--<input type="text" placeholder="Enter tags ...">-->
                    <!--<ul class="typeahead dropdown-menu" style="top: 86px; left: 19px; display: none;">-->
                    <!--<li data-value="Tennessee" class=""><a href="#"><strong>T</strong>ennessee</a></li>-->
                    <!--<li data-value="Texas" class="active"><a href="#"><strong>T</strong>exas</a></li>-->
                    <!--<li data-value="Connecticut" class="">-->
                    <!--<a href="#">Connec<strong>t</strong>icu<strong>t</strong></a></li>-->
                    <!--<li data-value="Kentucky"><a href="#">Ken<strong>t</strong>ucky</a></li>-->
                    <!--<li data-value="Massachusetts"><a href="#">Massachuse<strong>t</strong><strong>t</strong>s</a>-->
                    <!--</li>-->
                    <!--<li data-value="Minnesota"><a href="#">Minneso<strong>t</strong>a</a></li>-->
                    <!--<li data-value="Montana"><a href="#">Mon<strong>t</strong>ana</a></li>-->
                    <!--<li data-value="North Dakota"><a href="#">Nor<strong>t</strong>h Dako<strong>t</strong>a</a></li>-->
                    <!--</ul>-->
                    <input type="hidden" id="product_tags" name="product_tags" value="">
                  </div>

                </div>
                <div class="input-group" style="margin-top: 10px;">
                  <input id="tags_name_input" class="form-control" placeholder="输入标签..." type="text">

                  <div class="input-group-btn">
                    <button id="tags_search" type="button" class="btn btn-default">添加标签</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div id="sarch_tagsdate"></div>
              </div>
            </div>
          </div>
          <div class="well">
            <div class="row">
              <div class="col-md-12">
                <label>商品描述</label>
                <%= f.text_area :description, class: 'tinymce', placeholder: '描述' %>
              </div>
            </div>
          </div>

          <div class="well">
            <div class="row">
              <div class="col-md-12">
                <label>商品图片 <span style="font-weight: normal">(最佳尺寸: 280*280像素)</span></label>

                <div class="row">
                  <div class="col-md-6">
                    <div class="image-uploader">
                      <div id="drop-zone" class="drop-zone">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="upload-button-holder" style="position: relative">
                              <a class="btn btn-default btn-block upload-button">上传图片</a>
                              <%= cl_image_upload_tag(:product_image, tags: Rails.env, html: {accept: "image/*"}) %>
                              <a href="#" class="remove-image" style="display:none">Remove picture</a>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <p class="drop-text"><!-- ...or drop image here --></p>
                          </div>
                        </div>
                      </div>
                      <div class="progress progress-striped active" style="display: none;">
                        <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%; text-align: right; padding-right: 5px;">
                          <span>0%</span>
                        </div>
                      </div>
                      <span class="status"></span>

                      <div class="preview">
                        <% if f.object.picture.present? %>
                            <%= cl_image_tag f.object.picture, width: 97, height: 94, crop: :limit, class: 'img-responsive' %>
                        <% else %>
                            <%= image_tag 'default_upload_logo.gif' %>
                        <% end %>
                      </div>
                      <div class="remove-preview" style="margin-top:10px; display:<%= f.object.picture.present? ? 'block' : 'none' %>;" data-default-url="<%= asset_path 'default_upload_logo.gif' %>">
                        <%= hidden_field_tag :remove_item_image, "no" %>

                        <button class="btn btn-primary" type="button" style="width:94px;"><span class="text">删除</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="well">
            <div class="row">
              <div class="col-md-12">
                <label>更多图片 <span style="font-weight: normal">(最佳尺寸: 280*280像素)</span></label>
              </div>
            </div>
            <div style="padding:20px; width:300px;">
              <label for="upload_product_more_photo" class="btn btn-default btn-block">上传图片</label>
              <input id="upload_product_more_photo" name="photo_upload" type="file" accept="image/*" data-url="/upload/product_photo" style="width:0px; height:0px; visibility:hidden;">

              <div style="text-align:center; margin-top:10px;">
                <span class="product-photo-status"></span>
              </div>
            </div>
            <div id="product_more_photo_container" style="position:relative;">
              <% f.object.more_photo.each do |photo| %>
                  <div class="product-more-photo" data-public-id="<%= photo.public_id %>" style="float:left; margin-right:20px; position:relative; width:100px;">
                    <%= cl_image_tag photo.public_id, width: 97, height: 94, crop: :limit, class: 'img-responsive' %>
                    <div onclick="$(this).closest('.product-more-photo').remove();" style="position:absolute; top:-5px; right:1px; cursor:pointer;">
                      <span class="glyphicon glyphicon-remove"></span></div>

                    <input type="hidden" name="more_photo_public_id[]" value="<%= photo.public_id %>">
                  </div>
              <% end %>
            </div>
            <div style="clear:both;"></div>
          </div>

          <div class="well">
            <div class="row">
              <div class="col-md-12">
                <label>原价</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 col-sm-4">
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <%= f.text_field :original_price, value: long_price(f.object.original_price), class: 'form-control', placeholder: "原价", maxlength: 10 %>
                </div>
              </div>
            </div>
            <label for="product_original_price" class="error" style="display: none"></label>
          </div>

          <div class="well">
            <div class="row">
              <div class="col-md-12">
                <label>售价</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 col-sm-4">
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <%= f.text_field :base_price, value: long_price(f.object.base_price), class: 'form-control', placeholder: "售价", maxlength: 10 %>
                </div>
              </div>
            </div>
            <label for="product_base_price" class="error" style="display: none"></label>
          </div>

          <div class="well">
            <div class="row">
              <div class="col-md-12">
                <label>捐款金额</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 col-sm-4">
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <%= f.text_field :default_donation_amount, value: long_price(f.object.default_donation_amount), class: 'form-control', placeholder: "捐款", maxlength: 10 %>
                </div>
              </div>
            </div>
            <label for="product_base_price" class="error" style="display: none"></label>
          </div>

          <div class="well">
            <div class="row">
              <div class="col-md-12">
                <label>数量</label>

                <div class="checkbox" style="margin-top: 5px;">
                  <label for="product_show_quantity">
                    <%= f.check_box :show_quantity %>可选择购买数量
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="well">
            <div class="row">
              <div class="col-md-12">
                <label>配送方式</label>

                <div class="checkbox" style="margin-top: 5px;">
                  <label for="product_fulfillment_method_1">
                    <%= f.radio_button :fulfillment_method, "1" %> 电子邮件
                  </label>
                </div>
                <div class="checkbox" style="margin-top: 5px;">
                  <label for="product_fulfillment_method_2">
                    <%= f.radio_button :fulfillment_method, "2" %> 快递
                  </label>
                </div>
                <div class="checkbox" style="margin-top: 5px;">
                  <label for="product_fulfillment_method_3">
                    <%= f.radio_button :fulfillment_method, "3" %> 团队发货
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="well">
            <div class="row">
              <div class="col-md-12">
                <label for="product_vendor_id">供应商</label>
                <select class="form-control input-small" id="product_vendor_id" name="product[vendor_id]">
                  <option value="">-- 请选择 --</option>
                  <% Vendor.active.each do |vendor| %>
                      <option value="<%= vendor.id %>" <%= f.object.vendor_id == vendor.id ? 'selected' : '' %>><%= vendor.name %></option>
                  <% end %>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                &nbsp;
              </div>
            </div>

            <% if f.object.need_check_inventory %>
                <div class="row">
                  <div class="col-xs-3">
                    <label>Available Quantity</label>
                  </div>
                  <div class="col-xs-4">
                    <span><%= f.object.qty_available if f.object.inventory_last_update_time %></span>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-3">
                    <label>Inventory Last Update Date</label>
                  </div>
                  <div class="col-xs-4">
                    <span><%= f.object.inventory_last_update_time.strftime('%b %-d, %Y') if f.object.inventory_last_update_time %></span>
                  </div>
                </div>
            <% end %>

            <div class="row">
              <div class="col-md-12">
                <label for="product_sku">识别码</label>
                <%= f.text_field :sku, class: 'form-control', maxlength: 20, placeholder: "识别码" %>
              </div>
            </div>
          </div>

          <div class="well">
            <input id="product_collection_id" name="product_collection_id" type="hidden"/>
            <input id="product_category_id" name="product_category_id" type="hidden"/>

            <div class="row" style="margin-bottom:10px;">
              <div class="col-sm-4">
                <label>组合</label>
              </div>
              <div class="col-sm-2">
                <label>分类</label>
              </div>
              <div class="col-sm-1">
                <a data-toggle="modal" href="<%= admin_product_collections_path(f.object.id.nil? ? 0 : f.object.id) %>" data-target="#collection_modal">编辑</a>
              </div>
            </div>

            <% categories=f.object.categories.all %>
            <% f.object.collections.each do |collection| %>
                <div class="row" style="margin-bottom:10px;">
                  <div class="col-sm-4">
                    <span class="init-prod-collection" data-value="<%= collection.id %>"><%= collection.name %></span>
                  </div>
                  <div class="col-sm-6">
                    <span class="init-prod-category" data-value="<%= categories.select { |c| c.collection_id==collection.id }.map { |c| c.id.to_s }.join(",") %>"><%= categories.select { |c| c.collection_id==collection.id }.map { |c| c.name }.join(", ") %></span>
                  </div>
                </div>
            <% end %>
          </div>

          <div class="well">
            <div class="row">
              <div class="col-md-12">
                <label for="product_is_featured">
                  <%= f.check_box :is_featured %>&nbsp;&nbsp;是否义卖
                </label>
              </div>
            </div>
          </div>

          <% if !@product.id.nil? %>
              <div class="well">
                <div class="row">
                  <div class="col-md-12">
                    <label>选项组</label>

                    <% option_group = @product.option_groups.active.first %>

                    <% if option_group %>
                        <div class="table-responsive">
                          <table class="table">
                            <thead>
                            <th>名称</th>
                            <th>描述</th>
                            <th>必选</th>
                            <th></th>
                            <th></th>
                            </thead>
                            <tbody>
                            <tr>
                              <td><%= option_group.name %></td>
                              <td><%= option_group.instructions %></td>
                              <td>
                                <% if option_group.required %>
                                    <span class="glyphicon glyphicon-ok"></span>
                                <% end %>
                              </td>
                              <td>
                                <%= link_to "编辑", admin_product_edit_option_group_path(@product) %>
                              </td>
                              <td>
                                <%= link_to "删除", admin_product_delete_option_group_path(@product), method: :delete, data: {confirm: "您确定要删除该选项吗?"} %>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                    <% else %>
                        <div style="margin-top:10px;">
                          <%= link_to "添加选项组", admin_product_edit_option_group_path(@product), class: "btn btn-primary" %>
                        </div>
                    <% end %>
                  </div>
                </div>
              </div>
          <% end %>

        </div>
      </div>

      <button id="collection-form-submit" class="btn btn-primary" name="commit" type="submit">
        <span class="text">保存 </span> <span class="loader" style="display:none"></span>
      </button>

    </fieldset>

    <div id="collection_modal" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="collection_modal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
        </div>
      </div>
    </div>
<% end %>
<script language="javascript" type="text/javascript">
  $(function () {

    load_search_tags();

    $("#tags_search").click(function () {
      load_search_tags();
//       add_tag_ajax();
    });

    //查询标签并显示到指定位置
    function load_search_tags() {
      var url = '<%= admin_tags_search_ajax_path%>';
      var tag_name = $("#tags_name_input").val();

      $.post(url, {tag_name: tag_name}).success(function (data, textStatus, jqXHR) {
        $("#sarch_tagsdate").html(data);
        bind_click_add();
        bind_delete_click();
        bind_click_remove();
        refresh_tags_status();
      }).error(function () {
        alert("请求已经结束但是可能发生了错误！");
      }).complete(function () {
//        $("div.all_report_loader").hide();
      });
    }
    function  bind_delete_click()
    {
      $("#sarch_tagsdate button.close").bind('click', function(){
//          alert("删除");

        var atag=$(this).parent().parent();
        if(confirm("其他商品中此标签也将会被删除！"))
        {
          var url = '<%= admin_tags_ajax_delete_path%>';
          var tag_id = $(this).attr("data-id");
          $.post(url, {tag_id: tag_id}).success(function (data, textStatus, jqXHR) {
            $(atag).remove();
            var as = $("#tags_add input.product_tag_id").each(function () {
               if( $(atag).attr("data-id")==$(this).val())
               {
                 $(this).prev("span.tag").remove();
                 $(this).remove();
               }
            });
          }).error(function () {
            alert("请求已经结束但是可能发生了错误！");
          }).complete(function () {
        $("div.all_report_loader").hide();
          });
        }
        return false;
      });
    }
//为查询出来的标签添加clikc事件
    function bind_click_add() {
      $("#sarch_tagsdate a").bind('click', function(){
        on_click_fun(this);
      });
    }
    //标签click事件的处理函数
    function  on_click_fun(a)
    {

      $("#tags_add").append("<span class=\'tag\'>" + $(a).find("span").attr("data-value") + "<button type=\'button\' class=\'close\'>×</button></span>");
      $("#tags_add").append("<input type=\"hidden\" class=\"product_tag_id\" value=\"" + $(a).attr("data-id") + "\">");

      bind_click_remove();
      refresh_tags_status();
    }
//为已添加的标签bind移除click
    function bind_click_remove() {
      $("#tags_add button.close").click(function () {
        check_has_bind_add($(this).parent("span.tag").next("input").val());

        $(this).parent("span.tag").next("input").remove();
        $(this).parent("span.tag").remove();
        refresh_tags_status();
      });
    }
//遍历已添加的标签，把已经添加的标签禁用，并统计已经添加的标签id
    function refresh_tags_status() {
      var values_all="";
      var as = $("#tags_add input.product_tag_id").each(function () {
//        alert($(this).val());
        check_has_unbind_add($(this).val());
        values_all+=","+$(this).val();
      });
      if(values_all.length>0)
      {
        values_all= values_all.slice(1);
      }
      $("#product_tags").val(values_all);

    }
//检查如果标签已经存在就移除click 并改变标签颜色
    function check_has_unbind_add(tag_id) {
      var flag = false;
       $("#sarch_tagsdate a").each (function () {
        if ($(this).attr("data-id") == tag_id) {
//         alert($(this).attr("data-id")+":"+tag_id);
          $(this).unbind("click");
          $(this).find("span").css('background-color', 'silver');
          flag = true;
        }
      });
      return flag;
    }
    //如果已经添加的标签被删除 把禁用状态取消
    function check_has_bind_add(tag_id) {
       $("#sarch_tagsdate a").each (function () {
        if ($(this).attr("data-id") == tag_id) {
          $(this).find("span").css('background-color', '#91b8d0');
          $(this).unbind("click").bind("click", function(){
            on_click_fun(this);
          });
        }else {

        }
      });

    }
  });
</script>

