<style>
  .orders-table-items {
    border: 0px solid white;
  }

  .orders-table-items tbody tr td {
    border: none;
    border-left: 1px solid #dddddd;
  }
   .orders-table-tfoot{
    border: none;
    border-bottom: 1px solid #dddddd;
  }
</style>

<table class="table table-hover table-bordered">
  <thead>
  <tr>
    <th>订单编号</th>
    <th>订单时间</th>
    <th>下单用户</th>
    <th style="width: 150px;">产品名称</th>
    <th style="width: 100px;">购买数量</th>
    <th style="width: 100px;">物流状态</th>
    <th>支付金额</th>
  </tr>
  </thead>
  <tbody>
  <% @results.each do |order| %>
      <tr>
        <td>
          <% if order.donation_only?||true %>
              <%= order.id %>
          <% else %>
              <a onclick="Raisy.chairperson_dashboard.show_order_detail(this);" data-url="<%= dashboard_campaign_order_path(@campaign, order.id) %>" style="cursor:pointer;">
                <%= order.id %></a>
          <% end %>

        </td>
        <td style="white-space:nowrap;">
          <%= order.updated_at.localtime.strftime('%Y-%m-%d %H:%M:%S') %>
        </td>
        <td><%= order.fullname %></td>

        <td colspan="3" style=" padding: 0px;vertical-align: middle;">
          <% if order.items&&order.items.count>0 %>
              <table class="table table-hover table-bordered orders-table-items" border="0" style="margin-bottom: 0px;">
                <% order.items.each_with_index do |item,index| %>
                    <%	if index >0 %>
                        <tr style="border-top: 1px solid #dddddd;">
                    <%	else %>
                    <tr>
                      <%	end %>
                      <td style="width: 150px; border-left: none;">
                         <span><%= item.product.name if item.product %>

                           <% item.options.each do |option| %>
                            <% if option.value.present? %>
                                   (<%= "#{option.value}" %>)
                            <% end %>
                        <% end %>
                         </span>
                      </td>
                      <td style="width: 100px; text-align: center;">
                        <%= item.quantity %>
                      </td>
                      <td style="width: 100px; ">
                        <%= item.delivery_status_text_cn %>
                      </td>
                    </tr>
                <% end %>
              </table>
          <% else %>
              <p style="text-align: center;height: 100%;vertical-align:middle;margin-bottom: 0px;"> 直接捐赠</p>
          <% end %>
        </td>
        <!--<td><%= order.email %></td>-->

        <!--<td><%= order.seller.user_profile.fullname if order.seller %></td>-->
        <!--<td><%= %></td>-->
        <td>￥<%= long_price(order.grandtotal.to_f/100) %></td>
      </tr>

  <% end %>
  </tbody>
  <tfoot >
  <tr>
    <td style="border-left: none;border-right: none;"></td>
    <td style="border-left: none;border-right: none;"></td>
    <td style="border-left: none;border-right: none;">订单总数：<%=@total%> </td>
    <td style="border-left: none;border-right: none;"></td>
    <td style="border-left: none;border-right: none;"></td>
    <td style="border-left: none;border-right: none;"></td>
    <td style="border-left: none;border-right: none;">支付总额：￥<%= short_price(@saled_count) %></td>
  </tr>
  </tfoot>
</table>

<div id="page_pager" style="text-align:center;"><%= paginate @results if @results %></div>