<div style="display:none;">report_content</div>
<table class="table">
    <thead>
        <tr>
			<th>Order ID</th>
            <th>Order Date</th>
            <th>Name</th>
            <th>Email</th>
            <th>Quantity-Products</th>
            <th>Total Paid</th>
            <th>Seller Name</th>
        </tr>
    </thead>
	<tbody>
		<% if @campaigns && @orders %>
			<% total_rows=0 %>
			<% total_paid=0 %>
			
			 
			<% @orders.each do |order| %>
					<% total_rows+=1 %>
					<% paid=order.grandtotal.to_f %>
					<% total_paid+=paid %>
	        <tr>
						<td>
							<% if order.donation_only? %>
								<%= order.id %>
							<% else %>
								<a onclick="Raisy.chairperson_dashboard.show_order_detail(this);" data-url="<%= dashboard_campaign_order_path(@campaigns[@campaigns.index{|campaign| campaign.id==order.campaign_id}], order.id) %>" style="cursor:pointer;">
									<%= order.id %></a>
							<% end %>
						</td>
            <td style="white-space:nowrap;">
							<%= order.created_at.strftime('%b %-d, %Y') %>
						</td>
	          <td><%= order.fullname %></td>
	          <td><%= order.email %></td>
	          <td>
							<ul style="list-style-type:none;padding:0px;margin:0px;">
								<% order.items.each do |item| %>
									<li style="margin-bottom:5px;">
										<%= item.quantity %>-<%= item.product.name if item.product %>
										<% item.options.each do |option| %>
											<% if option.value.present? %>
												<p style="margin:0;"><i><%= "#{option.option_group.name}: #{option.value}" %></i></p>
											<% end %>
										<% end %>
									</li>
								<% end %>
							</ul>
            </td>
	          <td>$<%= long_price(paid/100) %></td>
	          <td><%= order.seller.user_profile.fullname if order.seller %></td>
	        </tr>
		  <% end %>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<th style="text-align:right;">Total</th>
				<th>$<%= long_price(total_paid/100) %></th>
				<td></td>
			</tr>
		<% end %>
	</tbody>
</table>