<%= javascript_include_tag "kindeditor/kindeditor.js",charset:"utf-8" %>
<%= form_for(@campaign, html: {id: "campaign_form", class: 'campaign-form form-horizontal'}) do |f| %>
    <%= hidden_field_tag :campaign_mode, @campaign_mode %>
    <%= hidden_field_tag :campaign_logo %>
    <%= hidden_field_tag :logo_crop_x, "0" %>
    <%= hidden_field_tag :logo_crop_y, "0" %>
    <%= hidden_field_tag :logo_crop_w, "622" %>
    <%= hidden_field_tag :logo_crop_h, "414" %>
    <%= hidden_field_tag :auth_provider, "raisy" %>
    <%= hidden_field_tag :auth_uid, "" %>
    <%= hidden_field_tag :campaign_new_user, "1" %>
    <%= hidden_field_tag :campaign_photo_ids, "" %>
    <%= hidden_field_tag :campaign_id, @campaign.id.nil? ? -1 : @campaign.id %>

    <div id="social_result" style="display:none;"></div>

    <% if @collection %>
        <input class="form-control campaign-collection-id" id="campaign_collection_id" name="campaign[collection_id]" type="hidden" value="<%= @collection.id %>">
    <% else %>
        <input class="form-control campaign-collection-id" id="campaign_collection_id" name="campaign[collection_id]" type="hidden" value="">
    <% end %>

    <div class="step-nav-bar">
      <div id="step_nav_icon_1" class="step-nav-icon"></div>
      <div id="step_nav_icon_2" class="step-nav-icon step-nav-icon-gray"></div>
      <div id="step_nav_icon_3" class="step-nav-icon"></div>
      <div id="step_nav_icon_4" class="step-nav-icon"></div>
      <% if !@collection %>
          <div id="step_nav_icon_5" class="step-nav-icon"></div>
      <% end %>
      <div id="step_nav_icon_6" class="step-nav-icon"></div>
      <!-- <div id="step_nav_icon_7" class="step-nav-icon"></div>
      <div id="step_nav_icon_8" class="step-nav-icon"></div>
      <div id="step_nav_icon_9" class="step-nav-icon"></div> -->
    </div>
    <div class="clearfix" style="margin-top:20px;">
      <div id="step_container_1" class="camp-step-container">
        <div style="text-align:center;"><h3 class="fieldset-header">
          <span class="number">2</span>筹款页面摘要&nbsp;&nbsp;<span class="camp-step-qa-icon">?</span>
        </h3></div>
        <fieldset>
          <div class="form-group">
            <label for="organization_name" class="col-sm-2 control-label">组织<span class='req'>*</span></label>

            <div class="col-sm-10">
              <!-- organization_name actually saves organization id -->
              <input class="form-control" id="organization_name" name="organization_name" type="text">
              <!-- organization-name is the real field that stores organization name -->
              <input id="organization-name" name="organization[name]" style="display:none;">
            </div>
          </div>

          <div class="form-group">
            <label for="campaign_title" class="col-sm-2 control-label">筹款标题<span class='req'>*</span></label>

            <div class="col-sm-10">
              <%= f.text_field :title, class: 'form-control', placeholder: '比如：给古树系一条红丝带' %>
            </div>
          </div>

          <div class="form-group">
            <label for="campaign_title" class="col-sm-2 control-label">宣传标语</label>

            <div class="col-sm-10">
              <%= f.text_field :organizer_quote, class: 'form-control', placeholder: '比如：5元,可以买到六条红丝带，可能让六棵古树免遭挖掘机的迫害' %>
            </div>
          </div>

          <div class="form-group">
            <label for="campaign_goal" class="col-sm-2 control-label">目标</label>

            <div class="col-sm-8">
              <div style="width:200px;">
                <div class="input-group">
                  <span class="input-group-addon">￥</span>
                  <%= f.text_field :goal, class: 'form-control', placeholder: "比如：1000" %>
                </div>
                <label for="campaign_goal" class="error" style="display: none"></label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="campaign_goal" class="col-sm-2 control-label">善款接收方</label>

            <div class="col-sm-10">
              <%= f.text_field :receiver, class: 'form-control', placeholder: "比如：北京市昌平区多元智能环境研究所" %>
            </div>
          </div>
          <% if @campaign_mode == Campaign::Fundraising %>

              <div class="form-group" style="display: none;">
                <label for="campaign_seller_goal" class="col-sm-2 control-label">个人目标</label>

                <div class="col-sm-8">
                  <div style="width:200px;">
                    <div class="input-group">
                      <span class="input-group-addon">￥</span>
                      <%= f.text_field :seller_goal, class: 'form-control', placeholder: "比如：1000" %>
                    </div>
                    <label for="campaign_seller_goal" class="error" style="display: none"></label>
                  </div>
                </div>
              </div>

          <% else %>

              <div id="seller_compassion_goal" class="form-group" style="display: none;">
                <label for="campaign_seller_compassion_goal" class="col-sm-2 control-label">个人爱心目标</label>

                <div class="col-sm-8">
                  <div style="width:200px;">
                    <div class="input-group">
                      <%= f.text_field :seller_compassion_goal, class: 'form-control', placeholder: "比如：100" %>
                    </div>
                    <label for="campaign_seller_compassion_goal" class="error" style="display: none"></label>
                  </div>
                </div>

              </div>

          <% end %>

          <div class="form-group" style="margin-bottom: 10px; display: none;">
            <label for="display_seller_goal" class="col-sm-2 control-label" style="padding-top: 0px">显示个人筹款目标</label>

            <div class="col-sm-8">
              <div style="width:200px;">
                <%= f.check_box :display_seller_goal, checked: false %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="campaign_end_date" class="col-sm-2 control-label">筹款截止日期</label>

            <div class="col-sm-8">
              <div style="width:200px;">
                <%= f.text_field :end_date, placeholder: "选择日期", value: (@campaign.end_date.blank? ? '' : @campaign.end_date.strftime('%m/%d/%Y %H:%M %Z')), class: 'datepicker form-control' %>
                <label for="campaign_end_date" class="error" style="display: none"></label>
              </div>
            </div>
          </div>
          <br/>

          <div class="row web-box">
            <div class="col-sm-6 backbutton-box">
              <button class="btn btn-success btn-lg camp-back-btn" type="button" data-currentstep="1">
                <span class="text">取消</span>
              </button>
            </div>
            <div class="col-sm-6 continuebutton-box">
              <button class="btn btn-primary btn-lg camp-continue-btn" type="button" data-currentstep="1">
                <span class="text">继续</span> <span class="loader" style="display:none">
              </button>
            </div>
          </div>
          <div class="row mobile-box">
            <div class="col-sm-6 backbutton-box">
              <button class="btn btn-primary btn-lg camp-continue-btn" type="button" data-currentstep="1">
                <span class="text">继续</span> <span class="loader" style="display:none">
              </button>
            </div>
            <div class="col-sm-6 continuebutton-box">
              <button class="btn btn-success btn-lg camp-back-btn" type="button" data-currentstep="1">
                <span class="text">取消</span>
              </button>
            </div>
          </div>
        </fieldset>
      </div>

      <div id="step_container_2" class="camp-step-container" style="display:none;">
        <div style="text-align:center;">
          <h3 class="fieldset-header">
            <span class="number">3</span>告诉大家您的筹款故事&nbsp;&nbsp;<span class="camp-step-qa-icon">?</span></h3>
        </div>
        <fieldset>
          <div style="display:none;">
            <div id="example_story_1">
              <%= raw @example_story_1.story %>
            </div>
            <div id="example_story_2">
              <%= raw @example_story_2.story %>
            </div>
            <div id="example_story_3">
              <%= raw @example_story_3.story %>
            </div>
            <div id="example_story_4">
              <%= raw @example_story_4.story %>
            </div>
          </div>
          <div class="form-group descrption-box">
            <div>

              <%= f.kindeditor :description,:editor_id => 'my_editor'%>

              <div calss="row" style="margin-top:5px;margin-left: -15px;margin-right: -15px;">
                <div class="col-sm-6">
                  <div class="example-story example-story-selected" data-story="example_story_1">
                    <span><%= @example_story_1.title %></span>
                  </div>
                  <div style="clear:both;"></div>
                </div>
                <!--&lt;!&ndash;<div class="example-story-blank">&nbsp;</div>&ndash;&gt;-->
                <!--<div class="col-sm-5ths">-->
                  <!--<div class=" example-story" data-story="example_story_2">-->
                    <!--<span><%= @example_story_2.title %></span>-->
                  <!--</div>-->
                  <!--<div style="clear:both;"></div>-->
                <!--</div>-->
                <!--&lt;!&ndash;<div class="example-story-blank">&nbsp;</div>&ndash;&gt;-->
                <!--<div class="col-sm-5ths">-->
                  <!--<div class=" example-story" data-story="example_story_3">-->
                    <!--<span><%= @example_story_3.title %></span>-->
                  <!--</div>-->
                  <!--<div style="clear:both;"></div>-->
                <!--</div>-->
                <!--&lt;!&ndash;<div class="example-story-blank">&nbsp;</div>&ndash;&gt;-->
                <!--<div class="col-sm-5ths">-->
                  <!--<div class=" example-story" data-story="example_story_4">-->
                    <!--<span><%= @example_story_4.title %></span>-->
                  <!--</div>-->
                  <!--<div style="clear:both;"></div>-->
                <!--</div>-->
                <!--<div class="example-story-blank">&nbsp;</div>-->
                <div class="col-sm-6">
                  <div class=" example-story custom-story">讲述团队的故事</div>
                  <div style="clear:both;"></div>
                </div>
                <div style="clear: both;"></div>
              </div>
            </div>
          </div>
          <br/>

          <div class="row web-box">
            <div class="col-sm-6 backbutton-box">
              <button class="btn btn-success btn-lg camp-back-btn" type="button" data-currentstep="2">
                <span class="text">后退</span>
              </button>
            </div>
            <div class="col-sm-6 continuebutton-box">
              <button class="btn btn-primary btn-lg camp-continue-btn" type="button" data-currentstep="2">
                <span class="text">继续</span> <span class="loader" style="display:none"></span>
              </button>
            </div>
          </div>
          <div class="row mobile-box">
            <div class="col-sm-6 backbutton-box">
              <button class="btn btn-primary btn-lg camp-continue-btn" type="button" data-currentstep="2">
                <span class="text">继续</span> <span class="loader" style="display:none"></span>
              </button>
            </div>
            <div class="col-sm-6 continuebutton-box">
              <button class="btn btn-success btn-lg camp-back-btn" type="button" data-currentstep="2">
                <span class="text">后退</span>
              </button>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="more-photo-template col-md-4" style="display:none;">
        <div style="width:210px; border:1px solid #ccc; margin: auto;">
          <div style="width:100%; height:210px; padding:5px;">
            <img style="display:block; margin: 0px auto;">
          </div>
          <div style="width:100%; height:30px; text-align:center; margin:10px 0px 10px 0px;">
            <button class="btn btn-primary" type="button"><span class="text">删除</span></button>
          </div>
        </div>
        <div style="height:20px; text-align:center;">&nbsp;
        </div>
      </div>

      <div id="step_container_3_1" class="camp-step-container" style="display:none;">
        <div style="text-align:center;">
          <h3 class="fieldset-header">
            <span class="number">4</span>上传Logo&nbsp;&nbsp;<span class="camp-step-qa-icon">?</span>

            <div class="upload-tooltip">
              （最好的图片尺寸: 280px * 280px）
            </div>
          </h3>
        </div>

        <fieldset>
          <div class="row">
            <div class="col-md-12 more-photo-file">
              <div style="width:0px; height:0px;">
                <input id="minilogo_upload" name="photo_upload" type="file" accept="image/*" data-url="/upload/campaign_photo" style="width:0px; height:0px; visibility:hidden;"/>
              </div>
              <div id="minilogo_upload_view">
                <p style="text-align: center;">
                <%=image_tag "logo.png",:style => "width:280px;height:280px;
    border: 15px solid rgba(51,51,51,0.1);
    border-radius: 180px;" %>
                </p>
                <%= f.hidden_field :minilogo %>
              </div>
              <div class="uploader-box" style="margin-top: 3px">
                <div class="row">
                  <div class="col-sm-6 col-sm-offset-3">
                    <label for="minilogo_upload" class="upload-button" style="border:1px solid #ccc; text-align:center;padding:8px 0px; display:block; font-weight:normal;">
										<span style="color:#428bca;font-size:1.1em;display:block;">
											上传</span>
                      <span style="font-size:0.9em;display:block;font-style:italic;">Logo</span>
                      <span class="loader" style="display:none"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <br/>

          <div class="row web-box">
            <div class="col-sm-5 backbutton-box">
              <button class="btn btn-success btn-lg camp-back-btn camp-back-btn-31" type="button" data-currentstep="3.1">
                <span class="text">后退</span>
              </button>
            </div>
            <div class="col-sm-3 continuebutton-box">
              <button class="btn btn-success btn-lg camp-skip-btn camp-skip-btn-31" type="button" data-currentstep="3.1" data-nextstep="<%= @collection ? "6" : "5" %>" onclick="Raisy.campaigns.skipMorePhoto(this);">
                <span class="text">跳过这一步</span> <span class="loader" style="display:none"></span>
              </button>
            </div>
            <div class="col-sm-3 continuebutton-box">
              <button class="btn btn-primary btn-lg camp-continue-btn" type="button" data-currentstep="3.1" data-nextstep="<%= @collection ? "6" : "5" %>">
                <span class="text">继续</span> <span class="loader" style="display:none"></span>
              </button>
            </div>
          </div>
          <div class="row mobile-box">
            <div class="col-sm-5 backbutton-box">
              <button class="btn btn-primary btn-lg camp-continue-btn" type="button" data-currentstep="3.1" data-nextstep="<%= @collection ? "6" : "5" %>">
                <span class="text">继续</span> <span class="loader" style="display:none"></span>
              </button>
            </div>
            <div class="col-sm-3 continuebutton-box">
              <button class="btn btn-success btn-lg camp-skip-btn camp-skip-btn-31" type="button" data-currentstep="3.1" data-nextstep="<%= @collection ? "6" : "5" %>" onclick="Raisy.campaigns.skipMorePhoto(this);">
                <span class="text">跳过这一步</span> <span class="loader" style="display:none"></span>
              </button>
            </div>
            <div class="col-sm-3 continuebutton-box">
              <button class="btn btn-success btn-lg camp-back-btn camp-back-btn-31" type="button" data-currentstep="3.1">
                <span class="text">后退</span>
              </button>
            </div>
          </div>
        </fieldset>
      </div>

      <div id="step_container_3" class="camp-step-container" style="display:none;">
        <div style="text-align:center;">
          <h3 class="fieldset-header">
            <span class="number">4</span>上传筹款页面封面&nbsp;&nbsp;<span class="camp-step-qa-icon">?</span>

            <div class="upload-tooltip">
              （最好的图片尺寸: 940px * 626px）
            </div>
          </h3>
        </div>
        <fieldset>
          <div class="form-group">
            <div class="campaign-image-uploader clearfix">
              <div id="drop-zone" class="drop-zone uploader-box" style="border:1px solid #ccc; background: #eee">
                <div class="preview uploader-preview-box" style="text-align:center; vertical-align: middle">
                  <%= image_tag 'default_upload_logo.gif', class: "default-upload-logo" %>
                </div>
              </div>
              <div class="uploader-box">
                <div class="progress progress-striped active" style="display: none; height:18px;">
                  <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%; text-align: right; padding-right: 5px;">
                    <span>0%</span>
                  </div>
                </div>
                <div style="text-align:center;">
                  <span class="status"></span>
                </div>
              </div>
              <div id='crop_result' style="display:none;"></div>
              <div style="width:0px; height:0px;">
                <%= cl_image_upload_tag(:campaign_logo, tags: "custom-campaign-image", html: {accept: "image/*", style: "width:0px; height:0px; visibility:hidden;", id: "campaign_logo_file"}) %>
              </div>
              <div class="uploader-box" style="margin-top: 3px">
                <div class="row">
                  <div class="col-sm-6">
                    <label for="campaign_logo_file" class="upload-button" style="border:1px solid #ccc; text-align:center;padding:8px 0px; display:block; font-weight:normal;">
										<span style="color:#428bca;font-size:1.1em;display:block;">
											上传</span>
                      <span style="font-size:0.9em;display:block;font-style:italic;">你自己的照片</span>
                      <a href="#" class="remove-image" style="display: none">删除图片</a>
                    </label>
                  </div>
                  <div class="col-sm-6">
                    <div class="use-button" style="border:1px solid #ccc; text-align:center;padding:8px 0px;">
										<span style="color:#428bca;font-size:1.1em;display:block;">
											使用</span>
                      <span style="font-size:0.9em;display:block;font-style:italic;">我们提供的</span>
                    </div>
                    <a id="use_ours_link" data-toggle="modal" data-target="#default_images_modal" style="display:none;">使用
                      我们提供的</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br/>

          <div class="row web-box">
            <div class="col-sm-6 backbutton-box">
              <button class="btn btn-success btn-lg camp-back-btn" type="button" data-currentstep="3">
                <span class="text">后退</span></button>
            </div>
            <div class="col-sm-6 continuebutton-box">
              <button class="btn btn-primary btn-lg camp-continue-btn" type="button" data-currentstep="3">
                <span class="text">继续</span> <span class="loader" style="display:none">
              </button>
            </div>
          </div>
          <div class="row mobile-box">
            <div class="col-sm-6 backbutton-box">
              <button class="btn btn-primary btn-lg camp-continue-btn" type="button" data-currentstep="3">
                <span class="text">继续</span> <span class="loader" style="display:none">
              </button>
            </div>
            <div class="col-sm-6 continuebutton-box">
              <button class="btn btn-success btn-lg camp-back-btn" type="button" data-currentstep="3">
                <span class="text">后退</span></button>
            </div>
          </div>
        </fieldset>
      </div>

      <div id="step_container_4" class="camp-step-container" style="display:none;">
        <div style="text-align:center;">
          <h3 class="fieldset-header">
            <span class="number">4</span>您为了谁筹资款项？&nbsp;&nbsp;<span class="camp-step-qa-icon">?</span></h3>
        </div>
        <fieldset>
          <!-- <div class="form-group">
			        <label for="campaign_call_to_action" class="col-sm-3 control-label">Call to Action Text<span class='req'>*</span></label>
			        <div class="col-sm-9">
			            <%= f.text_field :call_to_action, class: 'form-control', placeholder: '立刻购买' %>
			        </div>
			    </div> -->

          <div class="form-group" style="margin-bottom: 10px;display:none;">
            <table class="allow-direct-donation-box">
              <tr>
                <td class="checkbox-label">
                  <label>允许直接捐赠<span class='req'></span></label>
                </td>
                <td class="checkbox-input">
                  <%= f.check_box :allow_direct_donation, checked: false %>
                </td>
              </tr>
            </table>
          </div>

          <br/>

          <div class="row web-box">
            <div class="col-sm-6 backbutton-box">
              <button class="btn btn-success btn-lg camp-back-btn" type="button" data-currentstep="4">
                <span class="text">后退</span>
              </button>
            </div>
            <div class="col-sm-6 continuebutton-box">
              <% if @collection && current_user %>
                  <button id="campaign_form_submit" class="btn btn-primary btn-lg camp-finish-btn" type="submit" data-currentstep="4">
                    <span class="text">继续</span> <span class="loader" style="display:none"></span>
                  </button>
              <% else %>
                  <% if @collection %>
                      <button class="btn btn-primary btn-lg camp-continue-btn" type="button" data-currentstep="4" data-nextstep="6">
                        <span class="text">继续</span> <span class="loader" style="display:none">
                      </button>
                  <% else %>
                      <button class="btn btn-primary btn-lg camp-continue-btn" type="button" data-currentstep="4" data-nextstep="5">
                        <span class="text">继续</span> <span class="loader" style="display:none">
                      </button>
                  <% end %>
              <% end %>
            </div>
          </div>
          <div class="row mobile-box">
            <div class="col-sm-6 backbutton-box">
              <% if @collection && current_user %>
                  <button id="campaign_form_submit" class="btn btn-primary btn-lg camp-finish-btn" type="submit" data-currentstep="4">
                    <span class="text">继续</span> <span class="loader" style="display:none"></span>
                  </button>
              <% else %>
                  <% if @collection %>
                      <button class="btn btn-primary btn-lg camp-continue-btn" type="button" data-currentstep="4" data-nextstep="6">
                        <span class="text">继续</span> <span class="loader" style="display:none">
                      </button>
                  <% else %>
                      <button class="btn btn-primary btn-lg camp-continue-btn" type="button" data-currentstep="4" data-nextstep="5">
                        <span class="text">继续</span> <span class="loader" style="display:none">
                      </button>
                  <% end %>
              <% end %>
            </div>
            <div class="col-sm-6 continuebutton-box">
              <button class="btn btn-success btn-lg camp-back-btn" type="button" data-currentstep="4">
                <span class="text">后腿</span>
              </button>
            </div>
          </div>
        </fieldset>
      </div>
      <div id="step_container_5" class="camp-step-container" style="display:none;">
        <div style="text-align:center;">
          <h3 class="fieldset-header">
            <span class="number">5</span>您是否要参加筹款义卖&nbsp;&nbsp;<span class="camp-step-qa-icon">?</span></h3>
        </div>
        <fieldset>
          <div class="form-group" style="margin-bottom: -4px">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-10" style="padding: 15px; text-align: center; margin-left: 20px;">
                <label>
                  <%= f.check_box :is_featured%>&nbsp;&nbsp;是否参加义卖
                </label>

              </div>
            </div>
            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-4">
                <div class="clearfix">
                  <label class="error no-collection-label" style="display:none;"></label>
                </div>
              </div>
            </div>
          </div>
          <br/>

          <div class="row web-box">
            <div class="col-sm-6 backbutton-box">
              <button class="btn btn-success btn-lg camp-back-btn" type="button" data-currentstep="5">
                <span class="text">后退</span>
              </button>
            </div>
            <div class="col-sm-6 continuebutton-box">
              <button class="btn btn-primary btn-lg camp-continue-btn" type="button" data-currentstep="5">
                <span class="text">继续</span> <span class="loader" style="display:none"></span>
              </button>
            </div>
          </div>
          <div class="row mobile-box">
            <div class="col-sm-6 backbutton-box">
              <button class="btn btn-primary btn-lg camp-continue-btn" type="button" data-currentstep="5">
                <span class="text">继续</span> <span class="loader" style="display:none"></span>
              </button>
            </div>
            <div class="col-sm-6 continuebutton-box">
              <button class="btn btn-success btn-lg camp-back-btn" type="button" data-currentstep="5">
                <span class="text">后退</span>
              </button>
            </div>
          </div>
        </fieldset>
      </div>
      <!--//this is likely to be used in the future-->
      <% if !@collection&&false %>
          <div id="step_container_5" class="camp-step-container" style="display:none;">
            <div style="text-align:center;">
              <h3 class="fieldset-header">
                <span class="number">5</span>选择您将要义卖的产品&nbsp;&nbsp;<span class="camp-step-qa-icon">?</span></h3>
            </div>
            <fieldset>
              <div class="form-group" style="margin-bottom: -4px">
                <div class="row">
                  <div class="col-md-2"></div>
                  <div class="col-md-10">
                    <div id="collections_row" class="row">
                      <% @collections.each do |collection| %>
                          <div class="col-md-5">
                            <div class="well collection-container" data-collection-id="<%= collection.id %>">
                              <div class="collection-image-container" style="height:200px;">
                                <%= cl_image_tag collection.picture, width: 200, height: 200, crop: :limit, class: 'img-responsive' %>
                              </div>
                              <div style="height:50px; text-align:center; margin-top:10px;">
                                <h4><%= collection.name %></h4>
                              </div>
                            </div>
                          </div>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-2"></div>
                  <div class="col-sm-4">
                    <div class="clearfix">
                      <label class="error no-collection-label" style="display:none;">请选择一件商品</label>
                    </div>
                  </div>
                </div>
              </div>
              <br/>

              <div class="row web-box">
                <div class="col-sm-6 backbutton-box">
                  <button class="btn btn-success btn-lg camp-back-btn" type="button" data-currentstep="5">
                    <span class="text">后退</span>
                  </button>
                </div>
                <div class="col-sm-6 continuebutton-box">
                  <button class="btn btn-primary btn-lg camp-continue-btn" type="button" data-currentstep="5">
                    <span class="text">继续</span> <span class="loader" style="display:none"></span>
                  </button>
                </div>
              </div>
              <div class="row mobile-box">
                <div class="col-sm-6 backbutton-box">
                  <button class="btn btn-primary btn-lg camp-continue-btn" type="button" data-currentstep="5">
                    <span class="text">继续</span> <span class="loader" style="display:none"></span>
                  </button>
                </div>
                <div class="col-sm-6 continuebutton-box">
                  <button class="btn btn-success btn-lg camp-back-btn" type="button" data-currentstep="5">
                    <span class="text">后退</span>
                  </button>
                </div>
              </div>
            </fieldset>
          </div>
      <% end %>

      <% if !current_user %>
          <a id="campaign_use_modal_link" data-toggle="modal" data-target="#campaign_user_modal" style="display:none;"></a>

          <div id="campaign_user_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="campaign_user_modal" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">

                <div class="modal-header modal-header-purple">
                  <button id="close_campaign_user" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">创建帐户</h4>
                </div>
                <!-- /.modal-header -->

                <div class="modal-body">

                  <div id="campaign_signup_user">
                    <p class="welcome-back" style="margin-bottom: 20px; display:none;">
                      欢迎回来！
                    </p>

                    <div class="row">
                      <div class="col-sm-12" style="border-right: 2px solid #eee;">
                        <div class="form-group">
                          <div class="col-sm-11">
                            <label for="user_email" class="control-label">邮箱<span class='req'>*</span></label>
                            <input class="form-control" id="user_email" name="user[email]" placeholder="Enter email">
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="col-sm-11">
                            <label for="user_pwd" class="control-label">密码<span class='req'>*</span></label><span id="campaign_user_forget_pwd" style="display:none; font-size:12px;">&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "您忘记了密码？?", "/users/password/new", style: "text-decoration:none;" %></span>
                            <input class="form-control" id="user_password" name="user[password]" type="password" placeholder="Enter password">
                          </div>
                        </div>

                        <div class="form-group campaign_user_alt_row">
                          <div class="col-sm-11">
                            <label for="user_confirm_pwd" class="control-label">确认密码<span class='req'>*</span></label>
                            <input class="form-control" id="user_confirm_password" name="user[confirm_password]" type="password" placeholder="Confirm password">
                          </div>
                        </div>

                        <div class="form-group campaign_user_alt_row">
                          <div class="col-sm-11">
                            <label for="user_pwd" class="control-label">姓<span class='req'>*</span></label>
                            <input class="form-control" id="user_first_name" name="user[first_name]" placeholder="Enter first name">
                          </div>
                        </div>

                        <div class="form-group campaign_user_alt_row">
                          <div class="col-sm-11">
                            <label for="user_pwd" class="control-label">名<span class='req'>*</span></label>
                            <input class="form-control" id="user_last_name" name="user[last_name]" placeholder="Enter last name">
                          </div>
                        </div>

                        <div class="form-group campaign_user_alt_row">
                          <div class="col-sm-11">
                            <label for="phone_num" class="control-label">联系电话</label>
                            <input class="form-control" id="user_phone_number" name="user[phone_number]" placeholder="Phone number">
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="col-sm-11">
                            <input id="campaign_terms_conditions" type="checkbox" name="user[terms_conditions]"/>
                            <label for="campaign_terms_conditions" style="font-weight:normal; display:inline; ">阅读并同意11号公益圈
                              <%= link_to "服务协议", "/reg_tos", {:target => "_blank"} %></label>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="col-sm-11" style="text-align:center;">
                            <button id="campaign_form_submit" class="btn btn-primary camp-finish-btn" type="submit" style="height:40px; font-size:16px;">
                              <span class="text">创建帐户</span> <span class="loader" style="display:none"></span>
                            </button>
                          </div>
                        </div>

                        <div id="campaign_social_error" style="display:none;">
                          <div class="alert alert-warning">
                            <div id="campaign_social_message" style="text-align: center;">
                            </div>
                          </div>
                          <div>&nbsp;</div>
                        </div>

                      </div>

                      <!-- <div class="col-sm-6">
                        <div id="campaign_social_links" class="form-group">
                          <div class="col-sm-10 col-sm-offset-1">
                            <a class="btn btn-block btn-social btn-facebook" onclick="Raisy.fb_login(true);">
                              <i class="fa fa-facebook"></i>
                              <span>Login with Facebook</span>
                            </a>
                            <br/>
                            <a class="btn btn-block btn-social btn-twitter" onclick="Raisy.tw_login(true);">
                              <i class="fa fa-twitter"></i>
                              <span>Login with Twitter</span>
                            </a>
                          </div>
                        </div>

                        <br/>

                        <div id="campaign_social_error" style="display:none;">
                          <div class="alert alert-warning">
                            <div id="campaign_social_message" style="text-align: center;">
                            </div>
                          </div>
                          <div>&nbsp;</div>
                        </div>
                      </div> -->
                    </div>
                  </div>

                </div>
                <!-- end of modal body -->

                <div class="modal-footer" style="background:#eee;">
                  <div id="campaign_login_account_link" style="text-align:center;">
                    <span>已经有帐户了？&nbsp;<a style="text-decoration:none; cursor:pointer;" onclick="Raisy.campaigns.campaign_login_account();"><strong>登录</strong></a></span>
                  </div>
                  <div id="campaign_signup_account_link" style="text-align:center; display:none;">
                    <span>还没有帐户？&nbsp;<a style="text-decoration:none; cursor:pointer;" onclick="Raisy.campaigns.campaign_signup_account();"><strong>注册</strong></a></span>
                  </div>
                </div>
                <!-- /.modal-footer -->

              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
      <% end %>
    </div>

    <div id="direct_donation_collection" class="col-md-4" style="display:none;">
      <div class="well collection-container" data-collection-id="0">
        <div class="collection-image-container" style="height:200px;">
          <%= image_tag 'example-donation.jpg', class: "img-responsive" %>
        </div>
        <div style="height:50px; text-align:center; margin-top:10px;">
          <h4>直接捐赠</h4>
        </div>
      </div>
    </div>

    <div id="default_images_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="default_images_modal" aria-hidden="true" data-img-loaded="no">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button id="close_use_ours" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">选择我们照片中的一个</h4>
          </div>
          <!-- /.modal-header -->

          <div class="modal-body">

            <div id="default_campaign_images">

              <% @campaign_images.each_with_index do |image, index| %>

                  <% if index % 2 == 0 %>
                      <div class="row">
                  <% end %>

                  <div class="col-sm-6">
                    <% if image.is_cropped %>
                        <div class="default-campaign-image" data-image-id="<%= image.image_identifier %>" data-public-id="<%= image.public_id %>" data-crop-x="<%= image.crop_x %>" data-crop-y="<%= image.crop_y %>" data-crop-w="<%= image.crop_width %>" data-crop-h="<%= image.crop_height %>" data-cropped="true">

                          <img src="" alt="" class="dynamic-image" data-src="<%= image.public_id %>" data-width="<%= image.crop_width %>" data-height="<%= image.crop_height %>" data-x="<%= image.crop_x %>" data-y="<%= image.crop_y %>" data-crop="crop" style="width:100%;"/>

                        </div>
                    <% else %>
                        <div class="default-campaign-image" data-image-id="<%= image.image_identifier %>" data-public-id="<%= image.public_id %>">
                          <img src="" alt="" class="dynamic-image" data-src="<%= image.public_id %>" style="max-width:100%; max-height:100px;"/>

                        </div>
                    <% end %>
                    <div style="height:5px"></div>
                  </div>

                  <% if index % 2 > 0 || index == @campaign_images.count - 1 %>
                      </div>
                  <% end %>

              <% end %>

            </div>

          </div>
          <!-- end of modal body -->

        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>

    <div id="camp_step_tips_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="camp_step_tips_modal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-body">
          </div>
          <!-- end of modal body -->

          <div class="modal-footer">
            <div style="position:relative; text-align:center;">
              <button type="button" class="btn btn-default" data-dismiss="modal"><span>关闭</span></button>
              <div style="position:absolute; bottom:1px; left:0px;">
                <a data-toggle="modal" data-target="#camp_preview_modal" style="text-decoration: none; cursor:pointer; font-size:12px; font-weight:600;"><span>预览筹款页面</span></a>
              </div>
              <div class="hide_camp_step_tips_container">
                <a id="hide_camp_step_tips" style="cursor:pointer; text-decoration: none;">
                  <span style="font-size:12px; font-weight:600;">不要再显示这个信息</span>
                </a>
              </div>
            </div>
          </div>
          <!-- /.modal-footer -->

        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>

    <div id="camp_step_tips_1" style="display:none;">
      <div style="text-align:center;">
        <p>
          <label style="font-size:16px;">
            <% if current_user %>
                欢迎 <%= current_user.profile.try(:first_name) %>, 让我们一起开始发起您的筹款吧
            <% else %>
                欢迎让我们一起开始发起您的筹款吧
            <% end %>
          </label>
        </p>
      </div>
      <p>通过名称查找您所属的社团或NGO。</p>

      <p>注意：本次筹款所得将捐赠给您所选的社团或NGO，所以请确保您的选择正确无误。</p>

      <p>输入筹款团队的基本信息, 这些信息将显示在您的筹款页面。</p>
      <span>小贴士：</span>
      <ul>
        <li><span>如果找不到您的组织，请联系我们（微信公众号：11号公益圈）</span></li>
        <li><span>请尽可能的说明您为什么要筹款， 以便人们能够更好的支持您的团队。</span>
        </li>
      </ul>
    </div>

    <div id="camp_step_tips_2" style="display:none;">
      <p>讲述您团队的故事， 您可以从我们提供的4个模板中选择一个并修改，或者告诉大家团队自己的故事。</p>
      <span>建议：</span>
      <ul>
        <li><span>反复重申您为什么要筹款。</span></li>
        <li><span>您的筹款目标是什么？</span></li>
        <li><span>所筹款项将如何使用。</span></li>
        <li><span>最终的成果将是什么？(比如，并不只是一座图书馆，而且是一次改变乡村教育环境的深度尝试)。</span></li>
        <li><span>其他您的支持者需要知道的信息。</span>
        </li>
        <li><span>如何其他您想要您的支持者知道的信息。</span></li>
      </ul>
      <span>小贴士：</span>
      <ul>
        <li><span>提醒支持者每次捐款都很有价值。</span></li>
        <li><span>尽情表达对您支持者的感谢。</span></li>
      </ul>
    </div>

    <div id="camp_step_tips_3_1" style="display:none;">
      <p>我们建议您上传社团或者NGO的活动照片。</p>
      <span>小贴士：</span>
      <ul>
        <li><span>创建筹款页面后，您可以随时修改封面照片。</span></li>
      </ul>
    </div>

    <div id="camp_step_tips_3_2" style="display:none;">
      <p>如果您有自己的Logo，可以在这里上传。我们建议您上传一张Logo</p>

      <p>您可以跳过这个步骤。</p>
      <span>小贴士：</span>
      <ul>
        <li><span>筹款页面创建后，您可以随时撤销已上传图片或者上传新的Logo。</span></li>
      </ul>
    </div>

    <div id="camp_step_tips_4" style="display:none;">
      <p>通过名字或组织ID搜索您的学校或组织。</p>

      <p>注意：确保您选择的正确的组织（城市和区县列在了组织名称旁边）</p>
      <span>小贴士：</span>
      <ul>
        <li><span>如果您找不到您的组织，请联系你的销售代表。</span></li>
      </ul>
    </div>

    <div id="camp_step_tips_5" style="display:none;">
      <p>请选择是否参加义卖</p>
    </div>

<% end %>

<script>
    var isuploadCampaignPhoto = false;

    if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {

        window.addEventListener("orientationchange", function () {

            reCropCampaingImage();
            Raisy.campaigns.draw_preview_border();

        }, false);

    } else {

        window.addEventListener("resize", function () {

            reCropCampaingImage();
            Raisy.campaigns.draw_preview_border();

        });

    }

    $(document).ready(function () {

        $(".navbar-brand").addClass("navbar-brand-main");
        $(".user-modal-launch").hide();

        window.setTimeout(function () {
            $("#hide_camp_step_tips").off("click").on("click", function () {
                Raisy.campaigns.step_tips_show_status.step1 = false;
                Raisy.campaigns.donot_show_step_tips();
            });

            $("#camp_step_tips_modal .modal-body").html($("#camp_step_tips_1").html());

            <% if @step_popup=="yes" %>
            $("#camp_step_tips_modal").modal("show");
            <% else %>
            Raisy.campaigns.step_tips_show_status.step1 = false;
            Raisy.campaigns.step_tips_show_status.step2 = false;
            Raisy.campaigns.step_tips_show_status.step3_1 = false;
            Raisy.campaigns.step_tips_show_status.step3_2 = false;
            Raisy.campaigns.step_tips_show_status.step4 = false;
            Raisy.campaigns.step_tips_show_status.step5 = false;
            <% end %>
        }, 200);
    });

    window.onload = function () {
        if (typeof history.pushState === "function") {

            history.pushState("jibberish", null, null);
            window.onpopstate = function (event) {
                history.pushState('newjibberish', null, null);

                if (window.Raisy.IsSafari()) {
                    if (event.state) {
                        var campaign_id = $("#campaign_id").val();
                        if (campaign_id == "0") {
                            if (confirm("您还没有创建完成您的筹款页面。 如果您离开这个页面，您之前输入的信息会丢失。 如果您想回到上一步的话，请点击页面上的后退按钮。")) {
                                if ($("#step_nav_icon_2").hasClass("step-nav-icon-gray")) {
                                    <% if @previous_url != nil && @previous_url != "" %>
                                    window.location.href = "<%=@previous_url%>";
                                    <% else %>
                                    window.location.href = "/";
                                    <% end %>
                                } else {
                                    window.location.href = "/campaigns/new";
                                }
                            }
                        } else {
                            <% if @previous_url != nil && @previous_url != "" %>
                            window.location.href = "<%=@previous_url%>";
                            <% else %>
                            window.location.href = "/";
                            <% end %>
                        }
                    }
                } else {
                    var campaign_id = $("#campaign_id").val();
                    if (campaign_id == "0") {
                        if (confirm("您还没有创建完成您的筹款页面。 如果您离开这个页面，您之前输入的信息会丢失。 如果您想回到上一步的话，请点击页面上的后退按钮。")) {
                            if ($("#step_nav_icon_2").hasClass("step-nav-icon-gray")) {
                                <% if @previous_url != nil && @previous_url != "" %>
                                window.location.href = "<%=@previous_url%>";
                                <% else %>
                                window.location.href = "/";
                                <% end %>
                            } else {
                                window.location.href = "/campaigns/new";
                            }
                        }
                    } else {
                        <% if @previous_url != nil && @previous_url != "" %>
                        window.location.href = "<%=@previous_url%>";
                        <% else %>
                        window.location.href = "/";
                        <% end %>
                    }
                }
            };

        } else {

            window.onbeforeunload = function (e) {

                var campaign_id = $("#campaign_id").val();
                if (campaign_id == "0") {
                    if (confirm("您还没有创建完成您的筹款页面。 如果您离开这个页面，您之前输入的信息会丢失。 如果您想回到上一步的话，请点击页面上的后退按钮。")) {
                        if ($("#step_nav_icon_2").hasClass("step-nav-icon-gray")) {
                            <% if @previous_url != nil && @previous_url != "" %>
                            window.location.href = "<%=@previous_url%>";
                            <% else %>
                            window.location.href = "/";
                            <% end %>
                        } else {
                            window.location.href = "/campaigns/new";
                        }
                    } else {
                        return false;
                    }
                } else {
                    <% if @previous_url != nil && @previous_url != "" %>
                    window.location.href = "<%=@previous_url%>";
                    <% else %>
                    window.location.href = "/";
                    <% end %>
                }

            }

        }

    }

    function reCropCampaingImage() {

        if (isuploadCampaignPhoto) {

            var documentWidth = $(document.body).width();
            var cropWidth;
            var cropHeight;

            if (documentWidth > 768) {

                cropWidth = 622;
                cropHeight = 414;

            } else if (documentWidth > 468) {

                cropWidth = 400;
                cropHeight = 266;

            } else {

                cropWidth = 280;
                cropHeight = 186;

            }

            $('#campaign-edit .preview img').cropbox({
                width: cropWidth,
                height: cropHeight
            });

        }

    }

</script>

 