<div id="campaign-edit">
    <div class="container">
        <div class="campaign-edit-header">
			<h3>Your fundraiser <strong><%= @campaign.title %></strong></h3>
        </div>
        <div class="container-box top-section">
			<div class="step-nav-bar">
				<div id="step_nav_icon_1" class="step-nav-icon"></div>
				<div id="step_nav_icon_2" class="step-nav-icon"></div>
				<div id="step_nav_icon_3" class="step-nav-icon"></div>
				<div id="step_nav_icon_4" class="step-nav-icon"></div>
				<div id="step_nav_icon_5" class="step-nav-icon"></div>
				<div id="step_nav_icon_6" class="step-nav-icon"></div>
				<div id="step_nav_icon_7" class="step-nav-icon"></div>
				<div id="step_nav_icon_8" class="step-nav-icon"></div>
				<div id="step_nav_icon_9" class="step-nav-icon step-nav-icon-gray"></div>
			</div>
			
			<div style="text-align:center; margin-top:20px;"><h3 class="fieldset-header"><span class="number">9</span>邀请您的销售们加入吧！</h3></div>
			
			<div style="height:25px;"></div>
			
			<div class="camp-share-links">
			    <div class="row">
			        <div class="col-sm-8 col-sm-offset-2">
						<div class="form-group">
				            <p>和您的组织成员／销售分享这个链接以让他们加入您的线上筹款团队。他们会创建他们自己的筹款页面通过线上销售商品以帮助您达成您的目标！</p>
				            <input class="form-control" value="<%= short_campaign_url(@campaign) %>" readonly>
				            <div class="share-links" style="margin-top: 20px;">
				                <a href="#" class="btn btn-info fb-share" data-link="<%= short_campaign_url(@campaign) %>"><%= image_tag 'fb.png' %> 分享</a>
								<a href="https://twitter.com/intent/tweet?url=<%= url_encode(short_campaign_url(@campaign)) %>&text=<%= url_encode("Help fundraise for #{@campaign.title}") %>" target="_blank" class="btn btn-info"><%= image_tag 'twitter.png' %> Tweet</a>
				            </div>
						</div>
			        </div>
			    </div>
			</div>
			
			<div style="height:20px;">&nbsp;</div>
			
			<div class="row web-box">
				<div class="col-sm-6 backbutton-box">
				    <button class="btn btn-success btn-lg camp-back-btn" type="button" onclick="window.location.href='<%= campaign_sendmails_path(@campaign) %>';">
				        <span class="text">后退</span>
				    </button>
				</div>
			    <div class="col-sm-6 continuebutton-box">
 				    <button class="btn btn-primary btn-lg camp-continue-btn" type="button" onclick="window.location.href='<%= dashboard_campaign_details_path(@campaign) %>';">
 				        <span class="text">完成</span>
 				    </button>
				</div>
			</div>
			<div class="row mobile-box">
			    <div class="col-sm-6 backbutton-box">
 				    <button class="btn btn-primary btn-lg camp-continue-btn" type="button" onclick="window.location.href='<%= dashboard_campaign_details_path(@campaign) %>';">
 				        <span class="text">完成</span>
 				    </button>
				</div>
				<div class="col-sm-6 continuebutton-box">
				    <button class="btn btn-success btn-lg camp-back-btn" type="button" onclick="window.location.href='<%= campaign_sendmails_path(@campaign) %>';">
				        <span class="text">后退</span>
				    </button>
				</div>
			</div>
        </div>
    </div>
</div>