<div id="campaign-edit">
  <div class="container">
    <div class="campaign-edit-header">
      <h3>发起一次新的筹款</h3>
    </div>
    <div class="container-box top-section">
      <div class="step-nav-bar">
        <div id="step_nav_icon_1" class="step-nav-icon step-nav-icon-gray"></div>
        <div id="step_nav_icon_2" class="step-nav-icon"></div>
        <div id="step_nav_icon_3" class="step-nav-icon"></div>
        <div id="step_nav_icon_4" class="step-nav-icon"></div>
        <div id="step_nav_icon_5" class="step-nav-icon"></div>
        <div id="step_nav_icon_6" class="step-nav-icon"></div>
        <!-- <div id="step_nav_icon_7" class="step-nav-icon"></div>
        <div id="step_nav_icon_8" class="step-nav-icon"></div>
        <div id="step_nav_icon_9" class="step-nav-icon"></div> -->
      </div>

      <div style="text-align:center; margin-top:20px;">
        <h3 class="fieldset-header"><span class="number">1</span>创建我的帐户</h3></div>

      <form accept-charset="UTF-8" action="/campaigns/create_account" class="campaign-form form-horizontal" id="campaign_form" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= hidden_field_tag :auth_provider, "raisy" %>
        <%= hidden_field_tag :auth_uid, "" %>
        <%= hidden_field_tag :campaign_new_user, "1" %>

        <div id="campaign_user_modal" style="margin-top:30px;">
          <div id="campaign_signup_user">
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1">
                <div class="form-group">
                  <div class="col-sm-10 col-sm-offset-1">
                    <label for="user_email" class="control-label">邮箱<span class='req'>*</span></label>
                    <input class="form-control" id="user_email" name="user[email]" placeholder="邮箱">
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-10 col-sm-offset-1">
                    <label for="user_pwd" class="control-label">密码<span class='req'>*</span></label><span id="campaign_user_forget_pwd" style="display:none; font-size:12px;">&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "您忘记了密码？", "/users/password/new", style: "text-decoration:none;" %></span>
                    <input class="form-control" id="user_password" name="user[password]" type="password" placeholder="密码">
                  </div>
                </div>

                <div class="form-group campaign_user_alt_row">
                  <div class="col-sm-10 col-sm-offset-1">
                    <label for="user_confirm_pwd" class="control-label">确认密码<span class='req'>*</span></label>
                    <input class="form-control" id="user_confirm_password" name="user[confirm_password]" type="password" placeholder="确认密码">
                  </div>
                </div>

                <div class="form-group campaign_user_alt_row">
                  <div class="col-sm-10 col-sm-offset-1">
                    <label for="user_pwd" class="control-label">姓<span class='req'>*</span></label>
                    <input class="form-control" id="user_first_name" name="user[first_name]" placeholder="输入姓">
                  </div>
                </div>

                <div class="form-group campaign_user_alt_row">
                  <div class="col-sm-10 col-sm-offset-1">
                    <label for="user_pwd" class="control-label">名<span class='req'>*</span></label>
                    <input class="form-control" id="user_last_name" name="user[last_name]" placeholder="输入名">
                  </div>
                </div>

                <div class="form-group campaign_user_alt_row">
                  <div class="col-sm-10 col-sm-offset-1">
                    <label for="phone_num" class="control-label">联系电话</label>
                    <input class="form-control" id="user_phone_number" name="user[phone_number]" placeholder="联系电话">
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-10 col-sm-offset-1">
                    <input id="campaign_terms_conditions" type="checkbox" name="user[terms_conditions]"/>
                    <label for="campaign_terms_conditions" style="font-weight:normal; display:inline;">阅读并同意11号公益圈<%= link_to "服务协议", "javascript:void(0)" %></label>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-10 col-sm-offset-1" style="text-align:center;">
                    <button id="campaign_form_submit" class="btn btn-primary campaign_form_submit" type="submit">
                      <span class="text">继续</span>
                    </button>

                    <div style="margin-top:30px;">
                      <div id="campaign_login_account_link" style="text-align:left;">
                        <span>已经有帐户了？&nbsp;<a style="text-decoration:none; cursor:pointer;" onclick="Raisy.campaigns.campaign_login_account();"><strong>登录</strong></a></span>
                      </div>
                      <div id="campaign_signup_account_link" style="text-align:left; display:none;">
                        <span>还没有帐户？&nbsp;<a style="text-decoration:none; cursor:pointer;" onclick="Raisy.campaigns.campaign_signup_account();"><strong>注册</strong></a></span>
                      </div>
                    </div>
                  </div>
                </div>

                <div id="campaign_social_error" style="display:none;">
                  <div class="alert alert-warning">
                    <div id="campaign_social_message" style="text-align: center;">
                    </div>
                  </div>
                  <div>&nbsp;</div>
                </div>
				
              </div>

              <!-- <div class="col-sm-5">
                <div id="campaign_social_links" class="form-group">
                  <div class="col-sm-10 col-sm-offset-1">
                    <a class="btn btn-block btn-social btn-facebook" onclick="Raisy.fb_login(true);">
                      <i class="fa fa-facebook"></i>
                      <span>Login with Facebook</span>
                    </a>
                    <br/>
                    <a class="btn btn-block btn-social btn-twitter" onclick="Raisy.tw_login(true);">
                      <i class="fa fa-twitter"></i>
                      <span>Login with Twitter</span>
                    </a>
                  </div>
                </div>

                <br/>

                <div id="campaign_social_error" style="display:none;">
                  <div class="alert alert-warning">
                    <div id="campaign_social_message" style="text-align: center;">
                    </div>
                  </div>
                  <div>&nbsp;</div>
                </div>
              </div> -->
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

<script>
    $(document).ready(function () {
		$(".home-menu").show();
		$(".navbar-brand").addClass("navbar-brand-main");
        // $(".user-modal-launch").hide();
    });
</script>