<div id="campaign-edit">
    <div class="container">
        <div class="campaign-edit-header">
			<% if current_user %>
				<% if @collection %>
	            	<h3>Welcome <%= current_user.profile.try(:first_name) %>, let's get started on your next <%= @collection.name  %> fundraiser.</h3>
				<% else %>
					<h3>Welcome <%= current_user.profile.try(:first_name) %>, let's get started on your next fundraiser</h3>
				<% end %>
			<% else %>
				<% if @collection %>
	            	<h3>Start a new <%= @collection.name  %> fundraiser</h3>
				<% else %>
					<h3>Start a new fundraiser</h3>
				<% end %>
			<% end %>
        </div>
        <div class="container-box top-section" style="position:relative;">
			<div style="position:absolute; right:5px; top:5px;">
				<a data-toggle="modal" data-target="#camp_preview_modal" style="text-decoration: none; cursor:pointer;"><span>Preview</span></a>
			</div>
			
            <%= render 'form_new' %>
        </div>
    </div>
</div>

<div id="camp_preview_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="camp_preview_modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
	  <div class="modal-body">
		  <div class="clearfix">
		  	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	      </div>
		  <div style="position:relative;">
		  	<%= image_tag "campaign-preview.png", id: "camp_preview_img", class: "img-responsive"  %>
			
			<div id="camp_preview_border" style="position:absolute; border:2px solid #f00; border-radius:2px; width:100%; height:0px; left:0; top:0; display:none;"></div>
	  	  </div>
	  </div>
    </div>
  </div>
</div>