<style>
.bx-wrapper {
	border: 0px solid transparent !important;
	box-shadow: none !important;
	margin-bottom: 5px !important;
}

.bx-wrapper .bx-pager {
	bottom: 10px !important;
}

.bx-pager-link.active {
	background-color: rgb(198, 1, 10) !important;
}
</style>

<div id="mall_home">
	<div style="text-align:center;">
		<ul id="bxslider" style="margin:0px auto;">
		  <li><%= image_tag 'b1.jpg', style: "max-width:100%;" %></li>
		  <li style="display:none;"><%= image_tag 'b1.jpg', style: "max-width:100%;" %></li>
		  <li style="display:none;"><%= image_tag 'b1.jpg', style: "max-width:100%;" %></li>
		</ul>
	</div>
	
	<div style="padding:10px 0px;">
		<table style="width:100%;">
			<tr>
				<td style="text-align:center; width:25%;">
					<span class="glyphicon glyphicon-gift" style="border-radius:32px; color:rgb(198, 1, 10); font-size:20px; border:1px solid rgb(198, 1, 10); padding:10px 10px;"></span>
					<div style="color:#999; margin-top:5px; font-size:14px;">购物</div>
				</td>
				<td style="text-align:center; width:25%;">
					<span class="glyphicon glyphicon-tag" style="border-radius:32px; color:rgb(198, 1, 10); font-size:20px; border:1px solid rgb(198, 1, 10); padding:10px 10px;"></span>
					<div style="color:#999; margin-top:5px; font-size:14px;">推荐</div>
				</td>
				<td style="text-align:center; width:25%;">
					<span class="glyphicon glyphicon-flash" style="border-radius:32px; color:rgb(198, 1, 10); font-size:20px; border:1px solid rgb(198, 1, 10); padding:10px 10px;"></span>
					<div style="color:#999; margin-top:5px; font-size:14px;">快购</div>
				</td>
				<td style="text-align:center; width:25%;">
					<span class="glyphicon glyphicon-plane" style="border-radius:32px; color:rgb(198, 1, 10); font-size:20px; border:1px solid rgb(198, 1, 10); padding:10px 10px;"></span>
					<div style="color:#999; margin-top:5px; font-size:14px;">配送</div>
				</td>
			</tr>
		</table>
	</div>
	
	<div>
		<table style="width:100%;">
			<tr>
				<td style="text-align:center; width:33%;"><hr/></td>
				<td style="text-align:center; width:33%;">热卖新品</td>
				<td style="text-align:center; width:33%;"><hr/></td>
			</tr>
		</table>
	</div>
	
	<div class="container">
		<div class="row">
			<% @products.each do |product|%>
			<div class="col-xs-6" style="padding:0px 5px;">
				<a href="<%= shop_product_path(@campaign, product) %>">
					<div style="width:100px; height:100px; text-align:center; margin:0px auto; padding:5px 5px;">
						<%= cl_image_tag product.picture, width: 100, height: 100, crop: :fill, class: 'img-responsive' %>
					</div>
					
					<div style="font-size:14px; text-align:center; max-height:44px; overflow:hidden;"><%= product.name %></div>
					
					<% price_range=product.price_range(1) %>
					
					<div style="font-size:14px; text-align:center; margin-top:10px;">
						<span style="display:inline-block;">
							<% if price_range[:is_discount] %>
								<span style="color:gray; display:inline-block; text-decoration:line-through;">
									<% if price_range[:same_price] %>
									￥<%= long_price(price_range[:min]) %>
								<% else %>
									￥<%= long_price(price_range[:min]) %> - <%= long_price(price_range[:max]) %>
								<% end %></span><br/>
								<span style="color:rgb(210, 16, 16); display:inline-block;">
								<% if price_range[:same_discount_price] %>
									￥<%= long_price(price_range[:discount_min]) %>
								<% else %>
									￥<%= long_price(price_range[:discount_min]) %> - <%= long_price(price_range[:discount_max]) %>
								<% end %>
								</span>
							<% else %>
								<% if price_range[:same_price] %>
									￥<%= long_price(price_range[:min]) %>
								<% else %>
									￥<%= long_price(price_range[:min]) %> - <%= long_price(price_range[:max]) %>
								<% end %>
							<% end %>
						</span>
					</div>
				</a>
					
				<div>&nbsp;</div>
			</div>
			<% end %>
		</div>
		
		<div style="text-align:right; margin-bottom:5px;"><a href="<%= mall_search_path %>">查看全部</a></div>
	</div>
</div>

<script>
$(document).ready(function(){
  $("#bxslider").bxSlider({
  	auto: true,
		pager: false,
		controls: true,
		preloadImages: "all"
  });
	
	$("#bxslider li").show();
});
</script>