<body bgcolor="#dddddd">
	<table width="660" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#ffffff">
		<tr>
			<td style="width:20px;"></td>
			<td>
					<table width="620" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#ffffff">
					<tr>
						<td style="padding:5px 0; background-color:#FFF; color:#004690;font-size:11px;text-align:center;font-family:Arial, Helvetica, sans-serif;">
							<a href="https://www.entertainment.com/coupon/affiliate_entry.cmd?linkName=CB14FREMAIL&amp;groupId=&amp;sellerId=" reportname="SIDEBTB" frontuid="764367" urlId="355834">Support <%= @resource.email %>
							</a>
						</td>
					</tr>
					<tr>
						<td>
							<table border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td style="text-align: center">
										<a href="http://www.entertainment.com/fundraising">
											<%= image_tag "raisyLOGO.png", alt: "Entertainment\(R\) Fundraising" %>
										</a>
									</td>
								</tr>
								<tr>
									<td style="font-family:Arial, Helvetica, sans-serif; color:#6c2c78;text-transform:uppercase;font-size:24px;text-align:center; padding-top: 20px">
										PASSWORD RESET
									</td>
								</tr>
								<tr>
									<td>
										&nbsp;
									</td>
								</tr>
								<tr>
									<td style="font-family:Arial, Helvetica, sans-serif; font-size:14px;color:#3f3f3f;">
										<p>
											You can reset your password through the link below. If you didn't request this, please ignore this email.
										</p>
										<p>
											<%= link_to 'Reset password', edit_password_url(@resource, reset_password_token: @token) %> or you can copy and paste the url below to your browser to access the page.
										</p>
										<p>
											<%= edit_password_url(@resource, reset_password_token: @token) %>
										</p>
										<p>
											Your password won't change until you access the link above and create a new one.
										</p>
										<p>
											If you are still having trouble logging into the site, please <a href="http://Entertainment.us3.list-manage.com/track/click?u=ee601451868d9de2ceac09b7e&id=112b776e40&e=7f121cfe63" target="_blank">click here</a>.
										</p>
										<p>
											Thank you!
										</p>
										<p>
											The Entertainment Fundraising<sup style="font-size: 8px">&reg;</sup> Team
										</p>
									</td>
								</tr>
								<tr>
									<td>
										&nbsp;
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td>
							&nbsp;
						</td>
					</tr>
					<tr>
						<td valign="top" style="font-family:Arial, Helvetica, sans-serif;color:#3f3f3f;font-size:11px;text-align:center;">
							<img src="http://media.entertainment.com/media/entertainment/email/images/TClineSOLID.png" border="0" />
							<br /><br />
							This email has been sent to <span style="color:#14467c;text-decoration:none;"><%= @resource.email %></span> because you have opted to receive emails from Entertainment&reg;.<br />If you no longer want to receive emails from Entertainment&reg;, please <a href="https://www.entertainment.com/coupon/optout.cmd?email=<%= @resource.email %>" target="_blank" style="color:#14467c;text-decoration:none;">click here</a> to update your email preferences.
							<br /><br />
							Entertainment&reg;, Entertainment.com&reg;, Entertainment Fundraising&reg;, <img src="http://media.entertainment.com/media/entertainment/email/images/ENTcrown2015.png" border="0"   alt="Entertainment Crown Logo" height="12" />, <img src="http://media.entertainment.com/media/entertainment/email/images/ENTscript2015.png" alt="Entertainment Script Logo" border="0" height="12" />, and Raisy&trade;<br />
							are trademarks of HSP EPI Acquisition, LLC.
							<br /><br />
							<a href="http://Entertainment.us3.list-manage.com/track/click?u=ee601451868d9de2ceac09b7e&id=112b776e40&e=7f121cfe63" target="_blank">Need help?</a> | <a href="http://Entertainment.us3.list-manage2.com/track/click?u=ee601451868d9de2ceac09b7e&id=9b7fadab6c&e=7f121cfe63" target="_blank">Privacy</a>
							<br /><br />
							&copy;2015 HSP EPI Acquisition, LLC dba Entertainment&reg;
							<br /><br />
							1401 Crooks Road, Suite 150, Troy, MI 48084
						</td>
					</tr>
					<tr>
						<td>
							&nbsp;
						</td>
					</tr>
				</table>
			</td>
			<td style="width:20px;"></td>
		</tr>
	</table>
</body>


