<%= form_for([:admin, @user], html: { class: "user_form", autocomplete: "off" }) do |f| %>
    <fieldset>

        <div class="row">
            <div class="col-md-12">

                <div class="well">
                    <label for="user_profile_first_name">姓名</label>
                    <input class="form-control" id="user_profile_first_name" name="user_profile[first_name]" placeholder="姓名" type="text" value="<%= @user.profile.try(:first_name) %>">
                </div>

                <div class="well" style="display:none;">
                    <label for="user_profile_last_name">Last Name</label>
                    <input class="form-control" id="user_profile_last_name" name="user_profile[last_name]" placeholder="Last Name" type="text" value="<%= @user.profile.try(:last_name) %>">
                </div>

                <div class="well">
                    <label for="user_profile_phone_number">手机/电话</label>
                    <input class="form-control" id="user_profile_phone_number" name="user_profile[phone_number]" placeholder="手机/电话" type="text" value="<%= @user.profile.try(:phone_number) %>">
                </div>
				
                <div class="well">
                    <label for="user_email">Email</label>
                    <%= f.text_field :email, class: 'form-control', placeholder: 'Email', autocomplete: "off" %>
                </div>

                <div class="well">
                    <label for="user_password" class="control-label">密码</label>
                    <%= f.text_field :password, class: 'form-control', placeholder: 'Password', type: 'password', autocomplete: "off" %>
                </div>

                <div class="well">
                    <label for="user_profile_display_name" class="control-label">昵称</label>
                    <input class="form-control" id="user_profile_display_name" name="user_profile[display_name]" placeholder="昵称" type="text" value="<%= @user.profile.try(:display_name) %>">
                </div>

                <div class="well">
                    <label for="user_profile_title" class="control-label">头衔/职位</label>
                    <input class="form-control" id="user_profile_title" name="user_profile[title]" placeholder="头衔/职位" type="text" value="<%= @user.profile.try(:title) %>">
                </div>

                <div class="well">
                    <div class="form-group">
                        <label for="user_picture" class="control-label">头像
							<span style="font-weight: normal">(最佳尺寸: 200*200像素)</span>
						</label>

                        <div class="image-uploader">
                            <div class="preview" style="width:102px;">
                               <% if @user.profile.present? && @user.profile.picture.present? %>
								   <%= cl_image_tag @user.profile.picture, width: 100, height: 100, crop: :limit, class: 'img-responsive' %> <% else %> <img /> <% end %> 
                            </div>
                            <div style="width:0px; height:0px;">
								<%= hidden_field_tag :use_photo, "" %>
                                <%= cl_image_upload_tag(:user_profile_picture, tags: Rails.env, html: { accept:"image/*", style: "width:0px; height:0px; visibility:hidden;", id: "user_picture_file" }) %>
                                <a href="#" class="remove-image" style="display:none">Remove picture</a>
                            </div>
                        </div>
                        <div class="progress progress-striped active" style="display:none; margin-top:5px; width:102px;">
                            <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%; text-align: right; padding-right: 5px;">
                                <span>0%</span>
                            </div>
                        </div>
                        <span class="status"></span>
						<div class="clearfix" style="margin-top:20px;">
							<div class="upload-button" style="float:left;" onclick="$('#user_picture_file').click();">
								<span style="color:#428bca;font-size:1.1em;display:block;">
									上传</span>
								<span style="font-size:0.9em;display:block;font-style:italic;">你的头像</span>
							</div>
							<div class="use-button" style="float:left; margin-left:20px;" onclick="$('#default_photos_modal').modal('show');">
								<span style="color:#428bca;font-size:1.1em;display:block;">
									使用</span>
								<span style="font-size:0.9em;display:block;font-style:italic;">我们的头像</span>
							</div>
						</div>
                    </div>
                </div>

                <div class="well">
                    <div class="row">
                        <div class="col-md-12">
                            <label>是否管理员</label>
                            <div class="checkbox" style="margin-top: 5px;">
                                <label for="user_admin_flag">
                                  <%= f.check_box :admin_flag %> 设为管理员
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

				<% if @user.account_type.blank? || [4,5].include?(@user.account_type) %>
	                <div class="well">
	                    <div class="row">
	                        <div class="col-md-12">
	                            <label>用户类型</label>
								<div>
						            <select class="form-control input-small" id="account_type_id" name="user[account_type]" style="width: 200px">
										<option value="">-- 请选择 --</option>
						                <% @account_types.each do |account_type| %>
						                	<option value="<%= account_type.id %>" <%= f.object.account_type == account_type.id ? 'selected' : '' %> >
						                    	<%= account_type.name %>
						                	</option>
						                <% end %>
						            </select>
								</div>
								<div id="sales_organizations" style="margin-top: 10px">
									<label>所属组织</label>
		                            <div class="row">
										<div class="col-md-5">
											<label>已选择</label>
											<select id="selected_organization" name="selected_organization" multiple="multiple" class="sales-organizations">
								                <% @user_organizations.each do |organization| %>
								                	<option value="<%= organization.id %>">
								                    	<%= organization.name %>
								                	</option>
								                <% end %>
											</select>
										</div>
										<div class="col-md-2">
											<div style="margin-top: 50px; margin-bottom: 50px">
												<a id="btnAddOrganization" href="javascript:void(0);" class="btn btn-primary" style="width: 100%">
													<span>加入</span>
												</a>
												<br />
												<br />
												<a id="btnRemoveOrganization" href="javascript:void(0);" class="btn btn-primary" style="width: 100%">
													<span>移出</span>
												</a>
											</div>
										</div>
										<div class="col-md-5">
											<label>未选择</label>
											<select id="unselected_organization" name="unselected_organization" multiple="multiple" class="sales-organizations">
								                <% @not_user_organizations.each do |organization| %>
								                	<option value="<%= organization.id %>">
								                    	<%= organization.name %>
								                	</option>
								                <% end %>
											</select>
										<div>
									</div>
								</div>
	                        </div>
	                    </div>
	                </div>
				<% end %>
				
            </div>
        </div>

        <button id="user-form-submit" class="btn btn-primary" name="commit" type="submit">
            <span class="text">保存 </span> <span class="loader" style="display:none"></span>
        </button>

    </fieldset>
	
	<%= hidden_field_tag :user_organization_ids, "" %>
	
<% end %>

<div id="default_photos_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="default_photos_modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

        <div class="modal-header">
            <button id="close_use_ours" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">请选择一个头像</h4>
        </div> <!-- /.modal-header -->

            <div class="modal-body">
		 		<div style="padding:10px; position:relative;">
					<% 45.times do |i| %>
						<div data-photo='<%=image_url("avatars/Avatar_#{(i+1).to_s}.jpg")%>' class="default-photo-div" style="float:left; margin-bottom:5px; text-align:center; width:20%;"><%= image_tag "avatars/Avatar_#{(i+1).to_s}.jpg", class: "img-responsive", style: "max-width:50px; margin:0 auto; border:1px solid white; border-radius:3px; cursor:pointer;" %></div>
					<% end %>
					<div class="clearfix"></div>
				</div>
            </div> <!-- end of modal body -->
			
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<script>
$("#default_photos_modal .default-photo-div img").mouseenter(function(){
	$(this).css("border", "1px solid #ccc");
}).mouseleave(function(){
	$(this).css("border", "1px solid white")
}).click(function(){
	$(".preview img").attr("src", $(this).attr("src")).addClass("img-responsive").removeAttr("width").removeAttr("height").css({"margin":"0 auto","max-height":"100px","display":"block"});
	$("input[name=user_profile_picture]").val("");
	$("input[name=use_photo]").val($(this).closest("div").data("photo"));
	$("#default_photos_modal").modal("hide");
});
</script>

<script>
$(document).ready(function() {
	
	var user_organization_ids = "";
	<% @user_organizations.each_with_index do |organization, index| %>
		<% if index == @user_organizations.count - 1 %>
			user_organization_ids += "<%=organization.id%>";
		<% else %>
			user_organization_ids += "<%=organization.id%>" + ",";
		<% end %>
	<% end %>
	
	$("#user_organization_ids").val(user_organization_ids);
	
	var account_type_id=<%= @user.account_type.blank? ? 0 :@user.account_type%>;
	
	if (account_type_id == 4) {
		$("#sales_organizations").show();
	} else {
		$("#sales_organizations").hide();
	}
	
	$("#account_type_id").change(function(){
		
		if ($(this).val() == 4) {
			
			$("#sales_organizations").show();
			
		} else {
			
			$("#sales_organizations").hide();
			
		}
		
	});
	
	$("#btnAddOrganization").click(function(){
	
		$("select[name='unselected_organization'] option:selected").remove().appendTo('#selected_organization');
		refreshSelectedUserOrganizations();
		
	});	
	
	$("#btnRemoveOrganization").click(function(){
	
		$("select[name='selected_organization'] option:selected").remove().appendTo('#unselected_organization');
		refreshSelectedUserOrganizations();
		
	});	
				
});

function refreshSelectedUserOrganizations() {

	var len = $("select[name='selected_organization'] option").length;
	var user_organization_ids = "";
	$("select[name='selected_organization'] option").each(function(index, element){
		
		if (index == len - 1) {
			user_organization_ids += $(this).val();
		} else {
			user_organization_ids += $(this).val() + ",";
		}
		
	});
	
	$("#user_organization_ids").val(user_organization_ids);
	
}
</script>