<div id="users" style="padding: 30px 0">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h3>用户</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>日期</th>
                                <th>姓名</th>
                                <th>昵称</th>
                                <th>头衔/职位</th>
                                <th>头像</th>
                                <th>管理员</th>
                              <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @users.real.each do |user| %>
                            <tr>
                                <td><%= user.created_at.strftime('%b %-d, %Y') %></td>
                                <td>
                                  <%= link_to user.profile.fullname, edit_admin_user_path(user) %>
                                </td>
                                <td><%= user.profile.display_name %></td>
                                <td><%= user.profile.title %></td>
                                <td>
                                  <% if user.profile.picture&&user.profile.picture.length>0%>
                                      <%= image_tag user.profile.picture+"?id=#{rand(100)}", width: 28, height: 28 %>
                                  <% else %>
                                      <%= image_tag "logo.png",width: 28, height: 28 %>
                                  <% end %>

                                </td>
                                <td>
                                    <% if user.admin? %>
                                        <span class="glyphicon glyphicon-ok"></span>
                                    <% end %>
                                </td>
                              <td>
                                   <%= link_to '删除',admin_user_path(user),:method => :delete,data: { confirm: '您确定要删除该用户吗?' } %>
                              </td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <%= link_to '添加用户', new_admin_user_path, class: 'btn btn-primary' %>

    </div>
</div>
