<div id="user_modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="userModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header modal-header-purple">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Create An Account</h4>
            </div>
			
			<div id="social_result" style="display:none;"></div>
			
            <div id="user_modal_signup">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6" style="border-right: 2px solid #eee;">
                            <%= form_for(User.new, url: signup_create_path, html: { id: "new_user_form" }) do |f| %>

								<div class="col-md-12">
	                                <div class="form-group">
	                                    邮箱
	                                    <%= f.email_field :email, class: "form-control new-user-email", placeholder: "请输入邮箱", autocomplete: "off" %>
	                                </div>
								</div>
							
								<div class="col-md-12">
	                                <div class="form-group">
	                                    密码
	                                    <%= f.password_field :password, class: "form-control new-user-password", placeholder: "请输入密码", autocomplete: "off" %>
	                                </div>
								</div>
							
								<div class="col-md-12">
									<div class="form-group"> 
											<label for="user_first_name">姓</label>
							                <input id="user_first_name" name="first_name" type="text" class="form-control" placeholder="请输入姓">
									</div>
								</div>
							
								<div class="col-md-12">
									<div class="form-group"> 
											<label for="user_last_name">名</label>
							                <input id="user_last_name" name="last_name" type="text" class="form-control" placeholder="请输入名">
									</div>
								</div>

 								<div class="col-md-12">
 									<div class="form-group"> 
											<input id="user_terms_conditions" type="checkbox" name="user[terms_conditions]" />
											<label for="user_terms_conditions" style="font-weight:normal; display:inline;">阅读并同意11号公益圈<%= link_to "服务协议", "/reg_tos",{:target=>"_blank"} %></label>
 									</div>
 								</div>
								
                                <p class="error-message" style="display: none">登录有问题，请稍后再试!</p>
                                <input type="hidden" id="landing" name="landing" value="">
							
								<div class="col-md-12" style="text-align:center;">
	                                <button type="submit" class="btn btn-primary" style="width:180px; height:40px; font-size:16px;" onclick="return Raisy.verify_user(false, $('.new-user-email').val(), $('.new-user-password').val());">
	                                    <span class="text">创建我的帐户</span> <span class="loader" style="display:none"></span>
	                                </button>
								</div>
                            <% end %>
							<div class="col-md-12 login-social-error" style="display:none;">
						        <div class="alert alert-warning">
						            <div class="login-social-message" style="text-align: center;"> 
						            </div>
						        </div>
								<div>&nbsp;</div>
							</div>
                        </div>
						
						<!-- <div class="col-md-6">
							<div class="col-md-12">
					            <div class="form-group">
									<label class="control-label">&nbsp;</label>
					            </div>
							</div>

							<div class="col-md-12 login-media-box">
					            <div class="form-group">
									<label class="control-label">&nbsp;</label>
									<a class="btn btn-block btn-social btn-facebook" onclick="Raisy.fb_login(false);">
										<i class="fa fa-facebook"></i>
									 	<span>Login with Facebook</span>
									</a>
									</br>
									<a class="btn btn-block btn-social btn-twitter" onclick="Raisy.tw_login(false);">
										<i class="fa fa-twitter"></i>
									 	<span>Login with Twitter</span>
									</a>
					            </div>
							</div>

							<br/>

							<div class="col-md-12 login-social-error" style="display:none;">
						        <div class="alert alert-warning">
						            <div class="login-social-message" style="text-align: center;">
						            </div>
						        </div>
								<div>&nbsp;</div>
							</div>
						</div> -->
                    </div>
                </div> <!-- end of .modal-body -->
				
	            <div class="modal-footer" style="background:#eee;">
					<div style="text-align:center;">
						<span>已经有帐户了？&nbsp;<a class="user-modal-signin" style="text-decoration:none; cursor:pointer;"><strong>登录</strong></a></span>
					</div>
	            </div> <!-- /.modal-footer -->
            </div>  <!-- end of #user_modal_signup -->

            <div id="user_modal_signin">
                <div class="modal-body">
                    <p style="margin-bottom: 20px;">
                        欢迎回来！
                    </p>
                    <div class="row">
                        <div class="col-md-12" style="border-right: 2px solid #eee;"> 
                            <%= form_for(User.new, url: user_session_path, html: { id: "exist_user_form" } ) do |f| %>
							<div class="col-md-12">
                                <div class="form-group"> 
									<label>邮箱</label>
                                    <%= f.email_field :email, autofocus: true, class: "form-control old-user-email", placeholder: "请输入邮箱", autocomplete: "off" %> 
                                </div>

                                <div class="form-group"> 
                                    <label>密码</label>&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size:12px;"><%= link_to "忘记密码？", "/users/password/new", style: "text-decoration:none;" %></span>
                                    <%= f.password_field :password, class: "form-control old-user-password", placeholder: "请输入密码", autocomplete: "off" %> 
                                </div>
							
								<div class="form-group" style="text-align:center; margin-top:30px;">
									 <%= f.submit "登录", class: "btn btn-lightgreen", style: "width:180px; height:40px; font-size:16px;", onclick: "return Raisy.verify_user(true, $('.old-user-email').val(), $('.old-user-password').val());" %><span class="loader" style="display:none"></span>
								</div> 
							</div>
                            <% end %>
							<div class="col-md-12 login-social-error" style="display:none;">
						        <div class="alert alert-warning">
						            <div class="login-social-message" style="text-align: center;"> 
						            </div>
						        </div>
								<div>&nbsp;</div>
							</div>
                        </div>
						
						<!-- <div class="col-md-6">
							<div class="col-md-12">
					            <div class="form-group">
									<div style="margin-top:35px;">
										<a class="btn btn-block btn-social btn-facebook" onclick="Raisy.fb_login(false);">
											<i class="fa fa-facebook"></i>
										 	<span>Login with Facebook</span>
										</a>
									</div>
									<br/>
   									<div>
   										<a class="btn btn-block btn-social btn-twitter" onclick="Raisy.tw_login(false);">
   											<i class="fa fa-twitter"></i>
   										 	<span>Login with Twitter</span>
   										</a>
   									</div>
					            </div>
							</div>

							<br />

							<div class="col-md-12 login-social-error" style="display:none;">
						        <div class="alert alert-warning">
						            <div class="login-social-message" style="text-align: center;">
						            </div>
						        </div>
								<div>&nbsp;</div>
							</div>
						</div> -->
                    </div>
                </div> <!-- end of .modal-body -->
				
	            <div class="modal-footer" style="background:#eee;">
					<!-- <div style="text-align:center;">
						<span>Don't have an account?&nbsp;<a class="user-modal-signup" style="text-decoration:none; cursor:pointer;"><strong>Sign Up</strong></a></span>
					</div> -->
	            </div> <!-- /.modal-footer -->
            </div>  <!-- end of #user_modal_signin -->

        </div>
    </div>
</div>