<!DOCTYPE html>
<html>
<head>
    <title>Raisy</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-title" content="Raisy">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
    <%= csrf_meta_tags %>
    <%= render "layouts/facebook_metas" %>
	<%= favicon_link_tag 'favicon.ico?v=3' %>
	
	<link rel="apple-touch-icon" href="<%= image_url 'apple-touch-icon.png?v=3' %>" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:700,400' rel='stylesheet' type='text/css'>
	
	<%= stylesheet_link_tag "application", media: "all" %>
	<%= render 'layouts/google_analytics' %>
	<%= render "layouts/social_js" %>
    <%= javascript_include_tag "application" %>
</head>
<body>
    <%= render "layouts/header" %>

    <% flash.each do |key, value| %>
        <% if !value.blank? && key.to_s !='notice' %>
        <div class="alert alert-<%= key.to_s %>">
            <div class="container" style="text-align: center">
                <%= value %>
            </div>
        </div>
        <% end %>
    <% end %>

	<%= yield %>

    <%= render "layouts/footer" %>
    <%= render "layouts/user_modal" %>

    <%= cloudinary_js_config %>
</body>
</html>
